{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "FireFox >= 44",
          "Safari >= 7",
          "Explorer 11",
          "last 4 Edge versions"
        ]
      },
      "useBuiltIns" : true
    }]
  ],

  "ignore": [
    "node_modules"
  ],
  "plugins": ["@babel/plugin-transform-parameters", "@babel/plugin-transform-template-literals"]

}