tmp/
*.log
.vscode
.DS_Store

node_modules/

public/css/
public/build/

#map style
public/mapstyle/

#generated i18n messages
public/message

bench/trace.json
bench/report.json
bench/results.har

stats.json

.env
.env.*
/.idea/
