tmp/
*.log
.vscode
.DS_Store
.idea

node_modules/

public/css/
public/build/
public/compilationHash.js

#map style
public/mapstyle/

#generated i18n messages
public/message

# Code coverage
coverage-ts/

bench/trace.json
bench/report.json
bench/results.har

stats.json

.env
.env.*
