.alert {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 32px;
  left: 50%;
  width: 800px;
  max-width: calc(100% - 96px);
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 12px;
  transform: translateX(-50%);
  color: white;
  background-color: $grey-darker;

  @media (max-width: 640px) {
    top: calc(64px + 16px);
    bottom: unset;
    max-width: calc(100% - 32px);
  }

  &-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: $grey-bright;
  }

  &-content {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    font-size: 18px;
    margin-right: 16px;
  }

  .closeBtn {
    color: $grey-semi-lightness;
    height: 100%;
    right: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: 8px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.icon-error {
  color: $red-base;
}

.icon-warning {
  color: $orange-base;
}

.icon-info {
  color: $action-blue-light;
}

.icon-success {
  color: $green-base;
}

