@keyframes appearAlert {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.alert {
  min-height: 40px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: $spacing-s;
  animation: appearAlert 0.3s;

  &--success {
    border-color: $green-base;
    background-color: $green-lighter;

    .alert-icon {
      color: $green-base;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &-icon {
    flex-shrink: 0;
  }

  &-text {
    padding-right: $spacing-xl;
  }

  .closeButton {
    position: absolute;
    height: 100%;
    right: -$spacing-xxs;
  }
}
