.block {
  display: flex;
  padding: $spacing-xs $spacing-s;
  width: 100%;

  &-icon {
    font-size: 20px;
    margin-top: $spacing-xs;
    margin-right: $spacing-s;
    color: $action-blue-base;
  }

  &-content {
    width: 100%;
    min-width: 0;
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      background-color: $grey-bright;
      text-decoration: none;
    }
  }

  @media (min-width: 641px) {
    padding: $spacing-xs $spacing-m;
  }
}
