.block {
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-s;
  width: 100%;
  text-decoration: none !important;

  &-icon {
    margin-top: $spacing-xs;
    margin-right: $spacing-s;
    color: $action-blue-base;
    align-self: flex-start;
  }

  &-content {
    width: 100%;
    min-width: 0;

    svg + & {
      margin-left: $spacing-s;
    }
  }

  &-action {
    color: $grey-semi-darkness;
    width: 24px;
    flex-shrink: 0;
    text-align: center;
  }

  &--clickable {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--grey-050);
      transition: background-color 0.2s ease-in-out;
      text-decoration: none;

      .block-action {
        color: $grey-black;
      }
    }
  }

  &.block-website {
    .block-content {
      .block-value {
        text-decoration: underline;
      }
    }
  }

  &.block-socialNetworks {
    .block-content {
      .block-value {
        a {
          text-decoration: none !important;
        }
      }
    }
  }

  @media (min-width: 641px) {
    padding: $spacing-xs $spacing-m;
  }
}
