.button {
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 9px;
  border-radius: 18px;
  font-size: 14px;
  pointer-events: all;
  cursor: pointer;

  &--primary {
    background-color: $action-blue-base;
    border: 1px solid $action-blue-base;
    color: white;
    font-weight: bold;
  }

  &--secondary {
    background-color: white;
    border: 1px solid $action-blue-base;
    color: $action-blue-base;
  }

  &--tertiary {
    background-color: white;
    color: $action-blue-base;
  }

  &:disabled {
    background-color: $grey-lighter;
    border-color: $grey-lighter;
    color: $grey-grey;
    cursor: unset;
  }

  &-content {
    flex-grow: 1;
    text-align: center;
    padding: 0 3px;
    /* secure long content */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-icon {
    font-size: 16px;
    width: 16px;
  }

  &-icon + &-content {
    margin-left: 4px;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:not(.button--primary):not(:disabled):hover {
    background: $action-blue-lighter;
  }
}

a.button {
  &:hover {
    text-decoration: none;
  }
}
