.closeButton {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--grey-900);
  flex-shrink: 0;
  z-index: 1;

  &--topRight {
    margin-top: -9px;
    margin-right: -9px;
  }

  &--small {
    height: 24px;
    width: 24px;

    &.closeButton--topRight {
      margin-top: -6px;
      margin-right: -6px
    }
  }
}
