.contextMenu {
  position: relative;

  &-button {
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: $primary_clear;

    &:hover {
      background: $separator_color;
      color: $primary_alternative_text;
      cursor: pointer;
    }
  }

  &-menu {
    position: absolute;
    right: 36px;
    top: -9px;
    padding: 9px;
    background: $background;
    color: $primary_text;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  }

  &-menuItem {
    padding: 6px;
    cursor: pointer;
    
    &:hover {
      color: $secondary_text;
    }
   
    i {
      padding-right: 9px;
    }
  }
}