.feedback {
  background-color: var(--grey-000);
  border-top: 1px solid $grey-light;
  padding: $spacing-s $spacing-m;

  .closeButton {
    margin-top: 0;
  }

  &-question {
    flex-grow: 1;
  }
}

.feedback-success {
  position: relative;

  .feedback-success-alert {
    position: absolute;
    margin: $spacing-s $spacing-m;
    bottom: 0;
  }
}
