.feedback {
  border-top: 1px solid $grey-light;
  padding: $spacing-s $spacing-m;

  .closeButton {
    align-self: flex-start;
  }

  &-button {
    svg {
      margin-right: $spacing-xxs;
    }

    .button-content {
      padding-left: 0;
    }
  }
}

.feedback-success {
  position: relative;

  .alert {
    position: absolute;
    margin: $spacing-s $spacing-m;
    bottom: 0;
  }
}
