.floatingButton {
  height: 48px;
  width: 48px;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-000);
  box-shadow: $shadow;

  svg {
    fill: $grey-semi-darkness;
  }
}
