.itemList-item {
  background: $background;
}

.itemList--hover .itemList-item {
  position: relative;

  &:hover {
    background: $surface;
  }
}

@media (max-width: 640px) {

  .itemList {
    padding-bottom: 12px;
    margin: 0;
  }

  .itemList-item {
    margin: 0;
    &:not(:last-child):after {
      display: none;
    }
  }
}
