.itemList-item {
  background: $background;
}

.itemList--hover .itemList-item {
  position: relative;

  &:hover {
    background: $surface;

    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: #FF3B4A;
    }
  }
}

@media (max-width: 640px) {
  .panel--pj .itemList {
    padding-bottom: 36px;
  }

  .itemList {
    padding-bottom: 12px;
    margin: 0;
  }

  .itemList-item {
    margin: 0;
    &:not(:last-child):after {
      display: none;
    }
  }
}
