.mainActionButton {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;

  &-label {
    font-size: 12px;
    color: $grey-semi-darkness;
    line-height: 16px;
  }

  &-icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: $spacing-xs;
  }

  &:active {
    background-color: $grey-bright;
  }

  @media (min-width: 641px) {
    &:hover {
      background-color: $grey-bright;
    }
  }
}

.mainActionButton--category {
  .mainActionButton-icon {
    font-family: iconfont !important;
    color: #fff;
    font-size: 40px;
  }
}

.mainActionButton--directionMode {
  .mainActionButton-icon {
    background: #1050c5;
    border: none;
    color: #fff;
    font-size: 20px;
  }
}
