.mainActionButton {
  cursor: pointer;
  padding: $spacing-xs $spacing-xxxs;
  border-radius: 8px;
  position: relative;

  &-label {
    font-size: 12px;
    color: $grey-semi-darkness;
    line-height: 16px;
  }

  &-icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: $spacing-xs;
  }

  .ecoResponsible-leaf {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 0;
    transform: translateY(10px);
  }

  .ecoResponsible-leaf-inner {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var(--grey-000);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-5px) translateX(5px);
  }

  .ecoResponsible-icon {
    display: block;
    width: 12px;
    height: 12.2px;
    position: relative;
    fill: var(--green-500);
  }

  &:active {
    background-color: var(--grey-050);
  }

  @media (min-width: 641px) {
    &:hover {
      background-color: var(--grey-050);
    }
  }
}

.mainActionButton--category {
  .mainActionButton-icon {
    font-family: iconfont !important;
    color: #fff;
    font-size: 40px;
  }
}

.mainActionButton--directionMode {
  .mainActionButton-icon {
    background: var(--green-400);
    border: none;
    color: var(--grey-900);
    font-size: 20px;
  }
}

.mainActionButton--no-interaction {
  pointer-events: none;
}
