.panel-hidden {
  .panel:not(.direction_panel) {
    display: none;
  }
  .service_panel__category_toggle {
    display: none;
  }
}

.panel {
  @include long_shadow();
  @include panel_radius();
  background-color: white;
  width: $panel_width;

  &-header {
    pointer-events: all;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
    text-align: center;
  }

  &-close {
    cursor: pointer;
    transition: background-color .1s;
    border-radius: 50%;
    font-size: 20px;
    height: 24px;
    width: 24px;
    color: $secondary_text;
    margin-left: auto;

    &:hover {
      color: $primary_text;
    }
  }
}

@media (max-width: 640px) {
  .panel {
    width: 100vw;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #f4f6fa;
    border-radius: 12px 12px 0 0;
    bottom: 0;

    &-close {
      color: $primary_text;
    }

    &--white {
      background: white;
    }

    &:not(.panel--holding) {
      transition: height 0.2s ease-in-out;

      &.maximized {
        box-shadow: none;
      }
    }

    &.maximized {
      border-radius: 0;
      height: calc(100% - #{$top_bar_height});

      .panel-content {
        overflow: auto;
      }
    }

    &.minimized {
      height: 50px;
      .panel-header {
        min-height: 50px;
      }
    }

    .panel-resizeHandle {
      width: 40px;
      height: 5px;
      margin: 4px auto;
      border-radius: 2.5px;
      background-color: #e0e1e6;
    }
  }
}
