$bottom-margin: 40px;

.panel-hidden {
  .panel:not(.direction-panel) {
    display: none;
  }
  .service_panel__category_toggle {
    display: none;
  }
}

.panel {
  @include long_shadow();
  @include panel_radius();
  background-color: white;
  width: $panel_width;
  display: flex;
  flex-direction: column;

  &-drawer {
    min-height: 20px;
    height: 20px;
    pointer-events: all;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
    text-align: center;
    width: 50%;
    align-self: center;
  }

  &-close {
    position: absolute;
    top: 8px;
    right: 16px;
    transition: background-color .1s;
    border-radius: 50%;
    font-size: 20px;
    height: 24px;
    width: 24px;
    color: $secondary_text;
    cursor: pointer;

    &:hover {
      color: $primary_text;
    }
  }
}

@media (min-width: 641px) {
  .panel {
    max-height: calc(100vh - (92px + #{$bottom-margin})); // 92px is panel.getBoundingClientRect().top

    &-header {
      flex-shrink: 0;
    }

    &-content {
      overflow-y: auto;
    }
  }

}

@media (max-width: 640px) {
  .panel {
    width: 100vw;
    position: fixed;
    border-radius: 12px 12px 0 0;
    bottom: 0;

    &-close {
      color: $primary_text;
    }

    &:not(.panel--holding) {
      transition: transform 0.2s ease-in-out;

      &.maximized {
        box-shadow: none;
      }
    }

    &.maximized {
      border-radius: 0;
      .panel-content {
        overflow: auto;
      }
    }

    &.minimized {
      .panel-drawer {
        min-height: 50px;
      }
    }

    .panel-drawer {
      flex-shrink: 0;
    }

    .panel-handle {
      width: 40px;
      height: 5px;
      margin: 4px auto;
      border-radius: 2.5px;
      background-color: #e0e1e6;
    }
  }
}
