.poiItem {
  padding: 16px 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  @media (max-width: 640px) {
    padding: 12px 16px;
  }

  .poiTitleImage {
    width: 65px;
    height: 65px;
  }

  &-left {
    min-width: 0;

    &-address {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 4px;
    }

    &-reviews {
      display: inline-flex;
      margin-bottom: 4px;
    }
  }

  &-right {
    margin-left: 16px;
    display: flex;
    align-items: center;
  }
}
