.poiItem {
  display: flex;
  justify-content: space-between;

  &-left {
    min-width: 0;
    flex: 1;
    color: $grey-semi-darkness;
  }

  &-right {
    display: flex;
    align-items: center;
    margin-left: var(--spacing-s);
  }
}
