.shareMenu {
  position: relative;
  overflow: visible;
  text-align: left;

  &-button {
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  &-menu {
    position: fixed;
    z-index: 4;
    margin-left: -120px;
    margin-top: 10px;
    background: $background;
    color: $primary_text;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    padding-bottom: 4px;
  }

  &-menuItem {
    padding: 7px 12px;
    height: 32px;
    cursor: pointer;
    
    &:hover {
      color: $grey-black;
      background: $action-lighter;
    }
   
    i {
      padding-right: 9px;
      font-size: 18px;
      float: left;
    }

    .icon-copy {
      float: right;
      padding: 0;
    }
  }

  &-menuItem--copy {
    border-bottom: 1px solid #d9d9e0;
  }
}