.shareMenu {
  position: relative;
  overflow: visible;

  &-button {
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  &-menu {
    position: fixed;
    z-index: 4;
    margin-left: -170px;
    margin-top: 5px;
    background: $background;
    color: $primary_text;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
  }

  &-menuItem {
    padding: 7px 12px;
    cursor: pointer;
    
    &:hover {
      color: $secondary_text;
    }
   
    i {
      padding-right: 9px;
    }
  }

  &-menuItem--copy {
    border-bottom: 1px solid #d9d9e0;
  }
}