.sourceFooter {
  width: 100%;
  border-top: 1px solid $grey-light;
  font-size: 12px;
  padding: var(--spacing-xxs) var(--spacing-m);
  color: $grey-semi-darkness;

  a {
    color: $grey-semi-darkness !important;
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

@media (max-width: 640px) {
  .sourceFooter {
    position: fixed;
    text-align: center;
    bottom: 0;
    min-height: 36px;
    font-size: 14px;
    border-radius: 0;
    background-color: var(--grey-000);
    z-index: 3;
  }
}
