.category__panel {
  display: block;
  position: relative;
  width: $panel_width;
  background: $background;
  @include card_shadow();
  @include card_radius();
}

.category__panel--hidden {
  display: none;
 }

.category__panel__scroll {
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 240px);
}

.category__panel__head {
  font-size: 12px;
  color: #5c6f84;
  border-bottom: 1px solid #f4f6fa;
  padding: 9px 12px 9px 12px;
  min-height: 40px;
}

.category__panel__logo_pj {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px 0 0;
}

.category__panel__title {
  font-weight: 500;
  color: #353c52;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
}

.category__panel__partnership_icon {
  width: 20px;
  height: 20px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 0 0 10px;
  float: right;
  border: 2px solid #c8cbd3;
  color: #c8cbd3;
  border-radius: 50%;
  text-align: center;
}

.category__panel__partnership {
  font-size: 11px;
  color: #c8cbd3;
  float: right;
  margin: 5px 0 0 4px;
}

.category__panel__close {
  width: 20px;
  height: 20px;
  float: right;
  margin: 9px 9px 0 9px;
  background-size: 16px;
  cursor: pointer;
  font-size: 18px
}

.category__panel__item {
  padding: 0px 30px;
  cursor: pointer;
}

.category__panel__item:hover {
  border-left: 4px solid #ff3b4a;
  background: #f4f6fa;
  padding: 0px 30px 0 26px;
}

.category__panel__item_inner {
  border-bottom: 1px solid #e0e1e6;
  padding: 14px 0;
  min-height: 100px;
}

.category__panel__item:last-of-type .category__panel__item_inner {
  border-bottom: none;
}

.category__panel__image {
  float: right;
  margin: 5px 0 10px 10px;
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center center;

  .poi_panel__title__symbol {
    margin: 13px 0 0 11px;
  }
}

.category__panel__name {
  font-weight: bold;
  font-size: 16px;
  color: #353c52;
}

.category__panel__type {
  font-size: 12px;
  color: #5c6f84;
  text-transform: capitalize;
}

.category__panel__address {
  font-size: 14px;
  color: #353c52;
  margin-top: 5px;
  text-overflow: ellipsis;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
}

.category__panel__item {
  .poi_panel__info__hours__status__text {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color: #353c52;
  }
}

.category__panel__status {
  color: #353c52;
  font-size: 14px;
  display: inline-block;
}

.category__panel__status__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 0 0 5px;
}

.category__panel__status__dot--open {
  background: #40ac6b;
}

.category__panel__status__dot--closed {
  background: #ff3b4a;
}

.category__panel__phone {
  color: $secondary_text;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;

  span {
    vertical-align: middle;
  }

  a {
    color: $secondary_text;
  }

  .icon-icon_phone {
    font-size: 16px;
    margin: 0 5px 0 0;
  }
}

.category__panel__error {
  padding: 50px 40px;
  color: #353c52;

  button {
    font-size: 14px;
    color: #5c6f84;
    margin: 10px 0 0;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.category__panel__notfound {
  position: relative;
  width: 400px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 35px 70px;
  text-align: center;
}

.category__panel__notfound .category__panel__close {
  position: absolute;
  top: 9px;
  right: 9px;
  color: $secondary_text;
}

.category__panel__warning {
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.16);
  margin-bottom: 8px;
}

.category__panel__close_text {
  text-align: center;
  color: #48718b;
  margin-bottom: 15px;
}

.category__panel__back {
  cursor: pointer;
  text-transform: uppercase;
  color: $secondary_text;
  font-size: 12px;
}

.category__panel__back_icon {
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  position: relative;
  font-size: 16px;
}

@media (max-width: 640px) {
  .category__panel {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 50vh;
    min-height: 300px;
    background: #f4f6fa;
  }

  .category__panel__item {
    padding: 0 16px;
  }

  .category__panel__item:hover {
    border-left: none;
    padding: 0 16px;
  }

  .category__panel__item_inner {
    border: none;
    background: #fff;
    margin: 4px 0 8px;
    padding: 14px 10px 14px 16px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.16);
  }

  .category__panel__head {
    overflow: auto;
  }

  .category__panel__pj {
    margin: auto;
    max-width: 180px;
    text-align: center;
  }

  .category__panel__phone {
    display: none;
  }
}
