.category__panel {
  .poiItem {
    padding: var(--spacing-m);
    cursor: pointer;
  }

  .poiItem-subclassStarsAndHours {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback,
  .feedback-success {
    position: sticky;
    bottom: 0;
  }
}

.category__panel__items {
  animation: appear 600ms forwards;
}

.category__panel__error {
  padding: $spacing-m;
}

.category__panel__sourceImage {
  display: inline-block;
  margin-left: var(--spacing-s);
}

.category__panel__sourceLink {
  margin-left: var(--spacing-xxs);
}

@media (min-width: 641px) {
  .category__panel {
    &.panel--pj,
    &.panel--ta,
    &.panel--et {
      .panel-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }

      .category__panel__items {
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 640px) {
  .category__panel {
    position: absolute;
    width: 100vw;
    bottom: 0;
    background: $surface;

    .panel-close {
      display: none;
    }

    .poiItem {
      padding: var(--spacing-s) var(--spacing-m);
      pointer-events: none;
    }

    &.panel--pj,
    &.panel--ta,
    &.panel--et {
      padding: 0 0 36px;
    }

    &:not(.maximized) {
      .feedback {
        display: none;
      }
    }
  }

  .category__panel__error {
    padding-top: 0;
  }

  .category__panel__items--offset-pages_jaunes,
  .category__panel__items--offset-tripadvisor {
    padding-bottom: 36px !important;
  }

  .category__panel__items--offset-ecotables {
    padding-bottom: 72px !important;
  }
}
