
.category__panel__pj {
  width: 100%;
  display: flex;
  line-height: 18px;
  align-items: center;
  justify-content: space-between;

  &_title {
    font-weight: 400;
    color: #353c52;
    font-size: 12px;
    text-transform: uppercase;
    background: url('../images/pagesjaunes.svg') no-repeat left center;
    background-size: 18px;
    padding-left: 24px;
  }

  &_partnership {
    font-size: 11px;
    color: #c8cbd3;

    &::after {
      content: "i";
      width: 16px;
      height: 16px;
      display: inline-block;
      border: 2px solid #c8cbd3;
      color: #c8cbd3;
      border-radius: 50%;
      text-align: center;
      font-weight: 600;
      margin-left: 6px;
    }
  }
}

.category__panel__item {
  padding: 15px 20px;
  cursor: pointer;

  .poiTitleImage {
    float: right;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.category__panel__name {
  font-weight: bold;
  font-size: 16px;
  color: #353c52;
}

.category__panel__type {
  font-size: 12px;
  color: #5c6f84;
  text-transform: capitalize;
}

.category__panel__address {
  font-size: 14px;
  color: #353c52;
  margin-top: 5px;
  text-overflow: ellipsis;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
}

.category__panel__phone {
  color: $secondary_text;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;

  span {
    vertical-align: middle;
  }

  a {
    color: $secondary_text;
  }

  .icon-icon_phone {
    font-size: 16px;
    margin: 0 5px 0 0;
  }
}

.category__panel__error {
  padding: 30px 40px 50px;
  color: $primary_text;

  button {
    font-size: 14px;
    color: #5c6f84;
    margin: 10px 0 0;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (max-width: 640px) {
  .category__panel {
    position: absolute;
    width: 100vw;
    bottom: 0;
    background: $surface;

    .panel-close {
      display: none;
    }
  }

  .category__panel__error {
    padding-top: 0;
  }

  .category__panel__items {
    max-height: none;
    height: 100%;
    width: calc(100% - 32px);
    margin: 0 16px;
  }

  .category__panel__item {
    padding: 14px 10px 14px 16px;
  }

  .category__panel__phone {
    display: none;
  }
}
