.covid19 {
  .poi_panel__sub_block__title {
    cursor: default;
    margin-bottom: 6px;
    display: flex;
  }

  &-tag {
    color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 1px 6px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
    align-self: flex-start;
    flex-shrink: 0;
  }

  &-status {
    flex-grow: 1;
  }

  &-timeTableContainer {
    margin-top: 6px;
    position: relative;
  }

  .icon-icon_clock,
  .icon-icon_info {
    font-size: 16px;
    width: 20px;
    height: 18px;
    color: $primary_clear;
  }

  .icon-icon_clock {
    position: absolute;
    top: 5px;
  }

  .icon-icon_info {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-icon_clock,
  .icon-icon_info,
  .icon-alert-triangle {
    min-width: 24px;
  }

  .timetable {
    margin-left: 24px;
    margin-bottom: 3px;
  }

  &-source {
    color: $secondary_text;
    margin-top: 6px;

    a {
      color: $secondary_text;
    }
  }

  &-contributeLink {
    text-transform: uppercase;
    font-weight: normal !important;
    transition: background-color 0.25s;
    margin-top: 20px;

    &:hover {
      background-color: $background_hover;
    }
  }

  &-changeWarning {
    margin-bottom: 6px;
  }

  &-note {
    margin: 12px 0 6px;
    display: flex;
    flex-direction: row;
  }

  &-legalWarning {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    background-color: $surface;
    border-radius: 3px;
    padding: 9px 6px;
    margin-top: 20px;

    p + p {
      margin-top: 0.5em;
    }

    i {
      color: red;
      font-size: 15px;
      margin: 0 6px;
    }

    a {
      color: $primary_text;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
