.favorites_panel {
  transition: left .2s;
  left: $side_bar_width;
  background: #fff;
  height: 100vh;
  width: $panel_width;
  position: absolute;
  overflow-x:hidden;
  overflow-y: auto;
}

.favorites_panel::-webkit-scrollbar {
  width: 5px;
}

.favorites_panel:hover::-webkit-scrollbar {
  width: 5px;
}

.favorites_panel:hover::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 233, 1);
}

.favorites_panel:hover::-webkit-scrollbar-thumb {
  background-color: rgba(98, 195, 255, 1);
  border-radius: 2px;
}

.favorites_panel--hidden {
  left: - $panel_width - $side_bar_width;
}

.favorite_panel__image_header {
  background-image: url("../statics/images/tmp_fixtures/anthony-delanoix-8433-unsplash.jpg");
  background-size: $panel_width;
  background-position: center;
  width: $panel_width;
  height: 200px;
}

.favorite_panel__container {
  float: left;
  width: $panel_width;
  padding: 85px 0 0 0;
}

.favorite_panel__close {
  position: absolute;
  right: 0;
  top: 56px;
  padding: 5px 10px;
  background: white;
  color: #a81111;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
}

.favorite-panel--handler:hover {
  background-color: #d5d6dc;
}

.favorite_panel__item {
  font-size: 18px;
}

.favorite_panel__remove {
  font-size: 18px;
  vertical-align:bottom;
}

.favorite_panel__go {
  line-height: 16px;
}

.favorite_panel__item__info {
  height: 70px;
  padding: 18px 0 10px 0;
}

.favorite_panel__action {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #d3d5d7;
  border-radius: 50%;
  vertical-align: center;
}

.favorite_panel__item__actions {
  float: right;
  display: none;
  margin: 20px 10px 0 0;
}

.favorite_panel__item__title {
  font-size: 16px;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #454B57;
}

.favorite_panel__item__image {
  width: 64px;
  float: left;
  font-size: 32px;
  padding-left: 20px;
}

.favorite_panel__container__empty {
  color: #454B57;
  padding: 20px;
}

.favorite_panel__container__title {
  color: $text_color;
  padding-top: 10px;
  margin: 20px 0 -4px 20px;
  font-weight: normal;
  font-size: 22px;
}

.favorite_panel__item__desc {
  font-size: 12px;
  color : #8d929c;
}

.favorite_panel__swipe_window {
  overflow-x: hidden;
  clear: both;
}

.favorite_panel__swipe_element {
  overflow: hidden;
  width: $panel_width;
  height: 70px;
  padding: 0 8px 0 4px;
  transition: height .2s;
}

.favorite_item--removed {
  height: 0;
}

.favorite_panel__swipe_element:not(:last-child):after {
  display: block;
  content: '';
  clear: both;
  height: 1px;
  width: 100%;
  background-color: #f3f3f3;
}

.favorite_panel__swipe_element:hover {
  background: #f9fbfd;
  border-left: 4px solid #f95d00;
  padding-left: 0;
}

.favorite_panel__swipe_element:hover .favorite_panel__item__actions {
  display: block;
}

.favorite_panel__filter {
  transition: background-color, color .2s;
  float: right;
  margin: -30px 40px 0 0;
  font-size: 14px;
  color: #fff;
  background-color: #00a5fe;
  padding: 5px 16px;
  border-radius: 16px;
  border:3px solid transparent;
}

.favorite_panel__filter:hover {
  background-color: #fff;
  color: #00a5fe;
  border:3px solid #00a5fe
}

.filter_panel {
  font-size: 13px;
  color:#353739;
  display: none;
  position: absolute;
  width: 300px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.52) 1px 1px 6px;
  background-color: #fff;
  right: 20px;
  margin-top: 5px;
  border-radius: 3px;
}

.filter_panel__label {
  display: block;
  width: 100%;
  padding: 3px 5px;
}

.filter_panel INPUT[type=checkbox] {
  display: none;
}

INPUT[type=checkbox]:checked + .filter_panel__label {
  font-weight: bold;
  background-color: #f8fafc;
}

.filter_panel--active {
  display: block;
}

@media (max-width: 640px) {

  .favorite-panel--handler {
    bottom: 0;
    position: absolute;
    margin-top: 300px;
    height: 20px;
  }

  .favorite_panel__image_header {
    width: 100vw;
    background-size: 100vw 200px;
  }

  .favorite_panel__item__actions {
    display: block;
  }

  .favorite_panel__container__title {
    margin-left: 20px;
  }

  .favorite_panel__close {
    font-size: 36px;
    top: 70px;
  }

  .favorite_panel__container {
    width: 100%;
  }

  @for $i from 1 through 20 {
    .favorite_panel__swipe_flow--#{$i} {
      width: calc(#{$i * 390}px + #{$i * 10}px);
    }
  }

  .favorites_panel {
    height: 100vh;
    width: 100vw;
    transition: top .2s;
    padding-top: 70px;
    top:0;
    left: 0;
  }

  .favorite_panel__item {
    width: calc(100vw - 20px);
    margin-left: 20px;
  }

  .favorites_panel--hidden {
    top: calc(-100vh + 70px);  }

  .favorite_panel__swipe_window {
    margin: 20px 0 0 0;
    overflow-x: scroll;
    width: calc(100vw - 40px);
  }

  .favorite_panel__swipe_element {
    width: 390px;
    margin-right: 10px;
    border : 2px solid #c4c5c6;
    float: left;
  }
}


