.favorites_panel {
  transition: left .2s;
  left:0;
  background: #f8f9f7f2;
  height: 100vh;
  width: 300px;
  position: absolute;
  box-shadow: inset -5px 0px 25px 0px rgba(26,26,26,0.3);
}

.favorites_panel--hidden {
  left: -280px;
}

.favorite_panel__container {
  float:left;
  width:280px;
  padding: 130px 0;
}

.favorite-panel--handler {
  height: 100vh;
  width: 8px;
  background: #5c6367;
  float: right;
  cursor: pointer;
}

.favorite-panel--handler:hover {
  background-color: #007b88;
}

.favorite_panel__item {
  font-size: 18px;
  width: 250px;
}

.favorite_panel__remove {
  font-size: 18px;
  color : darkred;
  vertical-align:bottom;
}

.favorite_panel__go {
  color : #44cc70;
  line-height: 16px;
}

.favorite_panel__item__info {
  float: left;
}

.favorite_panel__action {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #dfe3e629;
  border: 2px solid #d3d5d7;
  vertical-align: center;
}

.favorite_panel__item__actions {
  float: right;
}

.favorite_panel__clear {
  padding: 4px 8px;
  background: linear-gradient(to bottom, rgba(230,0,0,1) 0%, rgb(168, 17, 17) 100%);
  color: #fff;
  cursor: pointer;
}

.favorite_panel__item__title {
  color: #454B57;
}

.favorite_panel__item__count {
  font-size: 14px;
  color: #E78B32;
}

.favorite_panel__container__title {
  color: #454B57;
  margin-bottom: 20px;
  span { // star
    color : #E78B32;
  }
}

.favorite_panel__item__desc {
  padding-left: 22px;
  font-size: 12px;
  color : #505967;
}




  .favorite_panel__swipe_window {
    overflow-x: hidden;
    width: 250px;
    clear: both;
  }
.favorite_panel__swipe_element {
  width: 250px;
  height: 60px;
  padding: 10px;
}




@media (max-width: 640px) {



  .favorite-panel--handler {
    width: 100%;
    float:none;
    height: 20px;
  }

  @for $i from 1 through 20 {
    .favorite_panel__swipe_flow--#{$i} {
      width: calc(#{$i * 100}vw + #{$i * 10}px);
    }
  }

  .favorites_panel {
    height: 100vh;
    width: 100vw;
    transition: top .2s;
    top:0;
  }

  .favorite_panel__item {
    width: 100vw;
  }

  .favorites_panel--hidden {
    top:-100vh;
  }

  .favorite_panel__swipe_window {
    overflow-x: scroll;
    width: 100vw;
  }

  .favorite_panel__swipe_element {
    width: calc(100vw - 40px);
    margin-right: 10px;
    border : 2px solid #c4c5c6;
    float: left;
  }
}


