$MASQ_BANNER_HEIGHT: 93px;

.favorite_panel__show_list {
  display: none;
}

.favorite_panel__items {
  font-size: 18px;
}

.favorite_panel__container__empty {
  color: $secondary_text;
  padding: 20px;
}

.favorite_panel__masq_icon {
  height: 27px;
  width: 57px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;

}

.favorite_panel__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 14px;

  &:hover .contextMenu-button {
    color: $primary_text;
  }
  
  &:hover .contextMenu-button:hover {
    color: $primary_alternative_text;
  }
}

.favorite_panel__item__image {
  width: 48px;
  font-size: 38px;

  &--small {
    font-size: 22px;
    padding-left: 10px;
  }
}

.favorite_panel__item__info {
  flex-grow: 1;
  padding: 16px 0;
  min-height: 67px;
  min-width: 0;
}

.favorite_panel__item__title {
  max-width: 230px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $primary_text;
  font-family: Asap;
  font-weight: 700;
}

.favorite_panel__item__desc {
  font-size: 12px;
  color: $secondary_text;

  &:first-letter {
    text-transform: uppercase;
  }
}

.favorite_panel__masq_footer {
  height: $MASQ_BANNER_HEIGHT;
  border-radius: 0 0 3px 3px;
  background-color: #252a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.favorites_panel__masq_footer_close {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
}

.favorite_panel__masq_footer_text {
  color: #c8cbd3;
  display: block;
  padding: 12px 10px 13px 18px;
  align-items: center;
}

.favorite_panel__masq_footer_text .span {
  display: inline-block;
  vertical-align: middle;
}

.favorite_panel__masq_footer_icon {
  height: 30px;
  width: 60px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.favorite_panel__masq_footer_image {
  background-image: url(../images/masq/masq-box.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  min-width: 100px;
  position: relative;
  bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .favorite_panel__masq_footer {
    display: none;
  }
}
