$MASQ_BANNER_HEIGHT: 93px;

.poi_panel--card > .favorites_container {
  padding-left: 0;
  padding-right: 0;
}

.poi_panel__header + .poi_panel--card.show_masq {
  max-height: calc(100vh - 120px - #{$HEADER_SIZE} - #{$MASQ_BANNER_HEIGHT});
}

.favorite_panel__items {
  font-size: 18px;
}

.favorite_panel__item__info {
  cursor: pointer;
  padding: 16px 0 17px 0;
  min-height: 67px;
}

.favorite_panel__item__more_button {
  float: right;
  margin: 20px 10px 0 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: $primary_clear;
}

.favorite_panel__item__more_button:hover {
  background: $separator_color;
  color: $primary_alternative_text;
  cursor: pointer;
}

.favorite_panel__item__more {
  display: none;
  position: absolute;
  right: 45px;
  top: 2px;
  padding: 12px 16px 9px 16px;
  background: $background;
  color: $primary_text;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.favorite_panel__item__more--active {
  display: block;
}

.favorite_panel__item__more__line {
  cursor: pointer;
  height: 20px;
  cursor: pointer;
}

.favorite_panel__item__more__line:hover {
  color: $secondary_text;
}

.favorite_panel__item__more__icon {
  padding-right: 9px;
}

.favorite_panel__item__title {
  max-width: 230px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $primary_text;
  font-family: Asap;
  font-weight: 700;
}

.favorite_panel__item__image {
  width: 64px;
  float: left;
  font-size: 38px;
  padding-left: 14px;
}

.favorite_panel__item__image.icon:before{
  line-height: 28px;
}

.favorite_panel__item__image--small {
  font-size: 22px;
  padding-left:24px;
}

.favorite_panel__container__empty {
  color: $secondary_text;
  padding: 20px;
}

.favorite_panel__masq_icon {
  height: 27px;
  width: 57px;
}

.favorite_panel__item__desc {
  font-size: 12px;
  color: $secondary_text;
}

.favorite_panel__item__more_container {
  background: $background;
  max-height: 100px;
  position: relative;
  padding-left: 4px;
}

.favorite_item--removed {
  overflow: hidden;
  max-height: 0;
  transition: max-height .2s;
}

.favorite_panel__item__more_container:not(:last-child):after {
  display: block;
  content: '';
  clear: both;
  height: 1px;
  width: 90%;
  margin-left: 5%;
  background-color: $separator_color;
}

.favorite_panel__item__more_container:hover:not(.favorite_item--removed) {
  padding-left: 0;
  background: $surface;
  border-left: 4px solid #FF3B4A;
}

.favorite_panel__item__more_container:hover .favorite_panel__item__more_button {
  color: $primary_text;
}

.favorite_panel__item__more_container:hover .favorite_panel__item__more_button:hover {
  color: $primary_alternative_text;
}

.favorite_panel__masq_footer--hidden {
  display: none;
}

.favorite_panel__masq_footer {
  position: absolute;
  height: $MASQ_BANNER_HEIGHT;
  bottom: -$MASQ_BANNER_HEIGHT;
  border-radius: 0 0 3px 3px;
  background-color: #252a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.favorites_panel__masq_footer_close {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
}

.favorite_panel__masq_footer_text {
  color: #c8cbd3;
  display: block;
  padding: 12px 10px 13px 18px;
  align-items: center;
}

.favorite_panel__masq_footer_text .span {
  display: inline-block;
  vertical-align: middle;
}

.favorite_panel__masq_footer_icon {
  height: 30px;
  width: 60px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.favorite_panel__masq_footer_image {
  background-image: url(../images/masq/masq-box.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  min-width: 100px;
  position: relative;
  bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .favorite_panel__item__more_container {
    background: $background;
    margin: 8px 0;
    @include card_shadow();
    @include card_radius();
  }

  .favorites_header > .poi_panel__close {
    display: block;
    top: 4px;
  }

  .favorite_panel__item__more_container:not(:last-child):after {
    display: none;
  }

  .favorite_panel__masq_footer {
    position: relative;
    bottom: unset;
  }

  .favorite_poi_panel__container > div > .favorite_panel__container {
    bottom: 0;
    position: absolute;
    max-height: calc(100vh - 75px);
    width: 100vw;
    transition: top 1s;
    background: #f4f6fa;
  }

  .favorite_panel__container > .favorites_header {
    height: unset;
    bottom: unset;
    position: relative;
    background: #f4f6fa;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .favorite_panel__container > .poi_panel.poi_panel--card {
    box-shadow: unset;
    width: 100vw;
    left: unset;
    bottom: unset;
    max-height: calc(100vh - 200px);
    min-height: unset;
    position: relative;
    background: #f4f6fa;
  }

  .favorite_panel__container > .favorites_header {
    padding-left: 10px;
  }

  .favorite_panel__items {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
}
