.favorites_panel {
  background: #f8f9f7f2;
  top: 0;
  height: 100vh;
  width: 300px;
  position: absolute;
  box-shadow: inset -5px 0px 25px 0px rgba(26,26,26,0.3);
}

.favorite_panel__container {
  float:left;
  width:280px;
  padding: 20px;
}

.favorite-panel--handler {
  height: 100vh;
  width: 8px;
  background: #5c6367;
  float: right;
  cursor: pointer;
}

.favorite_panel__item {
  height: 60px;
  font-size: 18px;
}

.favorite_panel__remove {
  font-size: 18px;
  color : darkred;
  vertical-align:bottom;
}

.favorite_panel__go {
  color : #44cc70;
  line-height: 16px;
}

.favorite_panel__item__info {
  float: left;
}

.favorite_panel__action {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #dfe3e629;
  border: 2px solid #d3d5d7;
  vertical-align: center;
}

.favorite_panel__item__actions {
  float: right;
}

.favorite_panel__clear {
  padding: 4px 8px;
  background: linear-gradient(to bottom, rgba(230,0,0,1) 0%, rgb(168, 17, 17) 100%);
  color: #fff;
  cursor: pointer;
}

.favorite_panel__item__title {
  color: #454B57;
}

.favorite_panel__item__count {
  font-size: 14px;
  color: #E78B32;
}

.favorite_panel__container__title {
  color: #454B57;
  margin-bottom: 20px;
  span { // star
    color : #E78B32;
  }
}

.favorite_panel__item__desc {
  padding-left: 22px;
  font-size: 12px;
  color : #505967;
}


@media (max-width: 640px) {
  .favorites_panel {
    top: calc(100vh - 30px);
    left: 0;
    width: 100%;
  }

  .favorite-panel--handler {
    width: 100%;
    float:none;
    height: 20px;
  }
}

