.favorite_panel {
  .panel-header {
    padding: 20px 14px 0;
  }
}

.favorite_panel__show_list {
  display: none;
}

.favorite_panel__container__empty {
  color: $secondary_text;
  padding: 14px;
}

.favorite_panel__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 14px;

  &:hover .contextMenu-button {
    color: $primary_text;
  }

  &:hover .contextMenu-button:hover {
    color: $primary_alternative_text;
  }
}

.favorite_panel__item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 28px;

  &--small {
    font-size: 22px;
  }
}

.favorite_panel__item__info {
  flex-grow: 1;
  padding: 16px 0;
  min-height: 67px;
  min-width: 0;
}

.favorite_panel__item__title {
  max-width: 230px;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $primary_text;
}

// Make the panel fullscreen on mobile
// (CSS hardcoded until we do a refact of <Panel> that allows it natively)
@media (max-width: 640px){
  .favorite_panel {
    transform: translate3D(0,0,0) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}