.favorites_panel {
  display: block;
  position: relative;
  width: $panel_width;
  background: $background;
  @include card_shadow();
  @include card_radius();
  overflow: hidden;
}

.favorite_panel__handle {
  background: #7c95ba;
  height:30px;
  width:100%;
  display: none;
}

.favorites_panel__scroll {
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 240px);
}

.favorites_panel--hidden {
  display: none;
}

.favorites_panel__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.favorite_panel__close {
  position: absolute;
  right: 0;
  top: 95px;
  padding: 5px 10px;
  background: $background;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
}

.favorite_panel__item {
  font-size: 18px;
  width: 385px;
  overflow: hidden;
}

.favorite_panel__go {
  line-height: 16px;
}

.favorite_panel__item__info {
  height: 70px;
  padding: 18px 0 10px 0;
}

.favorite_panel__item__more_button {
  float: right;
  margin: 20px 10px 0 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: $primary_clear;
}

.favorite_panel__item__more_button:hover {
  background: $background_alternate;
  color: $primary_alternative_text;
}

.favorite_panel__item__more {
  display: none;
  position: absolute;
  right: 20px;
  top: 38px;
  padding: 14px 16px 10px 16px;
  background: $background;
  color: $primary_text;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.favorite_panel__item__more--active {
  display: block;
}

.favorite_panel__item__more__line {
  height: 20px;
}

.favorite_panel__item__more__line:hover {
  color : $secondary_text;
  cursor: pointer;
}

.favorite_panel__item__more__icon {
  padding-right: 9px;
}

.favorite_panel__item__title {
  max-width: 230px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $primary_text;
}

.favorite_panel__item__image {
  width: 64px;
  height: 60px;
  float: left;
  font-size: 32px;
  padding-left: 20px;
}

.favorite_panel__item__image--small {
  font-size: 22px;
  padding-left:24px;
}

.favorite_panel__container__empty {
  color: $secondary_text;
  padding: 20px;
}

.favorite_panel__container__title {
  margin-bottom: 10px;
  padding: 14px 20px;
  font-size: 12px;
  font-weight: normal;
  color: $primary_text;
  border-bottom: solid 1px $separator_color;
}

.favorite_panel__item__desc {
  font-size: 12px;
  color : $secondary_text;
}

.favorite_panel__item__more_container {
  position: relative;
  padding-left: 4px;
}

.favorite_item--removed {
  height: 0;
}

.favorite_panel__item__more_container:not(:last-child):after {
  display: block;
  content: '';
  clear: both;
  height: 1px;
  width: 90%;
  margin-left: 5%;
  background-color: $separator_color;
}

.favorite_panel__item__more_container:hover {
  background: $background_active;
  border-left: 4px solid #f95d00;
  padding-left: 0;
}

.favorite_panel__item__more_container:hover .favorite_panel__item__more_button {
  color : $primary_text;
}

.favorite_panel__item__more_container:hover .favorite_panel__item__more_button:hover {
  color : $primary_alternative_text;
}

.favorite_panel__filter {
  float: right;
  margin: -30px 40px 0 0;
  font-size: 14px;
  color: $primary_alternative_text;
  background-color: $background_alternate;
  padding: 5px 16px;
  border-radius: 16px;
  border:3px solid transparent;
}

.favorite_panel__filter:hover {
  background-color: $primary_alternative_text;
  color: $background_alternate;
  border:3px solid $background_alternate;
}

.filter_panel {
  font-size: 13px;
  color: $primary_text;
  display: none;
  position: absolute;
  width: 300px;
  padding: 10px;
  @include card_shadow();
  background-color: $background;
  right: 20px;
  margin-top: 5px;
  border-radius: 3px;
}

.filter_panel__label {
  display: block;
  width: 100%;
  padding: 3px 5px;
}

.filter_panel INPUT[type=checkbox] {
  display: none;
}

INPUT[type=checkbox]:checked + .filter_panel__label {
  font-weight: bold;
  background-color: $background_active;
}

.filter_panel--active {
  display: block;
}

@media (max-width: 640px) {
  .favorites_panel {
    bottom: 0;
    position: absolute;
    max-height: calc(100vh - 75px);
    width: 100vw;
    transition: top 1s;
    background: $surface;
  }

  .favorite_panel__handle {
    display: block;
  }

  .favorite_panel__item__more_container {
    background: $background;
    margin:8px 0;
    @include card_shadow();
  }

  .favorite_panel__item__more_container:not(:last-child):after {
    display: none;
  }

  .favorites_panel--hidden {
    top: calc(-100vh + 70px);
  }

  .favorite_panel__item__actions {
    display: block;
  }

  .favorite_panel__container__title {
    margin-left: 20px;
  }

  .favorite_panel__close {
    font-size: 36px;
    top: 70px;
  }

  .favorite_panel__container {
    width: 100%;
  }

  .favorite_panel__item {
    width: calc(100% - 40px);
    margin:0 20px;
  }
}
