@media (min-width: 641px){
  .history_panel {
    min-height: calc(100vh - (92px + 40px));
  }
  .history-header {
    margin: 8px 0;
  }
}

.history_panel {
  .panel-content {
    padding: 12px;
  }
}

.history_panel_links a {
  display: block;
  width: 50%;
}

.history-list {
  border-bottom: 1px solid;

  &:last-of-type {
    border-bottom: none;
  }
}

.history-list-item {
  padding: 5px 0;
  min-height: 40px;
  margin: 0 0 5px 0;
  cursor: pointer;
}

.modal__maps__history .modal {
  width: 400px;
}