@media (min-width: 641px) {
  .history_panel {
    min-height: calc(100vh - (92px + 40px));
  }
}

.history_panel {
  position: relative;

  &.history_panel_empty {
    min-height: auto;
  }

  .panel-header {
    padding: 20px 14px 4px;
  }
}

.history_panel_links {
  padding: 0 14px;

  a {
    display: inline-block;
    cursor: pointer;

    &:first-of-type {
      margin-right: 32px;
    }
  }
}

.history-list {
  hr {
    border: none;
    border-bottom: 1px solid var(--grey-light);
    margin: -14px 0 4px -14px;
  }
}

.history-list-item {
  min-height: 40px;
  margin: 0 0 5px 0;
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  .placeIcon {
    background: #f2dbf8 !important;
    color: #a125be !important;
  }

  &:hover {
    background-color: var(--grey-050);
    transition: background-color 0.2s;
  }
}

.modal__maps__history .modal {
  width: 400px;
}

.history_panel_empty_message {
  width: 210px;
  margin: 8px auto 32px;
  text-align: center;

  .historyIcon {
    margin-bottom: 0;
  }
}

.history_panel_trash {
  margin-top: 9px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;

  &:hover {
    fill: #161617;
  }
}

.history-list-title {
  margin-bottom: 22px;
  padding: 0 14px;
}

.history_panel_switch_line {
  padding: 0 14px 14px 14px;
}

.history_panel_switch_label {
  width: calc(100% - 30px);
}

.history_panel_switch {
  --action-blue-500: var(--green-500);
  --action-blue-300-alpha20: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 20px;
}

.historyModalIcon {
  width: 36px;
  height: 36px;
  padding: 8px;
  background: $grey-lighter;
  border-radius: 50%;
  margin-bottom: 4px;
}

.history_modal_buttons {
  justify-content: center;
}

.modal__history__delete,
.modal__history__disable {
  text-align: center;

  .closeButton {
    margin: 8px;
  }
}

// Make the panel fullscreen on mobile
// (CSS hardcoded until we do a refact of <Panel> that allows it natively)
@media (max-width: 640px){
  .history_panel {
    transform: translate3D(0,0,0) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}