.menu__panel__top__masq {
  border-radius: 3px;
  background-color: #252a39;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.menu__panel__masq_icon_container {
  margin-top: 14px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.menu__panel__masq_icon {
  height: 50px;
  width: 110px;
  cursor: pointer;
}

.menu__panel__top__masq__login__button {
  cursor: pointer;
  margin: 0 25px 13px 25px;
  height: 50px;
  border-radius: 6px;
  border: solid 2px #03a0f9;
  background-color: #03a0f9;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  display: flex;
  align-items: center;
}

.menu__panel__top__masq_profile_icon {
  margin-left: 11px;
  margin-right: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
}

.menu__panel__top__profile_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


.menu__panel__top__masq__login__button_logged {
  border: solid 2px #e9eaeb;
  background-color: #e9eaeb;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #353c52;
  text-transform: none;
}

.icon-log-out {
  background-image: url('../images/masq/log-out.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 14px;
  width: 14px
}

.menu__panel__top__masq__second__button_container {
  margin: 0 0 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu__panel__top__masq__second__button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  line-height: 1.33;
  cursor: pointer;
}

.menu__panel__top__masq__second__button:hover {
  text-decoration: underline;
}

.icon-discover {
  background-image: url('../images/masq/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 20px;
  width: 20px
}
