.menu__panel__top__masq {
  border-radius: 3px;
  background-color: #252a39;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.menu__panel__masq_icon {
  background-image: url('../images/masq/masq.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 14px;
  margin-bottom: 12px;
  height: 50px;
}

.menu__panel__top__masq__login__button {
  cursor: pointer;
  margin: 0 25px 13px 25px;
  height: 50px;
  border-radius: 6px;
  border: solid 2px #03a0f9;
  background-color: #03a0f9;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.menu__panel__top__masq__login__button_logged {
  border: solid 2px #5c6f84;
  background-color: #5c6f84;
}

.menu__panel__top__masq__second__button_container {
  margin: 0 0 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__panel__top__masq__second__button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}

.icon-discover {
  background-image: url('../images/masq/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 20px;
  width: 20px
}
