.masqStatus {
  border-radius: 3px;
  background-color: #252a39;
  margin: 0 20px 20px 20px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masqStatus__masq_icon {
  height: 50px;
  width: 110px;
  cursor: pointer;
  margin-bottom: 12px;
}

.masqStatus__login__button {
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #03a0f9;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  padding: 12px;

  &_logged {
    background-color: #e9eaeb;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #353c52;
    text-transform: none;
    display: flex;
    align-items: center;
  }

  .masqAvatar {
    margin-right: 9px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

.masqStatus__second__button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &_logout {
    background-image: url('../images/masq/log-out.svg');
  }

  &_discover {
    background-image: url('../images/masq/arrow-right.svg');
  }
}
