$BLOCK_INDENT: 60px;

.poi_panel {
  display: block;
  max-height: calc(100vh - 240px);
  position: relative;
  width: $panel_width;
  padding-bottom: 10px;
  background: $background;
  @include card_shadow();
  @include card_radius();
  overflow-y: auto;
}

.poi_panel--hidden {
  display: none;
}

.poi_panel__close {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}

.poi_panel__info__section {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.poi_panel__info__section__phone {
  margin-left: $BLOCK_INDENT;
  font-size: 14px;
}

.poi_panel__back {
  display: inline-block;
  width: 20px;
}

.poi_panel__back_to_favorite {
  font-size: 14px;
  color: $secondary_text;
  padding: 14px 0 14px 40px;
  cursor: pointer;
  border-bottom: 1px solid $separator_color;
  margin-bottom: 14px;
}

.poi_panel__back_to_favorite:hover {
  color: $secondary_text;
}

.poi_panel__description_container {
  position: relative;
  cursor: pointer;
}

.poi_panel__description_container:after {
  display: block;
  clear: both;
  content: '';
}

.poi_panel__title {
  width: 350px;
  padding: 18px 0 0 $BLOCK_INDENT;
  font-weight: bold;
  color: $primary_text;
  font-size: 15px;
}

.poi_panel__info__section__title {
  color: $secondary_text;
  font-weight: normal;
  margin: 20px 0 0 20px;
}

.poi_panel__info__section:before {
  content: '';
  display: block;
  width: 338px;
  height: 1px;
  margin-top: 8px;
  background: $separator_color;
  margin-left: 28px;
}

.poi_panel__description {
  position: relative;
  padding-left: $BLOCK_INDENT;
  font-size: 14px;
  color: $secondary_text;

}
.poi_panel__description:first-letter {
  text-transform: uppercase;
}

.poi_panel__address {
  padding: 8px 0 0 $BLOCK_INDENT;
  font-size: 16px;
  color: $primary_text;
}

.poi_panel__info__section__description  {
  margin: 0;
}

.poi_panel__info__link {
  margin-left: $BLOCK_INDENT;
  font-size: 15px;
  color: $secondary_variant_text;
}

.poi_panel__info__link:HOVER {
  text-decoration: none;
  border-bottom: 1px solid $secondary_variant_text;
}

.poi_panel__info__accessibilities {
  font-size: 15px;
  margin-left: $BLOCK_INDENT;
  color: $primary_text;
}

.poi_panel__info__hours {
  margin-left: $BLOCK_INDENT;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.poi_panel__info__hours__table {
  width: calc(100% - 20px);
  margin-top: 8px;
  font-size: 15px;
}

.poi_panel__info__hours .hours {
  text-align: right;
  padding: 4px 10px;
}

.poi_panel__info__hours_status {
  cursor: pointer;
}

.poi_panel__info__hours--open {
  max-height: 400px;
}

.poi_panel__info__hours__status {
  cursor: pointer;
  position: relative;
  width: 368px;
}

.poi_panel__info__hours__status__text {
  color: $primary_text;
  padding-left: $BLOCK_INDENT;
}

.poi_panel__info__hours__status__toggle {
  position: absolute;
  right: 0;
  font-size: 24px;
  color: $secondary_text;
  transition: transform .2s;
}

.poi_panel__info__hours__status__toggle--reversed {
  transform: rotate(180deg);
}

.poi_panel__info__hours .day {
  padding: 4px 5px 4px 0;
}

.poi_panel__info__hours .day:first-letter {
  text-transform: uppercase;
}

.poi_panel__info__hours--current {
  font-weight: bold;
}

.poi_panel__hour__extend {
  position: absolute;
  right: 20px;
}

.hour_panel__no_data  {
  padding-left: 64px;
  color: $secondary_text;
  font-size: 14px;
}

.poi_panel__info__hour__circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin: 3px 1px;
  border-radius: 50%;
}

.poi_panel__description__ellipsis {
  margin-top: 20px;
  line-height: 22px;
  font-size: 15px;
  width: 300px;
}

.poi_panel__info__item {
  margin-left: $BLOCK_INDENT;
  font-size: 13px;
  color: $primary_text;
}

.poi_panel__info__item--beer {
  color: #90750b;
}

.poi_panel__actions {
  margin-left: $BLOCK_INDENT;
  margin-top: 16px;
}

.poi_panel__actions:after {
  clear: both;
  content: '';
}

.poi_panel__actions__store_container {
  float: left;
}

.poi_panel__actions__share_container {
  float: left;
  margin-left: 20px;
}

.poi_panel__actions__icon {
  display: inline-block;
  height: 25px;
  font-size: 22px;
  color: $secondary_text;
  vertical-align: middle;
}

.poi_panel__actions__text {
  display: inline-block;
  padding-left: 2px;
  height: 25px;
  font-size: 12px;
  color: $secondary_text;
}

.poi_panel__description_container {
  position: relative;
}

.poi_panel__store_status__toggle:after {
  content: '';
}

/* TODO export to external service */

/* title symbols */
.poi_panel__title__symbol {
  float: left;
  font-size: 42px;
  margin: 18px 0 0 16px;
  line-height: 35px !important;
}

/* symbols */
.poi_panel__block__symbol {
  position: absolute;
  top: 18px;
  left: 25px;
  font-size: 24px;
  color: $primary_clear;
  width: 20px;
  height: 18px;
}

.poi_panel__block__content {
  margin-top: 18px;
  margin-bottom: 20px;
}

.poi_panel__service_information__container {
  position: relative;
}

.poi_panel__block__information {
  width: 350px;
  transition: max-height .2s;
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.poi_panel__block__information--extended {
  max-height: 300px;
}

.poi_panel__block__collapse {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: transform .2s;
  font-size: 24px;
  color: $secondary_text;
}

.poi_panel__block__collapse--reversed {
  transform: rotate(180deg);
}


.poi_panel__sub__sub_block__title {
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0 4px $BLOCK_INDENT;
  color: $secondary_text
}

.poi_panel__sub_block__title {
  margin-top:20px;
  cursor: pointer;
  position: relative;
  width: 366px;
}

.poi_panel__sub_block__title__text {
  width: 285px;
  font-size: 14px;
  color: $secondary_text;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: $BLOCK_INDENT;
}

.poi_panel__info__wiki {
  margin: 10px 0 0 $BLOCK_INDENT;
  font-size: 12px;
  color: $secondary_text;
}

.poi_panel__info__wiki__link {
  line-height: 18px;
  font-size: 16px;
}

/* symbols */
.poi_panel__section__symbol {
  width: 20px;
  height: 20px;
  display: inline-block;
}

@media (max-width: 640px) {
  .poi_panel {
    max-height: calc(100vh - 200px);
    width: 100vw;
    bottom: 0;
    position: absolute;
  }

  .poi_panel__info__hours__status {
    width: calc(100% - 16px);
  }

  .poi_panel__toggle_display--mobile {
    display: block;
  }

  .poi_panel__toggle_display--desktop {
    display: none;
  }

  .poi_panel__toggle_display {
    top: 75px;
    right: 10px
  }

  .poi_panel__sub_block__title {
    width: calc(100% - 16px);
  }

  .poi_panel__title {
    width: calc(100% - ($BLOCK_INDENT + 38px));
  }

  .poi_panel__content {
    width: 100%;
  }

  .poi_panel--hidden {
    top: -100vh;
  }

  .poi_panel__info__section:before {
    width: calc(100% - 40px);
    margin: 18px 20px 12px;
  }

  .poi_panel__info__section:not(:last-of-type):after {
    width: calc(100% - 40px);
  }

  .poi_panel__description__ellipsis {
    width: 100%;
  }
}
