@import "../osm_contribute";

$BLOCK_INDENT: 28px;
$CARD_ACTION_WIDTH: 112px;
$CARD_PADDING: 8px;
$BLOCK_PADDING: 24px;
$BLOCK_ICON_FONT_SIZE: 16px;
$HEADER_SIZE: 40px;

.poi_panel {
  display: block;
  position: relative;
  width: $panel_width;
  padding-bottom: 10px;
  background: $background;
  @include card_shadow();
  @include card_radius();
  overflow-y: auto;
  scrollbar-width: thin; /* Works on Firefox only */
}

.poi_panel__content {
  animation: appear 600ms forwards;
}

.poi_panel__image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-color: white;
}

.poi_panel--hidden {
  display: none;
}

.poi_panel__content__card {
  display: none;
}

.poi_panel__container {
  padding: 0 $BLOCK_INDENT;
  width: 100%;
  position: relative;
}

.poi_panel__content__card__action {
  display: block;
  width: $CARD_ACTION_WIDTH;
  height: 35px;
  line-height: 35px;
  border: 1px solid $primary_clear;
  font-size: 12px;
  font-weight: 600;
  color: $primary_text;
  border-radius: 18px;
  margin: 8px 0;
  cursor: pointer;
  text-align: center;
  /* secure  long translation */
  white-space: nowrap;
  overflow: hidden;
}

.poi_panel__close {
  position: absolute;
  right: 11px;
  top: 6px;
  cursor: pointer;
  transition: background-color .1s;
  border-radius: 50%;
  font-size: 20px;
  height: 21px;
}

.poi_panel__close:hover {
  background: $background_hover;
  color: $primary_text;
}

.poi_panel__info__section {
  position: relative;
  margin-bottom: 20px;
}

.poi_panel__info__section__phone {
  font-size: $BLOCK_ICON_FONT_SIZE;
}

.poi_panel__back {
  display: inline-block;
  width: 20px;
  color: $primary_text;
}

.poi_panel__back_text {
  padding-left: 5px;
  text-transform: uppercase;
}

.poi_panel__back.icon-arrow-left {
  font-size: 22px;
  vertical-align: -5px;
}

.poi_panel__header + .poi_panel--card {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 4px 4px;
  max-height: calc(100vh - 120px - #{$HEADER_SIZE});
  overflow: hidden;
}

.poi_panel__back_to_list:hover {
  color: $secondary_text;
}

.poi_panel__description_container {
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* wrap it into an element and then put padding on this new element instead */
.poi_panel__title {
  font-family: Asap;
  font-weight: 700;
  color: $primary_text;
  font-size: 16px;
}

.poi_panel__title__alternative {
  color: $secondary_text;
  font-weight: 100;
  font-style: italic;
}

.poi_panel__info__section__title {
  color: $secondary_text;
  font-weight: normal;
  margin: 20px 0 0 20px;
}

.poi_panel__info__section:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  background: $separator_color;
}

.poi_panel__info {
  clear: both;
}

.poi_panel__description {
  position: relative;
  font-size: 14px;
  color: $secondary_text;
}

.poi_panel__description:first-letter {
  text-transform: uppercase;
}

.poi_panel__address {
  padding: 8px 0 0 0;
  font-size: 15px;
  color: $primary_text;
}

.poi_panel__info__section__description  {
  margin: 0;
}

.poi_panel__info__link, .poi_panel__info__contact {
  font-size: 13px;
  color: $secondary_text;
  text-transform: uppercase;
}

.poi_panel__info__link:HOVER, .poi_panel__info__contact:HOVER {
  text-decoration: none;
  color: $primary_text;
}

.poi_panel__info__accessibilities {
  font-size: 15px;
  color: $primary_text;
}

.poi_panel__info__hours {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.poi_panel__info__hours__table {
  width: calc(100% - 20px);
  margin-top: 8px;
  font-size: 15px;
  color: $primary_text;
}

.poi_panel__info__hours .hours {
  text-align: right;
  padding: 4px 10px;
}

.poi_panel__info__hours_status {
  cursor: pointer;
}

.poi_panel__info__hours--open {
  max-height: 400px;
}

.poi_panel__info__hours__status {
  cursor: pointer;
  position: relative;
}

.poi_panel__info__hours__status__text {
  display: inline-block;
  color: $primary_text;
}

.poi_panel__info__hours__status__toggle {
  position: absolute;
  right: 0;
  font-size: 24px;
  color: $secondary_text;
  transition: transform .2s;
}

.poi_panel__info__hours__status__toggle--reversed {
  transform: rotate(180deg);
}

.poi_panel__info__hours .day {
  padding: 4px 5px 4px 0;
}

.poi_panel__info__hours .day:first-letter {
  text-transform: uppercase;
}

.poi_panel__info__hours--current {
  font-family: Asap;
  font-weight: 700;
}

.poi_panel__hour__extend {
  position: absolute;
  right: 20px;
}

.hour_panel__no_data  {
  padding-left: 64px;
  color: $secondary_text;
  font-size: 14px;
}

.poi_panel__info__hour__circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin: 3px 1px;
  border-radius: 50%;
}

.poi_panel__description__ellipsis {
  margin-top: 13px;
  line-height: 22px;
  font-size: 15px;
  padding-right: 45px;
}

.poi_panel__info__item {
  font-size: 13px;
  color: $primary_text;
}

.poi_panel__info__item--beer {
  color: #90750b;
}

.poi_panel__actions {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: auto;
}

.button_container {
  float: left;
  text-decoration: none;
  text-align: center;
  min-width: 45px;

  &:not(:last-child){
    margin-right: 15px;
    max-width: calc(23% - 20px);
  }

  &.poi_panel__actions__phone_container {
    max-width: 28%;
  }

  &:not(:first-child){
    min-width: 20%
  }


  &:hover {
    text-decoration: none;
  }

  button {
    width: 100%;
    display: block;
    cursor: pointer;
  }
}

.button_container:hover {
  button, div {
    color: $primary_text;
  }
}

.button_container:hover {
  cursor: pointer;
}

.poi_panel__actions__icon {
  display: inline-block;
  height: 25px;
  font-size: 22px;
  color: $secondary_text;
  vertical-align: middle;
}

.poi_panel__actions__text {
  display: flex;
  justify-content: center;
  height: 25px;
  font-size: 12px;
  color: $secondary_text;
  margin: 7px 0 0;
}

.poi_panel__actions__text:hover {
  color: $primary_text;
}


.poi_panel__store_status__toggle:after {
  content: '';
}

.poi_panel__image + .poi_panel__title__symbol {
    display: none;
}

.poi_panel__pictures {
  margin-bottom: 20px;
}

.poi_panel__pictures_title {
  border-top: 1px solid #e0e1e6;
  padding: 15px 0;
  font-family: Asap;
  font-size: 16px;
  color: #495063;
  font-weight: normal;
  position: relative;
  padding-left: 24px;
}

.poi_panel__pictures_title .icon-icon_camera {
  color: #c8cbd3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.poi_panel__pictures_block {
  width: calc(50% - 7px);
  padding-bottom: calc(50% - 7px);
  display: inline-block;
}

.poi_panel__pictures_first_block {
  margin-right: 10px;
}

.poi_panel__pictures_block_short {
  height: calc(50% - 5px);
  padding-bottom: calc(50% - 5px);
  display: block;
}

.poi_panel__pictures_block_short:first-of-type {
  margin-bottom: 10px;
}

.poi_panel__pictures_block_full {
  padding-bottom: 100%;
  position: absolute;
  width: 100%;
}

.poi_panel__pictures_block,
.poi_panel__pictures_block_short,
.poi_panel__pictures_block_full {
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
}

.poi_panel__pictures_second_block {
  box-shadow: none;
  position: relative;
}

.poi_panel__pictures_block-multiple {
  padding-bottom: 0;
}

.poi_panel__pj_logo_container {
  position: relative;
  display: inline-block;
  top: 5px;
  left: 5px;
}

/* title symbols */
.poi_panel__title__symbol {
  font-size: 45px;
  color: #E93865;
}

/* symbols */
.poi_panel__block__symbol {
  position: absolute;
  top: 20px;
  font-size: $BLOCK_ICON_FONT_SIZE;
  color: $primary_clear;
  width: 20px;
  height: 18px;
}

.poi_panel__block__symbol.icon-icon_phone, .poi_panel__block__symbol.icon-icon_clock {
  top: 20px;
}

.poi_panel__block__content {
  margin-top: 18px;
  margin-bottom: 20px;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__service_information__container {
  position: relative;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__block__information {
  transition: max-height .2s;
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.poi_panel__block__information--extended {
  max-height: 300px;
}

.poi_panel__block__collapse {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: transform .2s;
  font-size: 24px;
  color: $secondary_text;
}

.poi_panel__block__collapse--reversed {
  transform: rotate(180deg);
}


.poi_panel__sub__sub_block__title {
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0 4px 0;
  color: $secondary_text;
}

.poi_panel__sub_block__title {
  margin-top:20px;
  cursor: pointer;
  position: relative;
}

.poi_panel__sub_block__title__text {
  width: 285px;
  font-size: 14px;
  color: $secondary_text;
  font-family: Asap;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__info__wiki {
  margin-top: 15px;
  font-size: 12px;
  color: $primary_text;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__info__wiki__link {
  font-size: 13px;
  color: $secondary_text;
  position: relative;

  .icon-chevrons-right {
    position: absolute;
    top: 1px;
  }
  span {
    margin-left: 15px;
  }
}

.poi_panel__info__wiki__link:hover {
  color: $primary_text;
  text-decoration: none;
}

.marker .icon-marker::before {
  content: '';
}

.service_panel__categories--poi {
  margin: 15px 0;
  border-top: 1px solid rgba(0,0,0,.16);

  .service_panel__categories_title {
    font-weight: normal;
    font-size: 16px;
    color: #495063;
    margin: 20px 0 15px 12px;

    .icon-icon_compass {
      color: #c8cbd3;
      font-size: 14px;
      margin: 0 5px 0 0;
    }
  }

  .service_panel__category {
    width: 80px;
  }
}

.marker-anywhere {
  top: -15px;
}

/* symbols */
.poi_panel__section__symbol {
  width: 20px;
  height: 20px;
  display: inline-block;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1; }
}

.poi_panel__back_mobile {
  display: none;
}

.poi_panel__back_to_list, .poi_panel__back_mobile {
  height: $HEADER_SIZE;
  line-height: $HEADER_SIZE;
  padding-left: 8px;
  cursor: pointer;

  .poi_panel__back_to_list_logo {
    margin-left: 8px;
    vertical-align: text-bottom;
  }
}

@media (min-width: 641px) {
  .poi_panel {
    max-height: calc(100vh - 120px);
  }

  .poi_panel__header {
    font-size: 12px;
    color: $secondary_text;
    text-transform: uppercase;
    height: $HEADER_SIZE;
    background: $background;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;

    &.favorites_header {
      padding: 10px;
    }
  }

  .poi_panel__back_to_list, .favorites_header {
    border-bottom: solid 1px #f4f6fa;
  }

  .poi_header_back_to_list + .poi_panel--card {
    padding-top: 10px;
  }
}

.poi_panel__content__card .poi_panel__description_container {
  flex-grow: 1;
  margin: 0;
  flex-direction: row-reverse;
  justify-content: flex-end;

  .poi_panel__image {
    display: none;
  }

  .poi_panel__title__symbol {
    display: block;
    margin: -9px 3px 0 0;
  }
}

@media (max-width: 640px) {
  .poi_panel {
    width: 100vw;
    position: absolute;
    border-radius: 0;
  }

  .poi_panel:not(.poi_panel--card) {
    height: calc(100% - 30px);
    top: 30px;
  }

  .poi_panel__back_mobile, .poi_panel__back_to_list {
    display: block;
    color: $primary_text;
  }

  .poi_panel__header {
    position: absolute;
    height: 100px;
    bottom: calc(100% - 30px);
    z-index: 2;
    display: block;
    width: 100vw;
    padding-top: 62px;
    background-color: #F0F0F0;
    display: block;
    font-size: 12px;
  }

  .poi_header_card {
    display: none;
  }

  .poi_panel__close {
    font-size: 18px;
    top: 0px;
    right: 0px;
    transform: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .poi_panel__back_mobile + .poi_panel__close {
    display: none;
  }

  .poi_panel.poi_panel--card {
    @include card_shadow();
    width: calc(100vw - 16px);
    left: 8px;
    bottom: 8px;
    clear: both;
    max-height: calc(100vh - 200px);
    position: fixed;
    min-height: 125px;
  }

  .poi_panel--card .poi_panel__content {
    display: none;
  }

  .poi_panel--card .poi_panel__content__card {
    display: flex;
    justify-content: space-between;
    padding: 20px $CARD_PADDING $CARD_PADDING;
  }

  .poi_panel--card {
    .poi_panel__address {
      font-size: 14px;
      padding: 8px 10px 0 0;
    }
    .poi_panel__info__hours__status__text {
      font-size: 14px;
      white-space: nowrap;
    }
    .poi_panel__description {
      font-size: 12px;
    }
  }

  .poi_panel__info__hours__status {
    width: calc(100% - 16px);
  }

  .poi_panel__toggle_display--mobile {
    display: block;
  }

  .poi_panel__toggle_display--desktop {
    display: none;
  }

  .poi_panel__toggle_display {
    top: 75px;
    right: 10px
  }

  .poi_panel__sub_block__title {
    width: calc(100% - 16px);
  }

  .poi_panel__content {
    margin-top: 17px;
  }

  .poi_panel__info__section:not(:last-of-type):after {
    width: calc(100% - 40px);
  }

  .poi_panel__description__ellipsis {
    width: 100%;
  }

  .poi_panel__content__card__action__direction {
    background-color: $primary_text;
    border-color: $primary_text;
    color: #fff;
  }

  .poi_panel__container {
    padding: 0 15px;
  }
}
