@import "../osm_contribute";

$BLOCK_INDENT: 28px;
$CARD_ACTION_WIDTH: 130px;
$CARD_ACTION_RIGHT_MARGIN: 8px;
$CARD_PADDING: 8px;
$BLOCK_PADDING: 24px;
$BLOCK_ICON_FONT_SIZE: 16px;
$HEADER_SIZE: 30px;

.poi_panel {
  display: block;
  position: relative;
  width: $panel_width;
  padding-bottom: 10px;
  background: $background;
  @include card_shadow();
  @include card_radius();
  overflow-y: auto;
}

.poi_panel__content {
  animation: appear 600ms forwards;
}

.poi_panel__image {
  width: 100px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
}
.poi_panel--hidden {
  display: none;
}

.poi_panel__content__card {
  display: none;
}

.poi_panel__container {
  padding: 0 $BLOCK_INDENT;
  width: 100%;
  position: relative;
}

.poi_panel__content__card__content {
  float: left;
  width: calc(100vw - (2 * #{$CARD_PADDING} + #{$CARD_ACTION_WIDTH} + #{$CARD_ACTION_RIGHT_MARGIN}));
}

.poi_panel__content__card__action__container {
  margin-top: 42px;
  float: right;
}

.poi_panel__content__card__action {
  display: block;
  width: $CARD_ACTION_WIDTH;
  height: 35px;
  line-height: 35px;
  border: 1px solid $primary_clear;
  font-size: 12px;
  font-weight: 600;
  color: $primary_text;
  border-radius: 18px;
  margin: 0 $CARD_ACTION_RIGHT_MARGIN 8px 0;
  cursor: pointer;
  text-align: center;
  /* secure  long translation */
  white-space: nowrap;
  overflow: hidden;
}

.poi_panel__content__card__action__direction {
  margin: 0 $CARD_ACTION_RIGHT_MARGIN 8px 0;
}

.poi_panel__close {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  transition: background-color .1s;
  background: $background;
  border-radius: 50%;
  font-size: 20px;
}

.poi_panel__close:hover {
  background: $background_hover;
  color: $primary_text;
}

.poi_panel__info__section {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.poi_panel__info__section__phone {
  font-size: $BLOCK_ICON_FONT_SIZE;
}

.poi_panel__back {
  display: inline-block;
  width: 20px;
  color: $primary_text;
}

.poi_panel__header + .poi_panel--card {
  margin-top: $HEADER_SIZE;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 4px 4px;
  max-height: calc(100vh - 120px - #{$HEADER_SIZE});
}

.poi_panel__back_to_favorite {
  position: absolute;
  top: 8px;
  cursor: pointer;
}

.poi_panel__back_to_favorite:hover {
  color: #000;
}

.poi_panel__description_container {
  position: relative;
  padding: 0 120px 0 0;
  margin-bottom: 25px;
  cursor: pointer;
}

.poi_panel__description_container:after {
  display: block;
  clear: both;
  content: '';
}

/* wrap it into an element and then put padding on this new element instead */
.poi_panel__title {
  padding-top: 10px;
  font-family: Asap;
  font-weight: 700;
  color: $primary_text;
  font-size: 16px;
}

.poi_panel__title__alternative {
  color: $secondary_text;
  font-weight: 100;
  font-style: italic;
}

.poi_panel__info__section__title {
  color: $secondary_text;
  font-weight: normal;
  margin: 20px 0 0 20px;
}

.poi_panel__info__section:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  background: $separator_color;
}

.poi_panel__info {
  clear: both;
}

.poi_panel__description {
  position: relative;
  font-size: 14px;
  color: $secondary_text;
}

.poi_panel__description:first-letter {
  text-transform: uppercase;
}

.poi_panel__address {
  padding: 8px 0 0 0;
  font-size: 15px;
  color: $primary_text;
}

.poi_panel__info__section__description  {
  margin: 0;
}

.poi_panel__info__link, .poi_panel__info__contact {
  font-size: 13px;
  color: $secondary_text;
  text-transform: uppercase;
}

.poi_panel__info__link:HOVER, .poi_panel__info__contact:HOVER {
  text-decoration: none;
  color: $primary_text;
}

.poi_panel__info__accessibilities {
  font-size: 15px;
  color: $primary_text;
}

.poi_panel__info__hours {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.poi_panel__info__hours__table {
  width: calc(100% - 20px);
  margin-top: 8px;
  font-size: 15px;
  color: $primary_text;
}

.poi_panel__info__hours .hours {
  text-align: right;
  padding: 4px 10px;
}

.poi_panel__info__hours_status {
  cursor: pointer;
}

.poi_panel__info__hours--open {
  max-height: 400px;
}

.poi_panel__info__hours__status {
  cursor: pointer;
  position: relative;
}

.poi_panel__info__hours__status__text {
  display: inline-block;
  color: $primary_text;
}

.poi_panel__info__hours__status__toggle {
  position: absolute;
  right: 0;
  font-size: 24px;
  color: $secondary_text;
  transition: transform .2s;
}

.poi_panel__info__hours__status__toggle--reversed {
  transform: rotate(180deg);
}

.poi_panel__info__hours .day {
  padding: 4px 5px 4px 0;
}

.poi_panel__info__hours .day:first-letter {
  text-transform: uppercase;
}

.poi_panel__info__hours--current {
  font-family: Asap;
  font-weight: 700;
}

.poi_panel__hour__extend {
  position: absolute;
  right: 20px;
}

.hour_panel__no_data  {
  padding-left: 64px;
  color: $secondary_text;
  font-size: 14px;
}

.poi_panel__info__hour__circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin: 3px 1px;
  border-radius: 50%;
}

.poi_panel__description__ellipsis {
  margin-top: 13px;
  line-height: 22px;
  font-size: 15px;
  padding-right: 45px;
}

.poi_panel__info__item {
  font-size: 13px;
  color: $primary_text;
}

.poi_panel__info__item--beer {
  color: #90750b;
}

.poi_panel__actions {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.button_container {
  float: left;
  text-decoration: none;
  text-align: center;

  &:not(:last-child){
    margin-right: 15px;
    max-width: calc(23% - 20px);
  }

  &.poi_panel__actions__phone_container {
    max-width: calc(24% + 10px);
  }

  &:not(:first-child){
    min-width: 20%
  }

  &:hover {
    text-decoration: none;
  }

  button {
    width: 100%;
    display: block;
    cursor: pointer;
  }
}

.button_container:hover {
  button, div {
    color: $primary_text;
  }
}

.button_container:hover {
  cursor: pointer;
}

.poi_panel__actions__icon {
  display: inline-block;
  height: 25px;
  font-size: 22px;
  color: $secondary_text;
  vertical-align: middle;
}

.poi_panel__actions__text {
  display: inline-block;
  height: 25px;
  font-size: 12px;
  color: $primary_text;
}

.poi_panel__store_status__toggle:after {
  content: '';
}

.poi_panel__image + .poi_panel__title__symbol {
    display: none;
}

/* TODO export to external service */

/* title symbols */
.poi_panel__title__symbol {
  font-size: 42px;
  color: #E93865;
  position: absolute;
  right: 0px;
  top: 8px;
}

/* symbols */
.poi_panel__block__symbol {
  position: absolute;
  top: 20px;
  font-size: $BLOCK_ICON_FONT_SIZE;
  color: $primary_clear;
  width: 20px;
  height: 18px;
}

.poi_panel__block__symbol.icon-icon_phone, .poi_panel__block__symbol.icon-icon_clock {
  top: 20px;
}

.poi_panel__block__content {
  margin-top: 18px;
  margin-bottom: 20px;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__service_information__container {
  position: relative;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__block__information {
  width: 350px;
  transition: max-height .2s;
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.poi_panel__block__information--extended {
  max-height: 300px;
}

.poi_panel__block__collapse {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: transform .2s;
  font-size: 24px;
  color: $secondary_text;
}

.poi_panel__block__collapse--reversed {
  transform: rotate(180deg);
}


.poi_panel__sub__sub_block__title {
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0 4px 0;
  color: $secondary_text;
}

.poi_panel__sub_block__title {
  margin-top:20px;
  cursor: pointer;
  position: relative;
}

.poi_panel__sub_block__title__text {
  width: 285px;
  font-size: 14px;
  color: $secondary_text;
  font-family: Asap;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__info__wiki {
  margin-top: 15px;
  font-size: 12px;
  color: $primary_text;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__info__wiki__link {
  font-size: 13px;
  color: $secondary_text;
  position: relative;

  .icon-chevrons-right {
    position: absolute;
    top: 1px;
  }
  span {
    margin-left: 15px;
  }
}

.poi_panel__info__wiki__link:hover {
  color: $primary_text;
  text-decoration: none;
}

/* symbols */
.poi_panel__section__symbol {
  width: 20px;
  height: 20px;
  display: inline-block;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1; }
}

.poi_panel__back_mobile {
  color: $primary_text;
  cursor: pointer;

  i {
    font-weight: bold;
  }
}

@media (min-width: 641px) {
  .poi_panel {
    max-height: calc(100vh - 120px);
  }
  .poi_panel__back_mobile {
    display: none;
  }

  .poi_panel__header {
    font-size: 13px;
    color: $secondary_text;
    padding: 14px 0 14px 10px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    height: $HEADER_SIZE;
    top: -$HEADER_SIZE;
    right: 0;
    background: $background;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

@media (max-width: 640px) {
  .poi_panel {
    width: 100vw;
    position: absolute;
    border-radius: 0;
  }

  .poi_panel:not(.poi_panel--card) {
    height: calc(100% - 30px);
    top: 30px;
  }

  .poi_panel__header {
    position: absolute;
    height: 100px;
    bottom: calc(100% - 30px);
    z-index: 2;
    display: block;
    background-color: #fff;
    width: 100vw;
    padding-top: 76px;
    padding-left: 12px;
    background-color: #F0F0F0;
    display: block;
  }

  .poi_header_card {
    display: none;
  }

  .poi_panel__close {
    display: none;
  }

  .poi_panel.poi_panel--card {
    @include card_shadow();
    width: calc(100vw - 16px);
    left: 8px;
    bottom: 8px;
    clear: both;
    max-height: calc(100vh - 200px);
    position: fixed;
    min-height: 125px;
  }

  .poi_panel__content__card {
    display: none;
  }

  .poi_panel--card .poi_panel__content {
    display: none;
  }

  .poi_panel--card .poi_panel__content__card {
    display: block;
  }

  .poi_panel--card {
    .poi_panel__title {
      width: auto;
      padding-top: 20px;
    }
    .poi_panel__address {
      font-size: 14px;
      padding: 8px 10px 0 0;
    }
    .poi_panel__info__hours__status__text {
      font-size: 14px;
      white-space: nowrap;
    }
    .poi_panel__description {
      font-size: 12px;
    }
  }

  .poi_panel__info__hours__status {
    width: calc(100% - 16px);
  }

  .poi_panel__toggle_display--mobile {
    display: block;
  }

  .poi_panel__toggle_display--desktop {
    display: none;
  }

  .poi_panel__toggle_display {
    top: 75px;
    right: 10px
  }

  .poi_panel__sub_block__title {
    width: calc(100% - 16px);
  }

  .poi_panel__content {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 10px;
  }

  .poi_panel__content__card__content .poi_panel__title__symbol.icon {
    margin: 6px 0 0 7px;
    right: initial;
    padding-left: 0;
  }

  .poi_panel__info__section:before {
    width: 100%;
    margin: 18px 0 12px;
  }

  .poi_panel__info__section:not(:last-of-type):after {
    width: calc(100% - 40px);
  }

  .poi_panel__description__ellipsis {
    width: 100%;
  }

  .poi_panel__content__card__content > .poi_panel__address, .poi_panel__content__card__content > * {
    padding-left: 55px;
  }

  .poi_panel__image {
    display: none;
  }
  .poi_panel__image + .poi_panel__title__symbol {
    display: block;
  }

  .poi_panel__content__card__action__container {
    margin-top: 20px;
  }

  .map_container .map_control__scale_attribute_container {
    display: none;
  }

  .poi_panel__content__card__action__direction {
    background-color: $primary_text;
    border-color: $primary_text;
    color: #fff;
  }
}
