@import "../osm_contribute";

$BLOCK_PADDING: 24px;
$BLOCK_ICON_FONT_SIZE: 16px;
$HEADER_SIZE: 40px;

.poi_panel--empty-header {
  .panel-header {
    border-bottom: none;
  }

  .poi_panel__content {
    padding-top: 0;
  }
}

.poi_panel__content {
  animation: appear 600ms forwards;
  padding: 15px 24px;
  position: relative;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1; }
}

.poi_panel__info__section {
  position: relative;
  margin-bottom: 20px;
}

.poi_panel__info__section__phone {
  font-size: $BLOCK_ICON_FONT_SIZE;
}

.poi_panel__back {
  display: inline-block;
  width: 20px;
  color: $primary_text;
}

.poi_panel__back_text {
  padding-left: 5px;
}

.poi_panel__back.icon-arrow-left {
  font-size: 22px;
  vertical-align: -5px;
}

.poi_panel__back_to_list:hover {
  color: $secondary_text;
}

.poi_panel__description_container {
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* wrap it into an element and then put padding on this new element instead */
.poi_panel__pre_title {
  margin: 0 0 3px;
  font-style: italic;
  color: $secondary_text;
}

.poi_panel__info__section__title {
  color: $secondary_text;
  font-weight: normal;
  margin: 20px 0 0 20px;
}

.poi_panel__info__section:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  background: $separator_color;
}

.poi_panel__address {
  padding: 8px 0 0 0;
}

.poi_panel__info__section__description  {
  margin: 0;
}

.poi_panel__info__link,
.poi_panel__info__contact {
  color: $secondary_text;

  &:hover {
    text-decoration: none;
    color: $primary_text;
  }
}

.poi_panel__info__hour__circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin: 3px 1px;
  border-radius: 50%;
}

.poi_panel__description__ellipsis {
  margin-top: 13px;
  padding-right: 45px;
}

.poi_panel__info__item {
  font-size: 13px;
  color: $primary_text;
}

.poi_panel__info__item--beer {
  color: #90750b;
}

.poi_panel__actions {
  display: flex;
  margin-bottom: 12px;

  .button + .button {
    margin-left: 8px;
  }

  .poi_panel__action__direction {
    flex-grow: 1;
  }
}

.poi_panel__action {
  font-size: 22px;
  color: $secondary_text;
  cursor: pointer;
  height: auto;
  text-align: center;

  div {
    margin: 9px 0;
    font-family: $font_system;
    font-size: 11px;
    text-transform: uppercase;
  }

  &:hover {
    color: $primary_text;
    text-decoration: none;
  }

  &:not(:last-child){
    margin-right: 15px;
  }

  &:not(:first-child){
    min-width: 20%
  }
}

.poi_panel__store_status__toggle:after {
  content: '';
}

.poi_panel__pictures {
  margin-bottom: 20px;
}

.poi_panel__pictures_title {
  border-top: 1px solid #e0e1e6;
  padding: 15px 0;
  font-size: 14px;
  color: #495063;
  font-weight: normal;
  position: relative;
  padding-left: 24px;
}

.poi_panel__pictures_title .icon-icon_camera {
  color: #c8cbd3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.poi_panel__pictures_block {
  width: calc(50% - 7px);
  padding-bottom: calc(50% - 7px);
  display: inline-block;
}

.poi_panel__pictures_tiles {
  position: relative;
  width: 100%;
  height: 165px;

  .poi_panel__pictures_tile {
    position: absolute;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);

    &:first-child {
      height: 100%;
      left: 0;
      top: 0;
      width: calc(50% - 7px);
      margin-right: 14px;
    }

    &:nth-child(3) {
      height: 50%;
      right: 0;
      top: 50%;
      margin-top: 5px;
      width: calc(50% - 7px);
      height: calc(50% - 5px);
    }

    &:nth-child(2) {
      height: 50%;
      right: 0;
      top: 0;
      width: calc(50% - 7px);
      height: calc(50% - 5px);
    }

    &:nth-child(2):last-child {
      height: 100%;
    }

    &:first-child:last-child {
      height: 100%;
      left: 0;
      top: 0;
      max-width: 100%;
      margin-right: 0;
    }
  }
}

/* symbols */
.poi_panel__block__symbol {
  position: absolute;
  top: 20px;
  font-size: $BLOCK_ICON_FONT_SIZE;
  color: $primary_clear;
  width: 20px;
  height: 18px;
}

.poi_panel__block__symbol.icon-icon_phone {
  top: 20px;
}
.poi_panel__block__symbol.icon-icon_clock {
  top: 24px;
}

.poi_panel__block__content {
  margin-top: 18px;
  margin-bottom: 20px;
  padding-left: $BLOCK_PADDING;

  a {
    color: #5c6f84;
  }
}

.poi_panel__service_information__container {
  position: relative;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__block__information {
  transition: max-height .2s;
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.poi_panel__block__information--extended {
  max-height: 300px;
}

.poi_panel__block__collapse {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: transform .2s;
  font-size: 24px;
  color: $secondary_text;
}

.poi_panel__block__collapse--reversed {
  transform: rotate(180deg);
}


.poi_panel__sub__sub_block__title {
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0 4px 0;
  color: $secondary_text;
}

.poi_panel__sub_block__title {
  margin-top:20px;
  cursor: pointer;
  position: relative;
}

.poi_panel__sub_block__title__text {
  width: 285px;
  color: $secondary_text;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__info__wiki {
  margin-top: 15px;
  padding-left: $BLOCK_PADDING;
}

.poi_panel__info__wiki__link {
  font-size: 12px;
  color: $secondary_text;
  position: relative;

  .icon-chevrons-right {
    position: absolute;
    top: 1px;
  }
  span {
    margin-left: 15px;
  }
}

.poi_panel__info__wiki__link:hover {
  color: $primary_text;
  text-decoration: none;
}

.marker .icon-marker::before {
  content: '';
}

.service_panel__categories--poi {
  margin-bottom: 12px;
  border-top: 1px solid rgba(0,0,0,.16);

  .service_panel__categories_title {
    font-weight: normal;
    font-size: 16px;
    color: #495063;
    margin: 15px 0;

    .icon-icon_compass {
      color: #c8cbd3;
      font-size: 14px;
      margin: 0 5px 0 0;
    }
  }

  .mainActionButton {
    width: 25%;
    margin: 5px 0 15px 0;
  }
}

.marker-anywhere {
  top: -15px;
}

.poi_panel__back_mobile {
  display: none;
}

.poi_panel__back_to_list, .poi_panel__back_mobile {
  height: $HEADER_SIZE;
  line-height: $HEADER_SIZE;
  cursor: pointer;
  margin-right: 6px;
}

.poi_panel__header {
  color: $secondary_text;
  display: flex;
  margin-left: -6px;
}

@media (max-width: 640px) {
  .poi_panel__header {
    margin-left: 0;
  }

  .poi_panel__back_mobile, .poi_panel__back_to_list {
    display: block;
    color: $primary_text;
  }

  .poi_panel {
    .panel-header {
      height: auto;
      background-color: $surface;
      padding-bottom: 0;
      padding-left: 6px;
      margin-bottom: 0;
    }

    .panel-content {
      box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 6px;
      background: white;
    }
  }

  .poi_panel__content,
  .poi_panel--empty-header .poi_panel__content {
    padding: 15px;
  }

  .poi_panel__sub_block__title {
    width: calc(100% - 16px);
  }

  .poi_panel__info__section:not(:last-of-type):after {
    width: calc(100% - 40px);
  }

  .poi_panel__description__ellipsis {
    width: 100%;
  }
}


.poi_card {
  background: white;
  @include card_shadow();
  width: calc(100vw - 16px);
  left: 8px;
  bottom: 8px;
  max-height: calc(100vh - 200px);
  position: fixed;
  min-height: 125px;
  display: flex;
  justify-content: space-between;
  padding: 0 9px 15px;

  &__description_container {
    flex-grow: 1;
    display: flex;
    margin-top: 18px;
  }

  .poiTitleImage {
    margin: -6px 0 0 -3px;
  }

  &__action_container {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
  }

  &__close {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color .1s;
    border-radius: 50%;
    font-size: 18px;
    transform: none;
    line-height: 40px;
    text-align: center;
    margin-right: -9px;

    &:hover {
      background: $background_hover;
      color: $primary_text;
    }
  }

  .button {
    width: 120px;
  }

  .poi_card__action__direction {
    margin-bottom: 9px;
  }
}

@import "./covid";
@import "./timetable";
@import "./recycling";
