.register_masq_panel {
  position: absolute;
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.17);
  background: $background;
  color: $primary_text
}

.register_masq_panel__title {
  font-size: 24px;
  font-family: Asap;
  font-weight: 500;
  margin-bottom: 10px;
}

.loggedin_masq_panel__title {
  font-size: 14px;
  font-family: Asap;
  font-weight: 500;
  margin-bottom: 10px;
}

.loggedin_masq_panel__profile_image {
  width: 45px;
  height: 45px;
}

.loggedin_masq_panel__profile_info {
  display: flex;
  flex-direction: row;
}

.register_masq_panel__action {
  padding: 8px 16px;
  background: linear-gradient(to left, #5a3b6d 0%,#e5066b 100%);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.17);
  color: $background;
  font-size: 16px;
  font-weight: 500;
}
