.service_panel {
  position: relative;
  height: 90px;
  width: $panel_width;
  margin-top: 14px;
  background: url('../images/panel_top.svg') white repeat-x;
  background-size: 100% 5px;
  @include card_shadow();
  @include card_radius();
}

.service_panel__title {
  color: $primary_text;
  font-size: 14px;
  font-family: Asap;
  font-weight: 500;
  border-bottom: 1px solid #e0e1e6;
  padding: 20px 0 10px;
  margin: 10px;
}



.side_bar__item__icon {
  color: $secondary_text;
}

.service_panel__item {
  float: left;
  margin: 0 25px 0 15px;
}

.service_panel__item--disabled {
  .service_panel__item__action, .side_bar__item__icon {
    cursor: default;
    color: rgba(92, 111, 132, .4);
  }
}

.service_panel__item__action {
  cursor: pointer;
  font-size: 13px;
  color: $secondary_text;
}

.service_panel__item:not(.service_panel__item--disabled) .service_panel__item__action:hover .service_panel__item__text {
  color: $primary_text;
  text-decoration: underline;
}

.service_panel_mobile {
  display: none;
}

@media (max-width: 640px) {
  .service_panel {
    display: none;
  }

  .service_panel_mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .service_panel_mobile__favorite {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 16px;
    right: 8px;
    cursor: pointer;
    font-size: 24px;
    line-height: 52px;
    background: #fff;
    border-radius: 50%;
    color: $secondary_text;
    @include card_shadow();
  }
}
