.service_panel {
  width: $panel_width;
  background: url('../images/panel_top.svg') white repeat-x;
  background-size: 100% 5px;
  @include card_shadow();
  @include card_radius();
  padding: 20px 20px 9px;
}

.service_panel__title {
  color: $primary_text;
  font-size: 14px;
  font-family: Asap;
  font-weight: 500;
  padding-bottom: 9px;
  border-bottom: 1px solid #e0e1e6;
  margin-bottom: 9px;
}

.service_panel__actions {
  display: flex;
  margin-bottom: 30px;

  .service_panel__action {
    margin-right: 45px;
    cursor: pointer;
    font-size: 13px;
    color: $secondary_text;

    &:hover .service_panel__action__text {
      color: $primary_text;
      text-decoration: underline;
    }
  }
}

.service_panel__categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.service_panel__category {
  width: 25%;
  cursor: pointer;
  text-align: center;
  margin: 0 0 23px 0;

  &:hover {
    .service_panel__category__icon {
      transform: scale3d(1.1, 1.1, 1.1); // scale3d is used with GPU
    }
    .service_panel__category__title {
      color: $primary_text;
    }
  }
}

.service_panel__category__icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  transition: transform .1s ease-in;
  position: relative;

  span {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.service_panel__category__title {
  margin: 9px 0 0 0;
  color: #5c6f84;
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: 640px) {
  .service_panel {
    display: none !important;
  }

  .service_panel__category {
    width: 75px;
  }

  // Overrides with grid layout if supported else fallbacks to flex wrap
  @supports (display: grid) {
    .service_panel__categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
        grid-gap: 20px;
        padding: 0 10px 10px;
        min-height: 0;
        min-width: 0;
    }

    .service_panel__category {
      width: auto;
      min-width: 0;
    }
  }
}
