.service_panel {
  position: relative;
  width: $panel_width;
  height: 100px;
  margin-top: 14px;
  background: url('/statics/images/panel_top.svg') white repeat-x;
  background-size: 100% 6px;
  @include card_shadow();
  @include card_radius();
}

.service_panel__title {
  color: $primary_text;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #e0e1e6;
  padding: 20px 0 10px;
  margin: 10px;
}

.side_bar__item__icon {
  color: $secondary_text;
}

.service_panel__item {
  float: left;
  margin-left: 15px;
}

.service_panel__item__text {
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  color: $secondary_text;
}

.service_panel_mobile {
  display: none;
}

@media (max-width: 640px) {
  .service_panel {
    display: none;
  }

  .service_panel_mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .service_panel_mobile__favorite {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 12px;
    left: 8px;
    background: #fff;
    border-radius: 50%;
    @include card_shadow();
  }
}

