.service_panel {
  position: relative;
  width: $panel_width;
  height: 100px;
  margin-top: 14px;
  background: url('/statics/images/panel_top.png') white repeat-x;
  background-size: 100% 6px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
  border-radius: 3px;
}

.service_panel__title {
  color: #353c52;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #e0e1e6;
  padding: 20px 0 10px;
  margin: 10px;
}

.side_bar__item__icon {
  color: #5c6f84;
}

.service_panel__item {
  float: left;
  margin-left: 15px;
}

.service_panel__item__text {
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  color: #5c6f84;
}

@media (max-width: 640px) {
  .service_panel {
    width: calc(100vw - 36px);
    margin-left: 18px;
  }
}
