.side_bar {
  position: absolute;
  width: $side_bar_width;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #f3f5f7;
}

.side_bar__logo {
  width: 46px;
  height: 46px;
  margin: 24px 24px;
  background-image: url("/images/tmp_fixtures/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.side_bar__logo__limit{
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.side_bar__item {
  cursor: pointer;
  height: 65px;
  width: 96px;
  text-align: center;
  position: relative;
  color: #707070;
  transition: color .2s;
}

.side_bar__item:hover, .side_bar__item--active {
  color: #191919;
}

.side_bar__item__text {
  margin-top: 8px;
  font-size: 11px;
}

.side_bar__item__icon.icon-star-empty {
  font-size: 20px;
}

.side_bar__item__icon {
  display: inline-block;
  height: 42px;
  width: 42px;
  line-height: 42px !important; /* override icon css */
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 1px 1px #e9f1f3;
  transition: background-color .2s;
}

.side_bar__item:hover .side_bar__item__icon, .side_bar__item--active .side_bar__item__icon {
  color: #fab900;
}

.side_bar__item:hover .side_bar__item__icon.icon-icon_list, .side_bar__item--active .side_bar__item__icon.icon-icon_list {
  color: #0093ec;
}

.side_bar__result {
  margin: 24px 0 10px;
}

.side_bar__fav {
  margin: 20px 0;
}

.side_bar__fav__add {
  transition: opacity .2s;
  opacity: 0;
  position: absolute;
  right: 16px;
  top: -15px;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 19px;
  background: #fcd566;
  border: 2px #fff solid;
  border-radius: 50%;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #d5a313;
  padding-left: 3px;
}

.side_bar__fav__add--active {
  opacity: 1;
}

@media (max-width: 640px) {
  .side_bar {
    position: absolute;
    transition: top .2s;
    top: -50px;
    width: 200px;
    height: 100px;
    box-shadow: #373941 0 0 7px
  }
  .side_bar--open {
    top: 70px;
  }
  .side_bar__logo {
    display: none;
  }
  .side_bar__item {
    float: left;
    margin: 20px 0 20px 0;
  }
  .side_bar__item__icon {
    border-radius: 0;
  }

}
