
.timetable {
  &-table {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 400px;
  }

  table {
    width: calc(100% - 20px);
    margin-top: 8px;
  }

  .day {
    padding: 4px 5px 4px 0;
  }

  .hours {
    text-align: right;
    padding: 4px 10px;
  }
  
  .currentDay {
    font-weight: bold;
  }

  &-status {
    display: flex;
    align-items: center;
  }

  &-status-text {
    flex-grow: 1;
    line-height: 24px;
  }

  &--collapsable {
    .timetable-status {
      cursor: pointer;
    }
  }

  .icon-icon_chevron-down {
    font-size: 24px;
    color: $secondary_text;
    transition: transform .2s;
    transform: rotate(180deg);
  }

  &--collapsed {
    .timetable-table {
      max-height: 0;
    }

    .icon-icon_chevron-down {
      transform: rotate(0deg);
    }
  }
}
