.menu__panel__title {
  display: flex;
  align-items: center;
}

.menu__panel__top__icon {
  color: #5c6f84;
  margin-left: 30px;
  margin-right: 20px;
}

.menu__panel__top__default_profile_image {
  color: #000;
  font-size: 30px;
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.menu__panel__top__profile_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
