.menu__panel__title {
  display: flex;
  align-items: center;
}

.menu__panel__top__icon {
  color: #5c6f84;
  margin-left: 30px;
  margin-right: 20px;
}

.menu__panel__top__profile_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
