BODY {
  background: url("../images/backgrounds/grid.png");
}

.side_panel__container {
  position: absolute;
  top: 104px;
  left: 18px;
}

.favorite_poi_panel__container {
  position: relative;
  max-height: calc(100vh - 75px);
}

.map_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: $background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  @include card_radius();
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
}

#layers {
  position: absolute;
  background: $background;
  padding: 10px;
  right: 10px;
}

.loader_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}

.loader_bar--loaded {
  opacity: 0;
}

.loader_bar__progress {
  width: 0;
  height: 4px;
  position: relative;
  background: linear-gradient(to right, #a83485 0%,#e04c16 25%,#ff2b5c 35%,#f29d26 55%,#77005f 82%,#77005f 82%,#6d45a5 100%);
  background-size: 100vh;
}

@media (max-width: 640px) {
  .panels--direction-open {
    .menu__button,
    .direction_shortcut {
      visibility: hidden;
    }
  }

  .top_bar--direction-open,
  .top_bar--category-open {
    .search_form {
      visibility: hidden;
    }
  }

  .side_panel__container {
    position: inherit;
    height: 0;
    overflow: visible;
  }

  .favorite_poi_panel__container {
    position: absolute;
    height: 100%;
    top: 75px;
  }

  .map_container .map_control__scale_attribute_container {

    margin: 0 0 5px;

    .mapboxgl-ctrl.map_control__scale {
      position: fixed;
      left: 0;
      margin: 12px 5px 0;
    }
  }

  .mapboxgl-ctrl-attrib.mapboxgl-compact:hover {
    max-width: calc(100vw - 115px);
  }
}

@media (max-width: 350px) {
  .search_form__input::placeholder {
    font-size: 12px;
  }
}

.map_container .marker-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 42px;
  background-image: url('../images/map/pin_map.svg');
  background-size: cover;
  margin: auto;
}

.map_container .marker-label {
  line-height: 20px;
  display: none;
}

.map_container .marker:hover{
  z-index: 10;
}

.map_container .marker:hover .marker-label {
  display: initial;
  font-weight: bold;
  pointer-events: none;
  width: 500px;
  position: absolute;
  transform: translateX(-50%) translateX(15px);
  text-align: center;
}

.map_container .marker-container.poi-hoverable {
  width: 24px;
  height: 29px;
}

.map_container .marker-container.poi-hoverable.active,
.map_container .marker:hover .marker-container.poi-hoverable {
  width: 30px;
  height: 35px;
  margin: -5px 0 0;
}

.map_container .marker-container i {
  font-size: 30px;
  color: white;
  margin-top: -3px;
}

.map_container .marker-container.poi-hoverable:hover,
.map_container .marker-container.poi-hoverable.active {
  z-index: 1;
}

.map_container .marker-container.poi-hoverable i {
  font-size: 20px;
}

.map_container .marker-container.poi-hoverable.active i,
.map_container .marker:hover .marker-container.poi-hoverable i {
  font-size: 25px;
}

.map_container .marker-container.poi-hoverable img {
  width: 24px;
}

.map_container .marker-container.poi-hoverable.active img,
.map_container .marker-container.poi-hoverable:hover img {
  width: 30px;
}
