BODY {
  background: url("../images/grid.png");
}

.map_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
}

#layers {
  position: absolute;
  background: #fff;
  padding: 10px;
  right: 10px;
}

.loader_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}

.loader_bar--loaded {
  opacity: 0;
}

.loader_bar__progress {
  width: 0;
  height: 4px;
  position: relative;
  background: linear-gradient(to right, #a83485 0%,#e04c16 25%,#ff2b5c 35%,#f29d26 55%,#77005f 82%,#77005f 82%,#6d45a5 100%);
  background-size: 100vh;
}
