BODY {
  background: url("../images/backgrounds/grid.png");
}

.side_panel__container {
  position: absolute;
  top: 104px;
  left: 18px;
  transition: transform 0.3s;

  &.side_panel__container--hidden {
    transform: translateX(-450px);
  }
}

.favorite_poi_panel__container {
  position: relative;
  max-height: calc(100vh - 75px);
}

.favorite_poi_panel__container .panel__note {
  font-size: 14px;
  display: inline-block;
  color: #5c6f84;
  margin: 2px 10px 0 0;

  a {
    color: $secondary_text;
  }
}

.favorite_poi_panel__container .panel__note .icon-icon_star-filled {
  color: #f3b100
}

.favorite_poi_panel__container .panel__note .panel__note__review_count {
  margin-left: 3px;
}

.map_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: $background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  @include card_radius();
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
}

#layers {
  position: absolute;
  background: $background;
  padding: 10px;
  right: 10px;
}

.loader_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}

.loader_bar--loaded {
  opacity: 0;
}

.loader_bar__progress {
  width: 0;
  height: 4px;
  position: relative;
  background: linear-gradient(to right, #a83485 0%,#e04c16 25%,#ff2b5c 35%,#f29d26 55%,#77005f 82%,#77005f 82%,#6d45a5 100%);
  background-size: 100vh;
}

@media (max-width: 640px) {
  .panels--direction-open {
    .menu__button,
    .direction_shortcut {
      visibility: hidden;
    }
  }

  .top_bar--direction-open,
  .top_bar--category-open {
    .search_form {
      visibility: hidden;
    }
  }

  .side_panel__container {
    position: inherit;
    height: 0;
    overflow: visible;
  }

  .favorite_poi_panel__container {
    position: fixed;
    height: 100%;
    top: 75px;
    z-index: 3;
  }

  .map_container .map_control__scale_attribute_container {
    .mapboxgl-ctrl.map_control__scale {
      position: fixed;
      left: 10px;
      bottom: 10px;
      margin: 0;
    }
  }
}

.map_container .marker-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 42px;
  background-image: url('../images/map/pin_map.svg');
  background-size: cover;
  margin: auto;
}

.map_container .marker-label {
  line-height: 20px;
  display: none;
}

.map_container .marker.active ,
.map_container .marker:hover {
  z-index: 2;
}

.map_container .marker.active .marker-label,
.map_container .marker:hover .marker-label {
  display: initial;
  font-weight: bold;
  pointer-events: none;
  width: 500px;
  position: absolute;
  transform: translateX(-50%) translateX(15px);
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
}

.map_container .marker-container.poi-hoverable {
  width: 24px;
  height: 29px;
}

.map_container .marker.active .marker-container.poi-hoverable,
.map_container .marker:hover .marker-container.poi-hoverable {
  width: 30px;
  height: 35px;
  margin: -5px 0 0;
}

.map_container .marker-container i {
  font-size: 30px;
  color: white;
  margin-top: calc(-25% + 3px);
}

.map_container .marker-container.poi-hoverable:hover,
.map_container .marker.active .marker-container.poi-hoverable {
  z-index: 1;
}

.map_container .marker-container.poi-hoverable i {
  font-size: 20px;
}

.map_container .marker.active .marker-container.poi-hoverable i,
.map_container .marker:hover .marker-container.poi-hoverable i {
  font-size: 25px;
}

.map_container .marker-container.poi-hoverable img {
  width: 24px;
}

.map_container .marker.active .marker-container.poi-hoverable img,
.map_container .marker-container.poi-hoverable:hover img {
  width: 30px;
}
