BODY {
  background: url("../images/backgrounds/grid.png");
}

noscript {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel_container {
  position: absolute;
  top: calc(#{$top_bar_height} + #{$ui_margin} + 16px);
  left: $ui_margin;
  transition: transform 0.3s;
  max-height: calc(100vh - 75px);
}

.directions-open .panel_container {
  top: $ui_margin;
}

.map_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 640px) {
  .directions-open {
    .menu__button,
    .direction_shortcut,
    .search_form {
      visibility: hidden;
    }
  }

  .panel_container {
    top: auto;
    left: 0;
    height: 100%;
    max-height: none;
  }

  .map_container .map_control__scale_attribute_container {
    .mapboxgl-ctrl.map_control__scale {
      position: fixed;
      left: 32px;
      bottom: 8px;
      margin: 0;
    }
  }
}

.map_container .marker-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 42px;
  background-image: url('../images/map/pin_map.svg');
  background-size: cover;
  margin: auto;
}

.map_container .marker-label {
  line-height: 20px;
  display: none;
}

.map_container .marker.active ,
.map_container .marker:hover {
  z-index: 2;
}

.map_container .marker.active .marker-label,
.map_container .marker:hover .marker-label {
  display: initial;
  font-weight: bold;
  pointer-events: none;
  width: 500px;
  position: absolute;
  transform: translateX(-50%) translateX(15px);
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
}

.map_container .marker-container.poi-hoverable {
  width: 24px;
  height: 29px;
}

.map_container .marker.active .marker-container.poi-hoverable,
.map_container .marker:hover .marker-container.poi-hoverable {
  width: 30px;
  height: 35px;
  margin: -5px 0 0;
}

.map_container .marker-container i {
  font-size: 30px;
  color: white;
  margin-top: calc(-25% + 3px);
}

.map_container .marker-container.poi-hoverable:hover,
.map_container .marker.active .marker-container.poi-hoverable {
  z-index: 1;
}

.map_container .marker-container.poi-hoverable i {
  font-size: 20px;
}

.map_container .marker.active .marker-container.poi-hoverable i,
.map_container .marker:hover .marker-container.poi-hoverable i {
  font-size: 25px;
}

.map_container .marker-container.poi-hoverable img {
  width: 24px;
}

.map_container .marker.active .marker-container.poi-hoverable img,
.map_container .marker-container.poi-hoverable:hover img {
  width: 30px;
}
