.search_form {
  position: relative;
  display: flex;
}

.search_form__input {
  background: #fff;
  width: 382px;
  height: 68px;
  padding: 8px 60px 10px 70px;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: normal;
  color: #5c6f84;
  border-radius: 34px;
}

/* Disable Chrome custom 'cancel' button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search_form__logo {
  display: block;
  position: absolute;
  left: 10px;
  top: 8px;
  width: 68px;
  height: 68px;
  font-size: 14px;
  background: url(/statics/images/qwant-logo.svg) no-repeat;
  color: #888;
}

.search_form__action {
  position: absolute;
  width: 30px;
  height: 44px;
  right: 30px;
  top: 12px;
  background: #fff url(/statics/images/not-active.svg) center no-repeat;
  background-size: 20px 20px;
  font-size: 14px;
  color: #888;
}

.search_form__clear {
  position: absolute;
  display: block;
  right: 50px;
  cursor: pointer;
  top: 6px;
  height: 60px;
  width: 60px;
}

.search_form__input:valid ~ .search_form__clear {
  display: block;
}

.search_form__input:invalid ~ .search_form__clear {
  display: none;
}

.autocomplete_suggestions {
  text-align: left;
  cursor: default;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
}

.autocomplete_address {
  padding-left: 6px;
  color : #777981;
}

.autocomplete_suggestion.selected {
  border-left: #f95d00 solid 3px;
  padding-left: 17px;
  background-color: #f8fafc;
}

.autocomplete_suggestion {
  transition: background-color .2s;
  position: relative;
  padding: 7px 0 7px 20px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #555;
  background-color: #fff;
}

.autocomplete-icon {
  display: inline-block;
  width: 20px;
}

.autocomplete-icon.icon:before {
  font-size: 28px;
  line-height: 18px;
  margin-left: -8px;
}

.autocomplete_suggestion--history {
  color : #039BE5;
}

.autocomplete_suggestion--history .autocomplete_prefix {
  color : #039BE5;
}

.autocomplete_prefix {
  color : #070912;
}

@media (max-width: 640px) {

  .search_form__clear {
    font-size: 24px;
    line-height: 48px;
    color: $emphase_color;
  }

  .search_form {
    width: 100%;
    margin: 0;
    top:0;
    left: 0;
    height: 70px;
  }

  .search_form__input {
    width: calc(100vw - 16px);
    height: 48px;
    left: 8px;
    top:10px;
    position: absolute;
    padding: 0 50px 0 50px;
    border-radius: 24px;
  }

  .search_form__logo {
    width: 30px;
    height: 30px;
    background-image: url(/statics/images/qwant-logo.svg);
    background-size: 30px 30px;
  }

  .search_form__action {
    right: 18px;
    top: 20px;
    height: 30px;
  }
}
