.search_form {
	font: 12px/20px 'Helvetica', Arial, Helvetica, sans-serif;
	background-color: #fff;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	top: 36px;
	left: 36px;
	position: absolute;
	display: flex;
	padding: 0;
	min-width: 25em;
	width: 45em;
	height: 50px;
	margin: 5px auto;
}

.search_form__input {
	border: none;
	width: 415px;
	height: 28px;
	padding: 10px 10px 10px 60px;
	font-size: 16px;
	font-weight: 300;
	background: none;
}

.search_form__logo {
	background-image: url(../../statics/images/qwant-logo.png);
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 13px;
	font-size: 14px;
	color: #888;
}

.search_form__action {
	background: #fff url(../../statics/images/not-active.svg) center no-repeat;
	background-size: 20px 20px;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	font-size: 14px;
	color: #888;
}

.autocomplete-suggestions {
	text-align: left;
	cursor: default;
	border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
	box-shadow: -1px 1px 3px rgba(0,0,0,.1);

	/* core styles should not be changed */
	position: absolute;
	display: none;
	z-index: 9999;
	max-height: 254px;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

.autocomplete_suggestion {
	position: relative;
	padding: 0 .6em;
	line-height: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.02em;
	color: #333;
}
