.search_form {
  position: absolute;
  display: flex;
  top: 5px;
  left: 101px;
  width: $panel_width - 10px;
  height: 50px;
  padding: 0;
  min-width: 25em;
  font: 12px/20px 'Helvetica', Arial, Helvetica, sans-serif;
  background-color: #fff;
  font-weight: 300;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.3);
}

.search_form__input {
  width: 400px;
  height: 50px;
  padding: 10px 10px 10px 60px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  background: none;
}

.search_form__logo {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 13px;
  font-size: 14px;
  background-image: url(../statics/images/qwant-logo.png);
  background-size: 20px 20px;
  color: #888;
}

.search_form__action {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  background: #fff url(../statics/images/not-active.svg) center no-repeat;
  background-size: 20px 20px;
  font-size: 14px;
  color: #888;
}

.autocomplete_suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete_suggestion.selected {
  border-left: #f95d00 solid 3px;
  padding-left: 17px;
  background-color: #f8fafc;
}

.autocomplete_suggestion {
  transition: background-color .2s;
  position: relative;
  padding: 7px 0 7px 20px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #555;
  background-color: #fff;
}

.autocomplete_suggestion--history {
  color : #039BE5;
}

.autocomplete_suggestion--history .autocomplete_prefix {
  color : #039BE5;
}

.autocomplete_prefix {
  color : #7d0c4e;
}

.search_form__burger {
  display: none;
  position: absolute;
  left: 10px;
  top: 20px;
  width: 30px;
  height: 30px;
}

.search_form__burger div {
  width: 30px;
  height: 4px;
  margin-bottom: 8px;
  background-color: #424446;
}

@media (max-width: 640px) {
  .search_form__burger {
    display: block;
  }

  .search_form {
    width: 100%;
    margin: 0;
    top:0;
    left: 0;
    height: 70px;
    background-color: #f7fafb;
  }
  .search_form__input {
    width: calc(100% - 90px);
    right: 0;
    position: absolute;
    margin: 10px;
    background: #fff;
  }
  .search_form__logo {
    left: 50px;
    top: 24px;
  }
  .search_form__action {
    right: 10px;
    top: 10px;
  }
}