/* text */
$primary_text: #0c0c0e;
$primary_alternative_text: #ffffff;
$primary_clear: #c8cbd3;
$secondary_text : #59595f;
$secondary_text_clear: #697496;
$secondary_variant_text : #018475; /* link */
$grey-darker: #29292f;
$grey-black: #0c0c0e;
$grey-semi-darkness: #59595f;
$grey-semi-lightness: #c4c4cc;
$grey-light: #d9d9e0;
$grey-lighter: #e8e8ed;
$grey-bright: #f5f5f7;
$grey-grey: #898991;

/* background */
$background : #ffffff;
$background_hover : #F4F6FA;
$background_active: #F4F6FA;
$background_alternate: #039BE5;
$surface : #f4f6fa;

/* separator */
$separator_color : #e0e1e6;

/* error  */
$error_background : #f8d7da;
$error_border : #f5c6cb;
$error_text : #721c24;

/* actions */
$action-blue-base: #1a6aff;
$action-blue-light: #80acff;
$action-blue-lighter: #e5eeff;
$action-blue-dark: #1050c5;

$red-base: #ff1d3c;
$green-base: #83c458;
$orange-base: #ff851e;

$focus-gradient: linear-gradient(to right, #216fff, #af27cc);
$active-gradient: linear-gradient(to right, $action-blue-base, $action-blue-light);
$active-gradient-vertical: linear-gradient(to bottom, $action-blue-base, $action-blue-light);

$shadow: 0 1px 4px 0 rgba(12, 12, 14, 0.2), 0 0 2px 0 rgba(12, 12, 14, 0.12);
$shadow-focus: 0px 0px 0px 4px rgba(128, 172, 255, 0.2);
