// dimensions

$panel_width : 400px;
$top_bar_height: 64px;
$ui_margin: 12px;

@mixin panel_radius() {
  border-radius: 12px;
  overflow: hidden;
}

@mixin card_radius() {
  border-radius: 3px;
}

@mixin card_shadow() {
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 6px;
}

@mixin long_shadow() {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
}
