.contribute {
  margin: $spacing-s 0;
  padding: $spacing-s;
  border-radius: 8px;
  background-color: $grey-bright;

  .contribute__text--caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contribute__logo {
  display: block;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-right: $spacing-s;
  background-size: cover;

  .contribute--inrae & {
    background: center / contain no-repeat url('../../images/inrae.svg');
  }

  .contribute--rv & {
    background: center / contain no-repeat url('../../images/reseau-vrac.svg');
  }

  .contribute--osm & {
    background-image: url('../../images/openstreetmap.png');
  }

  .contribute--pj & {
    background-image: url('../../images/pagesjaunes.svg');
  }

  .contribute--ta & {
    background-image: url('../../images/tripadvisor.svg');
  }

  .contribute--eco & {
    background: var(--grey-100);
    border-radius: 12px;
  }
}
