.contribute {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 1px $separator_color;
  border-radius: 8px;
  margin: 12px 0;
  background-color: $grey-bright;
  padding: 7px;
  height: 60px;

  &.contribute--pj {
    padding-left: 15px;
  }
}

.contribute__logo-osm {
  display: block;
  flex: none;
  width: 45px;
  margin-right: 7px;
  height: 45px;
  background: url("../images/openstreetmap.png");
  background-size: 45px;
}

.contribute__text_container {
  margin-right: 7px;
}

.contribute__link {
  display: inline-block;
  color: $action-blue-base !important;
  margin-right: 24px;
}
