@import './vehicleSelector.scss';

.direction-form {

  .delayed {
    margin: 5px 0;
  }
  .delayed input, .delayed button, .delayed select {
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 5px;
    height: 20px;
  }


  display: flex;
  flex-direction: column;
  padding: 14px;
  

  .direction-fields {
    background: var(--grey-000);
    margin: 2px 0 4px;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 16px 0 rgba(12, 12, 14, 0.2), 0 4px 8px 0 rgba(12, 12, 14, 0.12);
    height: 96px;

    @media (min-width: 641px) {
      margin-bottom: 0;
    }

    .direction-form-separator {
      border-top: 1px solid #c8cbd3;
      margin: 0 52px 0 44px;
    }

    .direction-invert-button {
      margin: 0 14px;

      @media (max-width: 640px) {
        margin: 0 12px;
      }
    }

    .direction-fields-block {
      width: 100%;
      background-image: radial-gradient(circle at center, $grey-grey 1.25px, transparent 1.5px),
        radial-gradient(circle at center, $grey-grey 1.25px, transparent 1.5px),
        radial-gradient(circle at center, $grey-grey 1.25px, transparent 1.5px);
      background-position: 22px calc(50% - 7px), 22px calc(50%), 22px calc(50% + 7px);
      background-size: 4px 4px;
      background-repeat: no-repeat;

      @media (min-width: 641px) {
        background-position: 30px calc(50% - 7px), 30px 50%, 30px calc(50% + 7px);
      }
    }

    .divider-line {
      background-color: $grey-light;
    }
  }

  .divider {
    margin-left: 48px;

    @media (min-width: 641px) {
      margin-left: 64px;
    }
  }
}
