#itinerary_container {
  display: none;
  max-height: calc(100vh - 110px);
  overflow: visible;
  font-size: 12px;
  width: 400px;
  background: url("../images/panel_top.svg") #f4f6fa repeat-x;
  background-size: 100% 5px;
  @include card_shadow();
  border-radius: 3px;

  input[readonly] {
    opacity: 0.5
  }

  &.itinerary_container--active {
    display: block;
  }
}

.itinerary_close {
  width: 20px;
  height: 20px;
  float: right;
  margin: 9px;
  color: $secondary_text;
  background-size: 16px;
  cursor: pointer;
  font-size: 18px;
}

.itinerary_title {
  font-size: 14px;
  margin: 0;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #495063;
}

.itinerary__field__clear {
  display: none;
  position: absolute;
  right: 30px;
  top: 4px;
  padding: 8px;
  color: $secondary_text;
  cursor: text;
  font-size: 15px;
}

.itinerary_container--start-focused #itinerary_input_origin:valid:focus ~ .itinerary__field__clear,
.itinerary_container--end-focused #itinerary_input_destination:valid:focus ~ .itinerary__field__clear {
  display: block;
  cursor: pointer;
}

.itinerary_fields {
  background: $background;
  @include card_shadow();
  width: 364px;
  margin: 0 18px;
  position: relative;
  border-radius: 3px;
}

.itinerary_field_origin,
.itinerary_field_destination {
  position: relative;
}

.itinerary_fields,
.itinerary_vehicles {
  display: block;
}

.itinerary_container--preview .itinerary_fields,
.itinerary_container--preview .itinerary_vehicles {
  display: none;
}

.itinerary_icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 38px;
}

.itinerary_icon_origin {
  font-size: 16px;
  padding: 15px 11px;
}

.itinerary_icon_origin_inner {
  width: 16px;
  height: 16px;
  background: #4ba2ea;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.itinerary_icon_destination {
  background-image: url('../images/direction_icons/pin.png');
  background-size: cover;
  width: 14px;
  height: 17px;
  margin: 10px 12px 0 12px;
}

#itinerary_input_origin, #itinerary_input_destination {
  position: relative;
  width: 364px;
  height: 40px;
  padding: 0 22px 0 44px;
  border: none;
  font-size: 16px;
  color: $primary_text;
}

#itinerary_input_origin:disabled, #itinerary_input_destination:disabled {
  color: #dddddd;
}

#itinerary_input_origin::placeholder, #itinerary_input_destination::placeholder {
  font-style: italic;
  color: #c8cbd3;
  font-size: 16px;
}

.itinerary__form__separator {
  border-top: 1px solid #c8cbd3;
  width: 290px;
  margin-left: 37px;
}

.itinerary_invert_origin_destination {
  color: $secondary_text;
  background-size: 15px;
  position: absolute;
  width: 17px;
  height: 16px;
  right: 10px;
  top: 33px;
  cursor: pointer;
  font-size: 16px;
}

.itinerary_vehicles {
  height: 55px;
  text-align: center;
  padding: 15px;
}

.itinerary_button_label {
  display: inline-block;
  min-width: 50px;
  height: 28px;
  margin: 0 18px;
  padding-top: 5px;
  border-radius: 14px;
  color: $secondary_text;
  cursor: pointer;
  font-size: 18px;
}

.label_active {
  background: $secondary_text;
  color: $background;
}

.itinerary_suggest_your_position {
  border-left: 3px solid $background;
}
.itinerary_suggest_your_position:hover {
  background: #f4f6fa;
  border-left: 4px solid #ff3b4a;
}

.itinerary_suggest_your_position,
.itinerary_suggest_your_position.selected,
.itinerary_suggest_your_position:hover,
.itinerary_suggest_your_position.selected:hover {
  padding-left: 15px !important;
}

.itinerary_no-result {
  text-align: center;
  padding: 25px 75px;
  color: #5c6f84;
  font-size: 16px;
  background: #fff
}

.itinerary_no-result .icon-alert-triangle{
  color: #c8cbd3;
  font-size: 22px;
  margin: 0 0 11px;
  display: inline-block;
}

.itinerary_leg--placeholder .itinerary_leg_distance {
  margin: 0;
}

.itinerary_placeholder-box {
  margin: 0 0 7px;
  background: #e0e1e6;
  border-radius: 3px;
  height: 13px;
  display: inline-block;
}

.itinerary_result {
  background: $background;
  overflow: auto;
  max-height: calc(100vh - 290px);
}

.itinerary_leg {
  position: relative;
  cursor: pointer;

  &:not(:last-child):after {
    content: '';
    background-color: #e0e1e6;
    height: 1px;
    margin: 0 33px;
    display: block;
  }

  &--active .itinerary_leg_summary,
  &:hover .itinerary_leg_summary {
    border-left: 4px solid #ff3b4a;
  }
}

.itinerary_leg_summary {
  border-left: 4px solid $background;
  display: flex;
  padding: 20px;
  align-items: center;
}

.itinerary_leg_icon {
  width: 20px;
  height: 20px;
  margin: 0 18px 0 9px;
  font-size: 18px;
  color: $primary_text;
  flex-shrink: 0;
}

.itinerary_leg_via {
  align-self: flex-start;
  flex-grow: 1;
  margin-right: 9px;
  color: $primary_text;
}

.itinerary_leg_via_title {
  font-size: 16px;
}

.itinerary_leg_via_details {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0 0;
}

.itinerary_leg_via_details:hover {
  text-decoration: underline;
}

.itinerary_leg_via_details_icon {
  display: inline-block;
  background: url('../images/direction_icons/arrow-right.svg') no-repeat center center;
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  background-size: 100%;
  vertical-align: middle;
  transition: transform .2s;
}

.itinerary_leg_via_details_icon.open {
  transform: rotate(90deg);
}

.itinerary_leg_info {
  text-align: right;
  align-self: flex-start;
  margin-right: 15px;
  font-size: 16px;
}

.itinerary_leg_duration {
  font-weight: bold;
  color: #ff3b4a;
  margin-bottom: 6px;
  white-space: nowrap;
}

.itinerary_leg_distance {
  color: $primary_text;
}

.itinerary_leg_preview {
  display: none;
}

.itinerary_marker_origin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4ba2ea;
  border: 2px solid $background;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  z-index: 2;
}

.itinerary_marker_destination {
  background-image: url('../images/direction_icons/pin.png');
  background-size: cover;
  width: 30px;
  height: 37px;
  margin: -10px 0 0 4px;
  cursor: pointer;
  z-index: 2;
}

.itinerary_marker_step {
  background: $background;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.itinerary_marker_step:hover,
.itinerary_marker_step--highlighted{
  width: 9px;
  height: 9px;
  border: 2px solid rgba(75,162,234,.5);
}

.itinerary_roadmap_icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 0 24px 0 12px;
  flex-shrink: 0;
}

.itinerary_roadmap_icon_origin {
  padding: 5px;
}

.itinerary_roadmap_step {
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding-left: 18px;
  border-left: 4px solid $secondary_text;
}

.itinerary_roadmap_step:hover,
.itinerary_roadmap_step--selected {
  border-left: 4px solid #ff3b4a;
}

.itinerary_roadmap {
  .itinerary_roadmap_step:last-of-type .itinerary_roadmap_instruction {
    border-bottom: none;
  }

  .itinerary_roadmap_step:last-of-type .itinerary_roadmap_icon {
    background-image: url(../images/direction_icons/pin.png);
    background-size: contain;
  }
}

.itinerary_roadmap_instruction {
  font-size: 14px;
  color: $primary_text;
  padding: 14px 0;
  border-bottom: 1px solid #e0e1e6;
  flex-grow: 1;
}

.itinerary_roadmap_instruction_light {
  color: $secondary_text;
}

.itinerary_roadmap_distance {
  flex-basis: 60px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: -6px;
  padding-right: 9px;
  text-align: right;
  font-size: 12px;
  color: $secondary_text;
}

.itinerary_suggest_your_position {
  border-bottom: 1px solid #e0e1e6;
  padding: 15px 10px;
  font-size: 16px;
  color: $primary_text;
}

.itinerary_suggest_your_position_icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  background-size: 100%;
  margin: 0 10px 0 0;
}

.itinerary_suggest_line1 {
  font-size: 16px;
  color: $primary_text;
  padding: 5px 5px 5px 20px;
}

.itinerary_suggest_line2 {
  margin: 0;
  font-size: 14px;
  color: $secondary_text;
  padding: 0px 5px 5px 29px;
}

/* ../images/direction_icons */

.itinerary_roadmap_icon_arrive {
  background-image: url('../images/direction_icons/pin.png');
}

.itinerary_roadmap_icon_slight-left {
  background-image: url(../images/direction_icons/arrow-up-left.svg);
}

.itinerary_roadmap_icon_slight-right {
  background-image: url(../images/direction_icons/arrow-up-right.svg);
}

.itinerary_roadmap_icon_straight {
  background-image: url(../images/direction_icons/arrow-up.svg);
}

.itinerary_roadmap_icon_depart {
  background-image: url(../images/direction_icons/arrow-up.svg);
}

.itinerary_roadmap_icon_roundabout {
  background-image: url(../images/direction_icons/roundabout.svg);
}

.itinerary_roadmap_icon_error {
  background-image:url(../images/direction_icons/alert-triangle.svg);
}

.itinerary_roadmap_icon_reverse {
  background-image:url(../images/direction_icons/reverse.svg);
}

.itinerary_roadmap_icon_sharp-left {
  background-image:url(../images/direction_icons/sharp-left.svg);
}

.itinerary_roadmap_icon_sharp-right {
  background-image:url(../images/direction_icons/sharp-right.svg);
}

.itinerary_roadmap_icon_left {
  background-image:url(../images/direction_icons/corner-up-left.svg);
}

.itinerary_roadmap_icon_right {
  background-image:url(../images/direction_icons/corner-up-right.svg);
}

.itinerary_roadmap_icon_u-turn {
  background-image:url(../images/direction_icons/u-turn.svg);
}

.itinerary_roadmap_icon_waypoint {
  background-image: url('../images/direction_icons/pin.png');
}

.itinerary_close_mobile {
  display: none;
}

.direction_shortcut {
  display: none;
  cursor: pointer;
}

.itinerary_panel__item__share {
  font-size: 16px;
  color: #5c6f84;
}

/* Mobile */

@media (max-width: 640px){
  #itinerary_container {
    top: 0;
    left: 0;
    width: 100%;
    background: url("../images/backgrounds/top_mobile.svg") #f4f6fa no-repeat center top;
    background-size: 640px auto;
    position: fixed;
    z-index: 3;
  }
  
  .itinerary_title {
    color: $background;
  }

  .itinerary__form__separator {
    width: calc(100% - 80px);
  }
  
  .itinerary_fields {
    border-radius: 3px;
    width: auto;
  }

  #itinerary_input_origin, #itinerary_input_destination {
    width: calc(100% - 36px);
    font-size: 14px;
  }
  
  .direction_suggestions {
    position: fixed;
  }
  
  .itinerary_vehicles {
    margin: 8px 5px 5px;
    padding: 0;
    height: auto;
  }
  
  .itinerary_close {
    display: none;
  }
  
  .itinerary_close_mobile {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    color: $background;
    line-height: 17px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    padding: 10px 5px;
  }
  
  .itinerary_close_mobile_icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    position: relative;
    top: -4px;
    margin: 0 5px 0 0;
    font-size: 22px;
  }

  .itinerary_input_focused {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100% !important;
    height: 60px !important;
    line-height: 60px;
    background: $background;
    padding: 0 10px 0;
    font-size: 16px;
  }

  .itinerary_container--start-focused .itinerary_icon,
  .itinerary_container--end-focused .itinerary_icon{
    display: none;
  }

  .itinerary__field__clear {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -24px;
    font-size: 16px;
    padding: 10px;
  }

  .itinerary_leg {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    background: $background;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    display: none;

    &--active {
      display: block;
    }
  }

  .itinerary_leg_summary {
    border-left: none !important;
    pointer-events: none;
    display: grid;
    grid-template-areas: "info info actions" "via via actions";
  }

  .itinerary_leg_icon,
  .itinerary_leg_via_details,
  .itinerary_panel__item__share {
    display: none;
  }

  .itinerary_leg_info {
    text-align: left;
    grid-area: info;
  }

  .itinerary_leg_via {
    grid-area: via;
  }

  .itinerary_leg_duration,
  .itinerary_leg_distance {
    display: inline-block;
    margin-right: 6px;
  }
  
  .itinerary_leg_preview {
    pointer-events: all;
    grid-area: actions;
    justify-self: end;
    display: block;
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
    border: 1px solid #c8cbd3;
    font-weight: bold;
  }
  
  .itinerary_leg_preview_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    margin: 0 10px 0 10px;
    font-size: 16px;
  }
  
  .itinerary_mobile_step {
    position: fixed;
    top: 36px;
    background: $background;
    margin: 0 15px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    width: calc(100% - 30px);
    user-select: none;

    .itinerary_roadmap_step {
      border-left: 0;
      padding: 12px;
      display: grid;
      grid-template-areas: "icon distance" "icon instruction";
      grid-template-columns: 48px;
      grid-column-gap: 12px;
    }
  }
  
  .itinerary_roadmap_icon {
    grid-area: icon;
    width: 48px;
    height: 48px;
    background-size: 100%;
    margin: 0;
  }
  
  .itinerary_roadmap_instruction {
    grid-area: instruction;
    padding: 0; 
    border: none;
  }
  
  .itinerary_roadmap_distance {
    grid-area: distance;
    text-align: left;
    font-size: 16px;
    margin: 0 0 5px;
  }
  
  .itinerary_mobile_step_buttons {
    width: 96px;
    height: 48px;
    background: $background;
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  
  .itinerary_mobile_step_button {
    width: 48px;
    height: 48px;
    float: left;
    border-right: 1px solid #f4f6fa;
    font-size: 24px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      color: $primary_clear;
    }
  }

  .service_panel_mobile__direction {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: $secondary_text;
    position: fixed;
    right: 9px;
    bottom: 115px;
    background: $background;
    @include card_shadow();
    font-size: 24px;
  }

  .itinerary_container--start-focused,
  .itinerary_container--end-focused {
    height: 5px;
    overflow: hidden;

    .itinerary_vehicles {
      display: none;
    }
  }

  #itinerary_input_origin:focus,
  #itinerary_input_destination:focus {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    background: $background;
    padding: 20px 50px 20px 20px;
    height: 60px;
    line-height: 45px;
  }

  .itinerary_container--start-focused #itinerary_input_destination,
  .itinerary_container--end-focused #itinerary_input_origin {
    display: none;
  }

  .direction_shortcut {
    display: block;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.2) 0 2px 12px 0;
    position: fixed;
    bottom: 66px;
    right: 9px;
    color: #5c6f84;
    font-size: 25px;

    /* Attempt to fix rare layout bug on iOS */
    transform: translate3d(0,0,0);

    &:hover {
      background: #353c52;
      color: #fff;
      background-size: 25px;
    }

    .directions-open & {
      display: none;
    }
  }
}
