@import "./vehicleSelector.scss";

.direction-form {
  display: flex;
  flex-direction: column;
  padding: 0 18px 0;

  @media (min-width: 641px) {
    flex-direction: column-reverse;
    padding-bottom: 16px;

    .vehicleSelector {
      margin-left: -4px;
      margin-bottom: 12px;
    }
  }

  .direction-fields {
    background: $background;
    margin: 0 0 4px;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 641px) {
      margin-bottom: 0;

      &:focus-within {
        &::before {
          background: $focus-gradient;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: -1px;
      border-radius: inherit;
      z-index: -1;
      background: $grey-light;
    }

    .direction-form-separator {
      border-top: 1px solid #c8cbd3;
      margin: 0 52px 0 44px;
    }

    .direction-invert-button {
      margin: 0 14px;
      @media (max-width: 640px) {
        margin: 0 12px;
      }
    }

    .direction-fields-block {
      width: 100%;
    }
  }
}
