@import "./direction-panel";
@import "./direction-form.scss";
@import "./direction-field.scss";
@import "./mobileRouteDetails.scss";
@import "./roadmapIcon.scss";
@import "./routeLabel.scss";

@mixin active-border-gradient {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: calc(100% - 24px);
  border-radius: 0 4px 4px 0;
  background-image: $active-gradient-vertical;
}

@mixin icon_origin {
  width: 16px;
  height: 16px;
  background: #4ba2ea;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.itinerary_no-result {
  text-align: center;
  padding: 25px 50px;
  color: #5c6f84;
  font-size: 16px;
  background: #fff
}

.itinerary_no-result .icon-alert-triangle{
  color: #c8cbd3;
  font-size: 22px;
  margin: 0 0 11px;
  display: inline-block;
}

.itinerary_source {
  background: $background;
  border-top: 1px solid #e0e1e6;
  padding: 9px 18px;
  font-size: 12px;

  a {
    display: flex;
    align-items: center;
    color: $primary_text;
    text-transform: uppercase;
  }

  img {
    height: 18px;
    margin-right: 9px;
  }
}

.itinerary_result {
  overflow: auto;
}

.itinerary_leg {
  &--active .itinerary_leg_summary {
    &:before {
      @include active-border-gradient;
    }

    .route-summary-info-duration {
      color: $action-blue-base;
    }
  }
}

.itinerary_leg_summary {
  padding: 20px;
  cursor: pointer;
  position: relative;

  @media (min-width: 641px) {
    &:hover {
      background-color: $grey-bright;
    }
  }
}

.itinerary_leg_via {
  align-self: flex-end;
  flex-grow: 1;
  margin-right: 9px;
  color: $primary_text;
}

.itinerary_leg_via_title {
  font-size: 16px;
}

.itinerary_marker_origin {
  @include icon_origin;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.itinerary_marker_destination {
  background-image: url('../images/direction_icons/pin.png');
  background-size: cover;
  width: 30px;
  height: 37px;
  cursor: pointer;
  z-index: 2;
}

.itinerary_marker_step {
  background: $background;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.itinerary_marker_step--highlighted{
  width: 9px;
  height: 9px;
  border: 2px solid rgba(75,162,234,.5);
}

.itinerary_roadmap_item_icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: 60px;
}

.itinerary_roadmap {
  .divider {
    margin: 0 12px;

    &:last-child {
      display: none;
    }
  }

  .itinerary_roadmap_item {
    position: relative;
    padding: 10px 0;

    &:hover {
      background-color: $grey-bright;
      cursor: pointer;
      position: relative;

      &:before {
        @include active-border-gradient;
      }
    }

    &--transportLine .itinerary_roadmap_item_icon,
    &--walk .itinerary_roadmap_item_icon {
      align-self: flex-start;
    }
  }

  &--publicTransport {
    .icon-icon_chevron-up,
    .icon-icon_chevron-down {
      align-self: flex-start;
      line-height: 21px;
    }

    .divider {
      margin-left: 60px;
    }
  }
}

.itinerary_roadmap_step_description {
  padding-right: 12px;
  flex-grow: 1;
}

.itinerary_roadmap_item_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;

  &--openable {
    cursor: pointer;
  }
}

.itinerary_roadmap_substep {
  display: flex;
  padding: 3px 0;
  position: relative;
  font-size: 14px;

  &:last-child {
    border-bottom: none;
  }

  &_bullet {
    background: white;
    border-radius: 50%;
    border: 3px solid;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: -36px;
    z-index: 2;
  }

  .roadmapIcon {
    margin: 0 6px 0 0;
    width: 18px;
    height: 18px;
  }
}

.itinerary_roadmap_instruction {
  font-weight: normal !important;
}

.itinerary_roadmap_line {
  position: absolute;
  width: 7px;
  left: 27px;
  height: calc(100% - 28px);
  top: 38px;
  border-radius: 3px;
  z-index: 1;

  &--walk {
    background: url(../images/direction_icons/walking_bullet_roadmap.png) repeat space;
    background-size: 7px 10px;
  }

  &--transportLine {
    height: calc(100% - 36px);
    top: 42px;
  }
}

@supports (-moz-appearance:none) {
  .itinerary_roadmap_line--walk {
    background-repeat: repeat-y;
  }
}

button.direction_shortcut {
  display: none;
  cursor: pointer;
  background: #353c52;
  color: #fff;
}

.itinerary_panel__item__share {
  font-size: 16px;
  color: #5c6f84;
}

/* Mobile */

@media (max-width: 640px){
  .itinerary_result {
    max-height: none;
  }

  .itinerary_no-result {
    background-color: transparent;
  }

  .itinerary_result .itemList-item {
    overflow: hidden;
  }

  .itinerary_leg_via {
    grid-area: via;
  }

  .itinerary_mobile_step {
    position: fixed;
    bottom: 12px;
    left: 35px;
    right: 35px;
    min-height: 80px;
    background: $background;
    user-select: none;

    .closeButton {
      position: absolute;
      top: 0;
      right: 0;
    }
    .roadmapIcon {
      width: 20px;
      height: 20px;
      margin: 8px;
    }

    .itinerary_roadmap_instruction {
      grid-area: instruction;
      padding: 0;
      border: none;
    }

    .itinerary_roadmap_item {
      border-left: 0;
      padding: 12px;
      .divider {
        display: none;
      }
    }

    .itinerary_roadmap_distance {
      grid-area: distance;
      text-align: left;
      font-size: 16px;
      margin: 0 0 5px;
    }
  }

  .itinerary_roadmap_instruction {
    font-weight: normal !important;
    padding: 14px 0;
    flex-grow: 1;
    line-height: 1.5em;
  }

  button.direction_shortcut {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.2) 0 2px 12px 0;
    position: fixed;
    bottom: 66px;
    right: 9px;
    font-size: 25px;
    opacity: 1;
    transition: opacity .2s;
    background: $action-blue-base url(../images/direction.svg) center no-repeat;

    &:not(:disabled):hover {
      background: $action-blue-base url(../images/direction.svg) center no-repeat;
    }

    /* Attempt to fix rare layout bug on iOS */
    transform: translate3d(0,0,0);

    .directions-open & {
      display: none;
    }

    &.hidden {
      opacity: 0;
    }
  }

  .itinerary_source {
    display: none;
  }

  .autocomplete_suggestions {
    height: 100vh;
  }

  // Step by step mobile view
  .itinerary_mobile_step_by_step {

    .mobile-roadmap-preview-close {
      text-align: center;
      padding: 7px 0 0;
      margin: 0 0 0 11px;
      background: $background;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 0 1px 4px 0 rgba(12, 12, 14, 0.2), 0 0 2px 0 rgba(12, 12, 14, 0.12)
    }

    .divider {
      display: none;
    }

    .itinerary_roadmap_item_icon {
      width: 36px;
      .roadmapIcon {
        margin: 8px 0;
      }
    }

    .mobile-roadmap-preview-steps {
      display: flex;
      position: fixed;
      bottom: 0;
      padding-bottom: 19px;
      width: 100vw;
      height: auto;
      min-height: 99px;
      overflow: auto;
      scroll-snap-type: x mandatory;
      scroll-padding: 0 35px;

      &.expanded {
        .itinerary_mobile_step .itinerary_roadmap_instruction {
          max-height: 30vh;
          overflow: auto;
        }
      }

      .itinerary_mobile_step {
        flex: 0 0 calc(100vw - 70px);
        margin: 0 6px;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
        border: none;
        border-radius: 12px;
        box-shadow: 0 1px 4px 0 rgba(12, 12, 14, 0.2), 0 0 2px 0 rgba(12, 12, 14, 0.12);

        &.past {
          background-color: $grey-lighter;

          .itinerary_roadmap_instruction:after {
            background: linear-gradient(#e8e8ed77, $grey-lighter);
          }
        }

        &.active {
          border: 1px solid $action-blue-dark;
          box-shadow: 0 0 0 4px rgba(128, 172, 255, 0.2);
        }

        &:first-of-type {
          margin-left: 35px;
        }

        // This element is added at the end of the list to scroll properly
        &.spacer {
          flex: 0 0 22px;
          visibility: hidden;
        }

        .itinerary_roadmap_item {
          width: 100%;
          height: 100%;
          padding: 10px;
        }

        .itinerary_roadmap_instruction {
          max-height: 48px;
          line-height: 16px;
          padding-bottom: 6px;
          overflow: hidden;
          display: block;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            background: linear-gradient(#ffffff77, #ffffff);
            height: 6px;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

}
