#itinerary_container {
  max-height: calc(100vh - 110px);
  overflow: visible;
  font-size: 12px;
  width: 400px;
  background: url("../images/panel_top.svg") #f4f6fa repeat-x;
  background-size: 100% 5px;
  @include card_shadow();
  border-radius: 3px;
}

.itinerary_container {
  display: none;
}

.itinerary_container--active {
  display: block;
}

.itinerary_close {
  width: 20px;
  height: 20px;
  float: right;
  margin: 9px;
  color: $secondary_text;
  background-size: 16px;
  cursor: pointer;
  font-size: 18px;
}

.itinerary_title {
  margin: 0;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #495063;
}

.itinerary__field__clear {
  margin-left: -28px;
  padding: 8px;
  color: $secondary_text;
  cursor: text;
  font-size: 15px;
  display: none;
}

.itinerary_container--start-focused #itinerary_input_origin:valid:focus ~ .itinerary__field__clear,
.itinerary_container--end-focused #itinerary_input_destination:valid:focus ~ .itinerary__field__clear {
  display: inline-block;
  cursor: pointer;
}

.itinerary_fields {
  background: $background;
  @include card_shadow();
  width: 364px;
  margin: 0 18px;
  position: relative;
  border-radius: 3px;
}

.itinerary_icon {
  width: 36px;
  height: 38px;
  float: left;
}

.itinerary_icon_origin {
  font-size: 16px;
  padding: 10px;
  color: $secondary_text;
}

.itinerary_icon_destination {
  color: $secondary_text;
  font-size: 16px;
  padding: 10px;
}

#itinerary_input_origin, #itinerary_input_destination {
  width: 290px;
  height: 40px;
  padding-right: 22px;
  border: none;
  font-size: 17px;
  color: $primary_text;
}

#itinerary_input_origin:disabled, #itinerary_input_destination:disabled {
  color: #dddddd;
}

#itinerary_input_origin::placeholder, #itinerary_input_destination::placeholder {
  font-style: italic;
  color: #c8cbd3;
  font-size: 16px;
}

#itinerary_input_destination {
  border-top: 1px solid #c8cbd3;
}

.itinerary_invert_origin_destination {
  color: $secondary_text;
  background-size: 15px;
  position: absolute;
  width: 17px;
  height: 16px;
  right: 10px;
  top: 33px;
  cursor: pointer;
  font-size: 16px;
}

.itinerary_vehicles {
  height: 55px;
  text-align: center;
  padding: 15px;
}

.itinerary_button_label {
  display: inline-block;
  min-width: 50px;
  height: 28px;
  margin: 0 18px;
  padding-top: 5px;
  border-radius: 14px;
  color: $secondary_text;
  cursor: pointer;
  font-size: 18px;
}

.label_active {
  background: $secondary_text;
  color: $background;
}

.itinerary_autocomplete {
  position: fixed;
  width: 364px;
  background: $background;
  z-index: 2;
  font-size: 16px;
  color: $primary_text;
}

.itinerary_autocomplete_item {
  padding: 5px 10px 0;
  cursor: pointer;
}

.itinerary_suggest_your_position,
.itinerary_autocomplete_item {
  border-left: 3px solid $background;
}
.itinerary_suggest_your_position:hover,
.itinerary_autocomplete_item:hover {
  background: #f4f6fa;
  border-left: 3px solid #ff3b4a;
}

.itinerary_suggest_your_position,
.itinerary_suggest_your_position.selected,
.itinerary_suggest_your_position:hover,
.itinerary_suggest_your_position.selected:hover {
  padding-left: 15px !important;
}

.itinerary_roadmap {
  background: $background;
  overflow: auto;
  max-height: calc(100vh - 290px);
}

.itinerary_leg {
  min-height: 95px;
  position: relative;
  cursor: pointer;
  border-left: 4px solid $background;
  background: $background;
}

.itinerary_leg--active {
  border-left: 4px solid #ff3b4a;
}

.itinerary_leg:hover {
  border-left: 4px solid #ff3b4a;
}

.itinerary_leg_inner {
  min-height: 95px;
  margin: 0 33px;
  border-bottom: 1px solid #e0e1e6;
  padding: 20px 0 0;
}

.itinerary_leg:last-of-type .itinerary_leg_inner {
  border-bottom: none;
}

.itinerary_leg_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 34px;
  top: 35px;
  font-size: 18px;
  color: $primary_text;
}

.itinerary_leg_via {
  width: calc(100% - 190px);
  position: absolute;
  left: 80px;
  text-align: left;
}

.itinerary_leg_via_title {
  font-size: 16px;
  color: $primary_text;
}

.itinerary_leg_via_details {
  font-size: 12px;
  font-weight: 500;
  color: $primary_text;
  margin: 10px 0 0;
}

.itinerary_leg_via_details:hover {
  text-decoration: underline;
}

.itinerary_leg_via_details_icon {
  display: inline-block;
  background: url('../images/direction_icons/arrow-right.svg') no-repeat center center;
  color: $primary_text;
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  background-size: 100%;
  vertical-align: middle;
  transition: transform .2s;
}

.itinerary_leg_via_details_icon.open {
  transform: rotate(90deg);
}

.itinerary_leg_info {
  width: 90px;
  position: absolute;
  right: 35px;
  text-align: right;
}

.itinerary_leg_duration {
  font-size: 16px;
  font-weight: bold;
  color: #ff3b4a;
}

.itinerary_leg_distance {
  font-size: 16px;
  color: $primary_text;
  margin: 5px 0 0;
}

.itinerary_leg_detail {
  margin: 70px 0 0;
  display: block;
}

.itinerary_leg_detail--hidden {
  display: none;
}

.itinerary_marker_origin {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #4ba2ea;
  border: 1px solid $background;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.itinerary_marker_origin_walking {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: $background;
  border: 2px solid #4ba2ea;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.itinerary_marker_destination {
  background-image: url('../images/direction_icons/pin.png');
  background-size: cover;
  width: 30px;
  height: 37px;
  margin: -10px 0 0 4px;
}

.itinerary_marker_step {
  background: $background;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.itinerary_marker_step:hover,
.itinerary_marker_step--highlighted{
  width: 9px;
  height: 9px;
  border: 2px solid rgba(75,162,234,.5);
}

.itinerary_roadmap_icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 11px 18px 0 0;
}

.itinerary_roadmap_step {
  padding-left: 37px;
  position: relative;
  left: -37px;
  border-left: 4px solid $secondary_text;
}

.itinerary_roadmap_step:hover,
.itinerary_roadmap_step--selected {
  border-left: 4px solid #ff3b4a;
}

.itinerary_roadmap_instruction_and_distance {
  display: inline-block;
  vertical-align: top;
  padding: 14px 0;
  width: calc(100% - 75px);
  border-bottom: 1px solid #e0e1e6;
  position: relative;
}

.itinerary_roadmap_step:last-of-type .itinerary_roadmap_instruction_and_distance {
    border-bottom: none;
}

.itinerary_roadmap_step:last-of-type .itinerary_roadmap_icon {
    background-image: url(../images/direction_icons/map-pin-red.svg);
}

.itinerary_roadmap_instruction {
  font-size: 14px;
  color: $primary_text;
}

.itinerary_roadmap_distance {
  width: 60px;
  text-align: right;
  position: absolute;
  right: -50px;
  bottom: -7px;
  font-size: 12px;
  color: $secondary_text;
}

.itinerary_suggest_your_position {
  border-bottom: 1px solid #e0e1e6;
  padding: 15px 10px;
  font-size: 16px;
  color: $primary_text;
}

.itinerary_suggest_your_position_icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  background-size: 100%;
  margin: 0 10px 0 0;
}

.itinerary_autocomplete .autocomplete-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  margin: 11px 10px 0 0;
  float: left;
}

.itinerary_autocomplete:not(:empty){
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.itinerary_suggest_line1 {
  font-size: 16px;
  color: $primary_text;
  padding: 5px 5px 5px 20px;
}

.itinerary_suggest_line2 {
  margin: 0;
  font-size: 14px;
  color: $secondary_text;
  padding: 0px 5px 5px 29px;
}

.itinerary_autocomplete .autocomplete-icon.icon::before {
  font-size: 30px;
  line-height: 10px;
  margin-left: -8px;
}

.itinerary_autocomplete .autocomplete-icon.icon {
  color: $secondary_text;
}

/* ../images/direction_icons */

.itinerary_roadmap_icon_arrive {
  background-image: url('../images/direction_icons/pin.png');
}

.itinerary_roadmap_icon_slight-left {
  background-image: url(../images/direction_icons/arrow-up-left.svg);
}

.itinerary_roadmap_icon_slight-right {
  background-image: url(../images/direction_icons/arrow-up-right.svg);
}

.itinerary_roadmap_icon_straight {
  background-image: url(../images/direction_icons/arrow-up.svg);
}

.itinerary_roadmap_icon_depart {
  background-image: url(../images/direction_icons/crosshair-red.svg);
}

.itinerary_roadmap_icon_roundabout {
  background-image: url(../images/direction_icons/roundabout.svg);
}

.itinerary_roadmap_icon_error {
  background-image:url(../images/direction_icons/alert-triangle.svg);
}

.itinerary_roadmap_icon_reverse {
  background-image:url(../images/direction_icons/reverse.svg);
}

.itinerary_roadmap_icon_sharp-left {
  background-image:url(../images/direction_icons/sharp-left.svg);
}

.itinerary_roadmap_icon_sharp-right {
  background-image:url(../images/direction_icons/sharp-right.svg);
}

.itinerary_roadmap_icon_left {
  background-image:url(../images/direction_icons/corner-up-left.svg);
}

.itinerary_roadmap_icon_right {
  background-image:url(../images/direction_icons/corner-up-right.svg);
}

.itinerary_roadmap_icon_u-turn {
  background-image:url(../images/direction_icons/u-turn.svg);
}

.itinerary_roadmap_icon_waypoint {
  background-image: url('../images/direction_icons/pin.png');
}

.itinerary_close_mobile {
  display: none;
}

.direction_shortcut {
  display: none;
  cursor: pointer;
}


/* Mobile */

@media (max-width: 640px){
  #itinerary_container {
    top: 0;
    left: 0;
    width: 100%;
    background: url("../images/backgrounds/top_mobile.svg") #f4f6fa no-repeat center top;
    background-size: 640px auto;
    position: fixed;
    z-index: 5;
  }
  
  .itinerary_title {
    color: $background;
  }


  
  .itinerary_fields {
    border-radius: 3px;
    width: auto;
  }

  #itinerary_input_origin, #itinerary_input_destination {
    width: calc(100% - 80px);
    font-size: 14px;
  }
  
  .itinerary_autocomplete {
    width: calc(100vw - 36px);
  }
  
  .itinerary_vehicles {
    margin: 8px 5px 5px;
    padding: 0;
    height: auto;
  }
  
  .itinerary_close {
    display: none;
  }
  
  .itinerary_close_mobile {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    color: $background;
    line-height: 17px;
    position: absolute;
    left: 5px;
    top: 10px;
    font-weight: bold;
  }
  
  .itinerary_close_mobile_icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    position: relative;
    top: -4px;
    margin: 0 5px 0 0;
    font-size: 22px;
  }

  .itinerary_input_focused {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100% !important;
    height: 60px !important;
    line-height: 60px;
    background: $background;
    padding: 0 10px 0;
    font-size: 16px;
  }
  
  .itinerary_input_focused ~ .itinerary_autocomplete {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100% !important;
  }

  .itinerary__field__clear {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -28px;
    font-size: 20px;
    padding: 10px;
  }

  .itinerary_leg {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    background: $background;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  }

  .itinerary_leg {
    display: none;
  }

  .itinerary_leg.itinerary_leg--active {
    display: block;
  }

  .itinerary_leg--active,
  .itinerary_leg:hover {
    border: 4px solid $background;
  }

  .itinerary_leg_close {
    display: none;
  }

  .itinerary_leg .itinerary_leg_inner {
    margin: 0 17px;
    padding: 15px 0 0;
  }
  
  .itinerary_leg .itinerary_leg_distance {
    margin: 0;
  }
  
  .itinerary_leg .itinerary_leg_duration {
    float: left;
    margin: 0 5px 0 0;
  }
  
  .itinerary_leg .itinerary_leg_via {
    width: calc(100% - 200px);
    position: absolute;
    left: 17px;
    text-align: left;
    clear: both;
    margin: 10px 0 0;
  }

  .itinerary_leg_inner {
    border-bottom: none;
  }

  .itinerary_leg_preview {
    position: absolute;
    right: 17px;
    bottom: 26px;
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
    border: 1px solid #c8cbd3;
    font-weight: bold;
  }
  
  .itinerary_leg_preview_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    margin: 0 10px 0 10px;
    font-size: 16px;
  }
  
  .itinerary_leg_close {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: $secondary_text;
  }
  
  .itinerary_mobile_step {
    position: fixed;
    top: 36px;
    background: $background;
    margin: 0 15px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    min-height: 75px;
    padding: 0 10px 5px;
    width: calc(100% - 30px);
    user-select: none;

    .itinerary_roadmap_icon_arrive {
      width: 37px;
    }

    .itinerary_roadmap_icon_arrive + .itinerary_roadmap_instruction_and_distance {
      padding: 24px 0;
    }
  }
  
  .itinerary_roadmap_icon {
    width: 48px;
    height: 48px;
    background-size: 100%;
    margin: 14px 10px 0 5px;
  }
  
  .itinerary_roadmap_instruction_and_distance {
    border: none;
  }
  
  .itinerary_roadmap_distance {
    width: 60px;
    text-align: left;
    position: static;
    font-size: 16px;
    margin: 0 0 5px;
  }
  
  .itinerary_mobile_step_buttons {
    width: 96px;
    height: 48px;
    background: $background;
    position: fixed;
    bottom: 30px;
    right: 8px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  
  .itinerary_mobile_step_buttons > div {
    width: 48px;
    height: 48px;
    float: left;
  }
  
  .itinerary_mobile_step_button {
    border-right: 1px solid #f4f6fa;
    font-size: 24px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.itinerary_mobile_step_button--disabled {
      color: $primary_clear
    }
  }

  .service_panel_mobile__direction {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: $secondary_text;
    position: fixed;
    right: 9px;
    bottom: 115px;
    background: $background;
    @include card_shadow();
    font-size: 24px;
  }

  // Force autocomplete to appear on top of docked field
  body .autocomplete_suggestions {
    z-index: 5;
  }

  .itinerary_container--start-focused,
  .itinerary_container--end-focused {
    height: 5px;
    overflow: hidden;

    .itinerary_vehicles {
      display: none;
    }
  }

  #itinerary_input_origin:focus,
  #itinerary_input_destination:focus {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    background: $background;
    padding: 20px 50px 20px 20px;
    height: 60px;
    line-height: 45px;
  }

  .itinerary_container--start-focused #itinerary_input_destination,
  .itinerary_container--end-focused #itinerary_input_origin {
    display: none;
  }

  .autocomplete_suggestions {
    width: 100% !important;
    top: 65px !important;
    left: 0 !important;
  }

  .direction_shortcut {
    display: block;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.2) 0 2px 12px 0;
    position: fixed;
    bottom: 100px;
    right: 9px;
    color: #5c6f84;
    font-size: 25px;
  }

  .direction_shortcut:hover {
    background: #353c52;
    color: #fff;
    background-size: 25px;
  }
}
