.direction-field {
  position: relative;

  .direction-field-return {
    display: none;
  }

  .direction-input {
    position: relative;
    display: flex;
    // reverse to handle icon active style with css
    flex-direction: row-reverse;

    @media (max-width: 640px) {
      font-size: 14px;

      &:focus-within {
        position: fixed;
        display: block;
        z-index: 1;
        top: 8px;
        left: 0;
        width: 100%;
        height: 54px;
        line-height: 50px;
        background-color: $background;

        /* START Focus-gradient effect */
        &::before {
          content: '';
          position: absolute;
          top: 0; right: 10px; bottom: 0; left: 10px;
          z-index: -1;
          margin: -1px;
          height: 50px;
          border-radius: 50px;
          background: $focus-gradient;
        }

        &::after {
          // cover the ::before pseudo-elem
          content: '';
          position: absolute;
          top: 0; right: 10px; bottom: 0; left: 10px;
          z-index: -1;
          height: 48px;
          border-radius: 50px;
          background: $background;
        }
        /* END Focus-gradient effect */

        ~ .direction-field-return {
          display: block;
          position: fixed;
          z-index: 2;
          left: 24px;
          top: 22px;
          font-size: 20px;
          color: #353C52;
        }

        input:valid ~ .direction-field-clear {
          position: fixed;
          right: 30px;
          display: block;
          top: 15px;
          pointer-events: all;
          opacity: 1;
        }
      }
    }

    .direction-icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      flex-shrink: 0;

      @media (max-width: 640px) {
        width: 48px;
      }

      .direction-icon {
        width: 16px;
        height: 16px;
      }

      .direction-icon-origin {
        background-image: url('../images/direction_icons/origin.svg');
      }

      .direction-icon-destination {
        background-image: url('../images/direction_icons/pin.svg');
      }
    }

    input {
      &:valid {
        ~ .direction-icon-block {
          .direction-icon-origin {
            background-image: url('../images/direction_icons/origin-active.svg');
          }

          .direction-icon-destination {
            background-image: url('../images/direction_icons/pin-active.svg');
          }
        }
      }
      &:focus {
        ~ .direction-icon-block {
          .direction-icon-origin {
            background-image: url('../images/direction_icons/origin-focus.svg');
          }

          .direction-icon-destination {
            background-image: url('../images/direction_icons/pin-focus.svg');
          }
        }
      }
    }

    @media (max-width: 640px) {
      input:focus {
        padding-left: 64px;
        ~ .direction-icon-block {
          display: none;
        }
      }
    }

    .direction-field-clear {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 1px;
      padding: 10px;
      color: $secondary_text;
      font-size: 16px;
      pointer-events: none;
    }

    input {
      width: calc(100% - 45px);
      height: 40px;
      border: none;
      color: $primary_text;
      font-size: 16px;
    }

    input:read-only {
      font-size: 14px;
      color: #dddddd;
    }

    input::placeholder {
      font-size: 14px;
      color: $grey-grey;
    }

    input:focus::placeholder {
      color: $grey-semi-darkness;
    }

    input:valid:focus ~ .direction-field-clear {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }
}
