@import './direction-panel';
@import './direction-form.scss';
@import './direction-field.scss';
@import './mobileRouteDetails.scss';
@import './roadmapIcon.scss';
@import './routeLabel.scss';

@mixin active-border {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: calc(100% - 24px);
  border-radius: 0 4px 4px 0;
  background: var(--green-400);
}

.itinerary_no-result {
  text-align: center;
  padding: 25px 50px;
  color: #5c6f84;
  font-size: 16px;
  background: #fff;
}

.itinerary_no-result .icon-alert-triangle {
  color: #c8cbd3;
  font-size: 22px;
  margin: 0 0 11px;
  display: inline-block;
}

.itinerary_leg {
  &--active .itinerary_leg_summary {
    &:before {
      @include active-border;
    }

    .route-summary-info-duration {
      color: var(--green-500);
    }
  }
}

.itinerary_leg_summary {
  padding: 0 $spacing-s $spacing-s;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out;

  @media (min-width: 641px) {
    padding: $spacing-m;

    &:hover {
      background-color: var(--grey-050);
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.itinerary_leg_detailsBtn {
  align-self: flex-end;
  flex-shrink: 0;
  border: 1px solid var(--grey-900) !important;
}

.itinerary_leg_via {
  align-self: flex-end;
  flex-grow: 1;
  margin-right: 9px;
  color: $primary_text;
}

.itinerary_leg_via_title {
  font-size: 16px;
}

.itinerary_marker_origin {
  &::before {
    display: block;
    position: absolute;
    content: '';
    background: var(--green-400);
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
    transform: translateX(-2px) translateY(-2px);
    cursor: pointer;
    width: 18px;
    height: 18px;
    z-index: 2;
  }

  &--geoloc {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 48px;
      height: 48px;
      transform: translateX(-17px) translateY(-17px);
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid var(--green-500);
      z-index: 1;
    }
  }
}

.itinerary_marker_destination {
  background-image: url('../../images/direction_icons/pin.png');
  background-size: cover;
  width: 26px;
  height: 49px;
  cursor: pointer;
  z-index: 2;
}

.itinerary_marker_step {
  background: $background;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.itinerary_marker_step--highlighted {
  width: 9px;
  height: 9px;
  border: 2px solid rgba(75, 162, 234, 0.5);
}

.itinerary_roadmap_item_icon {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  z-index: 1;
}

.itinerary_roadmap {
  .oval {
    width: 14px;
    height: 14px;
    border: solid 2px var(--grey-900);
    padding: 0 5px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .container-pin {
    display: flex;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
  }

  .destination-pin {
    width: 18px;
    height: 24px;
    flex-shrink: 0;
  }

  .divider {
    margin: 0 $spacing-s;

    &:last-child {
      display: none;
    }
  }

  .left-part {
    width: 100px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;

    .hour,
    .container-pin {
      margin-right: var(--spacing-s);
    }
  }

  .itinerary_roadmap_item {
    position: relative;
    transition: background-color 0.2s ease-in-out;

    &:not(.itinerary_roadmap_item--no-hover):hover {
      background-color: var(--grey-050);
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;
      position: relative;

      &:before {
        @include active-border;
      }
    } 

    .itinerary_roadmap_item_icon {
      align-self: center;
      justify-content: center;
    }

    &--walk {
      .itinerary_roadmap_item_icon {
        padding-top: 20px;
      }
    }

    &--transportLine {
      .itinerary_roadmap_item_icon {
        padding-top: 40px;
      }
    }
  }

  &--publicTransport {
    .divider {
      margin-left: 100px;
    }

    .itinerary_roadmap_step_description {
      padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;
    }

    .itinerary_roadmap_step_deistance {
      color: #4b5058;
    }

    .itinerary_roadmap_item_icon {
      align-self: flex-start !important;
      justify-content: flex-end !important;
      width: 100px;
      padding-right: 40px;
    }
  }
}

.itinerary_roadmap_step_description {
  padding: 10px 14px 10px 0;
  flex-grow: 1;

  &--reverse {
    flex-direction: column-reverse;
  }
}

.itinerary_roadmap_item_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    flex-shrink: 0;
    align-self: flex-start;
  }

  .oval {
    position: absolute;
    transform: translate(-31px, 3px);
  }

  .routePtLine__transport-icon {
    transform: translate(0, 2px);
  }
}

.itinerary_roadmap_substep {
  display: flex;
  padding: var(--spacing-s) 0;
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid var(--grey-100);
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  &_bullet {
    background: white;
    border-radius: 50%;
    border: 2px solid;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    left: -31px;
    z-index: 2;
  }

  .roadmapIcon {
    margin: 0 6px 0 0;
    width: 18px;
    height: 18px;
  }
}

.itinerary_roadmap_instruction {
  font-weight: normal !important;
}

.itinerary_roadmap_line {
  position: absolute;
  width: 6px;
  top: 0;
  border-radius: 3px;
  z-index: 1;
  left: 72px;

  &--walk {
    top: -5px;
    background: url(../../images/direction_icons/walking_bullet_roadmap.png) repeat space;
    background-size: 6px 10px;
    height: calc(100% + 15px);
  }

  &--transportLine {
    top: 35px;
    height: calc(100% - 70px);
  }
}

@supports (-moz-appearance: none) {
  .itinerary_roadmap_line--walk {
    background-repeat: repeat-y;
  }
}

button.direction_shortcut {
  display: none;
  cursor: pointer;
  background: #353c52;
  color: #fff;
}

.itinerary_panel__item__share {
  font-size: 16px;
  color: #5c6f84;
}

/* Mobile */

@media (max-width: 640px) {
  .itinerary_result {
    max-height: none;

    &--publicTransport {
      padding-bottom: 32px;
    }
  }

  .itinerary_no-result {
    background-color: transparent;
  }

  .itinerary_result .itemList-item {
    overflow: hidden;
  }

  .itinerary_leg_via {
    grid-area: via;
  }

  .itinerary_roadmap_instruction {
    font-weight: normal !important;
    padding: 14px 0;
    flex-grow: 1;
    line-height: 1.5em;
  }

  button.direction_shortcut {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
    position: fixed;
    bottom: 75px;
    right: 10px;
    font-size: 25px;
    opacity: 1;
    transition: opacity 0.2s;
    background: $action-blue-base url(../../images/direction.svg) center no-repeat;

    &:not(:disabled):hover {
      background: $action-blue-base url(../../images/direction.svg) center no-repeat;
    }

    /* Attempt to fix rare layout bug on iOS */
    transform: translate3d(0, 0, 0);

    .directions-open & {
      display: none;
    }

    &.hidden {
      opacity: 0;
    }
  }

  // Step by step mobile view
  .itinerary_mobile_step_by_step {
    .floatingButton {
      margin-left: $spacing-s;

      i {
        color: $grey-black;
      }
    }

    .divider {
      display: none;
    }

    .itinerary_roadmap_item_icon {
      width: 36px;
      .roadmapIcon {
        margin: $spacing-xs 0;
      }
    }

    .mobile-roadmap-preview-steps {
      display: flex;
      position: fixed;
      bottom: 0;
      padding: 5px 0 19px 0;
      width: 100vw;
      height: auto;
      min-height: 105px;
      overflow: auto;
      scroll-snap-type: x mandatory;
      scroll-padding: 0 35px;
      color: red;

      // Add spacing after the last step
      &:after {
        content: '';
        flex: 0 0 22px;
        visibility: hidden;
      }

      &:not(.expanded) {
        .itinerary_mobile_step .itinerary_roadmap_instruction {
          @include lineClamp(2);
        }
      }

      .itinerary_mobile_step {
        bottom: 12px;
        left: 35px;
        right: 35px;
        min-height: 80px;
        background: $background;
        user-select: none;
        flex: 0 0 calc(100vw - 70px);
        margin: 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        border: none;
        border-radius: 12px;
        box-shadow: $shadow;
        padding: 10px $spacing-s 10px $spacing-xxs;

        &.past {
          background-color: $grey-lighter;

          .itinerary_roadmap_instruction:after {
            background: linear-gradient(#e8e8ed77, $grey-lighter);
          }
        }

        &:first-of-type {
          margin-left: 35px;
        }

        .roadmapIcon {
          width: 20px;
          height: 20px;
        }

        .itinerary_roadmap_item {
          border-left: 0;
          width: 100%;
          height: 100%;
        }

        .itinerary_roadmap_item_icon {
          margin-right: $spacing-s;
        }

        .itinerary_roadmap_instruction {
          grid-area: instruction;
          padding: 0;
          margin-bottom: 2px;
          display: block;
          max-height: 30vh;
          overflow: auto;
        }

        .itinerary_roadmap_distance {
          grid-area: distance;
          text-align: left;
          font-size: 16px;
          margin: 0 0 5px;
        }
      }
    }
  }
}
