.direction-panel {
  &::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--grey-900-alpha16);
    top: 0;
    left: 0;
    width: 100%;
    height: 162px;
    background: var(--green-400);
    z-index: -1;

    @media (min-width: 641px) {
      height: 112px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      z-index: 0;
    }
  }

  &--form-completed {
    &::before {
      height: 112px;
    }
  }

  .direction-panel-mobile-close {
    position: absolute;
    right: 8px;
    top: 16px;
    height: 28px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: 641px) {
    &.panel {
      max-height: calc(100vh - 92px);
    }
  }

  @media (max-width: 640px) {
    @include card_shadow();
    box-shadow: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    .direction-panel-mobile-title {
      width: 100%;
    }
  
    .direction-autocomplete_suggestions {
      position: fixed;
      top: calc(50px + calc(var(--spacing-m) * 2));
      width: 100vw;
      background-color: var(--grey-000);
      overflow-y: auto;
    }
  }

  .panel-content {
    display: flex;
    flex-direction: column;
    z-index: 0;
  }
}

@media (max-width: 640px) {
  .panel.direction-panel-mobile {
    .panel-close {
      top: 15px;
    }

    .itemList > div:not(:first-child) {
      display: none;
    }

    &.maximized, &.panel--holding {
      .itemList > div:not(:first-child) {
        display: block;
        margin-top: 12px;
      }
    }
  }
}

