.direction_panel {
  background: url("../images/panel_top.svg") #f4f6fa repeat-x !important;
  background-size: 100% 5px;

  .panel-content {
    overflow-y: visible;
  }
}

.itinerary_title {
  text-align: center;
  width: 100%;
}

.itinerary__field__clear {
  opacity: 0;
  position: absolute;
  right: 32px;
  top: 1px;
  padding: 10px;
  color: $secondary_text;
  font-size: 16px;
  pointer-events: none;
}

input:valid:focus ~ .itinerary__field__clear {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.itinerary_fields {
  background: $background;
  margin: 0 18px;
  position: relative;
  border-radius: 3px;
}

.itinerary_field {
  position: relative;
}

.itinerary_form {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column-reverse;
}

.itinerary_container--preview .itinerary_form {
  display: none;
}

.itinerary_icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 38px;
}

@mixin icon_origin {
  width: 16px;
  height: 16px;
  background: #4ba2ea;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.itinerary_icon_origin {
  @include icon_origin;
  margin: 15px 11px;
}

.itinerary_icon_destination {
  background-image: url('../images/direction_icons/pin.png');
  background-size: cover;
  width: 14px;
  height: 17px;
  margin: 10px 12px 0 12px;
}

.itinerary_input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 60px 0 44px;
  border: none;
  font-size: 16px;
  color: $primary_text;

  &:read-only{
    color: #dddddd;
  }

  &::placeholder {
    font-style: italic;
    color: #c8cbd3;
    font-size: 16px;
  }
}

.itinerary__form__separator {
  border-top: 1px solid #c8cbd3;
  margin: 0 37px;
}

.itinerary_invert_origin_destination {
  color: $secondary_text;
  background-size: 15px;
  position: absolute;
  width: 20px;
  height: 16px;
  right: 8px;
  top: 30px;
  cursor: pointer;
  font-size: 20px;
}

.itinerary_vehicles {
  display: flex;
  justify-content: center;
  margin: 0px 32px;
  padding: 0px 32px 16px;
}

.itinerary_vehicle_button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 28px;
  border-radius: 14px;
  color: $secondary_text;
  cursor: pointer;
  font-size: 18px;
  margin: 0 18px;
  border: 1px solid transparent;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    border-color: $secondary_text;
  }

  &.icon-public-transport {
    padding: 0 6px 0 9px;
  }

  &--active {
    background: $secondary_text;
    color: $background;
  }

  .testLabel {
    font-family: $font_system;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 1px 6px;
    margin-left: 6px;
    text-transform: uppercase;
  }
}

.itinerary_vehicles--withPublicTransport {
  margin: 0 18px;
  justify-content: space-between;

  .itinerary_vehicle_button {
    margin: 0;
  }
}

.itinerary_no-result {
  text-align: center;
  padding: 25px 50px;
  color: #5c6f84;
  font-size: 16px;
  background: #fff
}

.itinerary_no-result .icon-alert-triangle{
  color: #c8cbd3;
  font-size: 22px;
  margin: 0 0 11px;
  display: inline-block;
}

.itinerary_source {
  background: $background;
  border-top: 1px solid #e0e1e6;
  padding: 9px 18px;
  font-size: 12px;

  a {
    display: flex;
    align-items: center;
    color: $primary_text;
    text-transform: uppercase;
  }

  img {
    height: 18px;
    margin-right: 9px;
  }
}

.itinerary_result {
  overflow: auto;
  max-height: calc(100vh - 290px);

  &--publicTransport {
    max-height: calc(100vh - 330px);
  }
}

.itinerary_leg {
  position: relative;

  &:not(:last-child):after {
    content: '';
    background-color: #e0e1e6;
    height: 1px;
    margin: 0 33px;
    display: block;
  }

  &--active .itinerary_leg_summary,
  &:hover .itinerary_leg_summary {
    border-left: 4px solid #ff3b4a;
  }
}

.itinerary_leg_summary {
  border-left: 4px solid $background;
  display: flex;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}

.itinerary_leg_icon {
  width: 20px;
  height: 20px;
  margin: 0 18px 0 9px;
  font-size: 18px;
  color: $primary_text;
  flex-shrink: 0;
}

.itinerary_leg_via {
  align-self: flex-start;
  flex-grow: 1;
  margin-right: 9px;
  color: $primary_text;
}

.itinerary_leg_via_title {
  font-size: 16px;
}

.itinerary_leg_via_details {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 0;
  text-transform: uppercase;
}

.itinerary_leg_via_details:hover {
  text-decoration: underline;
}

.itinerary_leg_via_details_icon {
  display: inline-block;
  background: url('../images/direction_icons/arrow-right.svg') no-repeat center center;
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  background-size: 100%;
  vertical-align: middle;
  transition: transform .2s;
}

.itinerary_leg_via_details_icon.open {
  transform: rotate(90deg);
}

.itinerary_leg_info {
  text-align: right;
  align-self: flex-start;
  margin-right: 15px;
  font-size: 16px;
}

.itinerary_leg_duration {
  font-weight: bold;
  color: #ff3b4a;
  margin-bottom: 6px;
  white-space: nowrap;
}

.itinerary_leg_distance {
  color: $primary_text;
}

.itinerary_leg_mobileActions {
  display: none;
}

.itinerary_marker_origin {
  @include icon_origin;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.itinerary_marker_destination {
  background-image: url('../images/direction_icons/pin.png');
  background-size: cover;
  width: 30px;
  height: 37px;
  cursor: pointer;
  z-index: 2;
}

.itinerary_marker_step {
  background: $background;
  width: 5px;
  height: 5px;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.itinerary_marker_step--highlighted{
  width: 9px;
  height: 9px;
  border: 2px solid rgba(75,162,234,.5);
}

.itinerary_roadmap_icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 12px 18px 0 12px;
  flex-shrink: 0;
  align-self: flex-start;
}

.itinerary_roadmap_icon_origin {
  &:after {
    @include icon_origin;
    content: '';
    display: block;
    box-sizing: border-box;
  }
  padding: 4px;
}

.itinerary_roadmap_item {
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding-left: 13px;
  border-left: 4px solid $secondary_text;
  position: relative;
  cursor: pointer;
}

.itinerary_roadmap_item:hover {
  border-left: 4px solid #ff3b4a;
}

.itinerary_roadmap {
  .itinerary_roadmap_item:last-of-type .itinerary_roadmap_instruction {
    border-bottom: none;
  }

  &--publicTransport {
    .itinerary_roadmap_item {
      border-left: 4px solid transparent;
      cursor: default;
    }

    .itinerary_roadmap_distance {
      align-self: flex-start;
      padding-top: 14px;
      line-height: 21px;
    }

    .icon-icon_chevron-up,
    .icon-icon_chevron-down {
      align-self: flex-start;
      line-height: 21px;
    }
  }
}

.itinerary_roadmap_item_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;

  &--openable {
    cursor: pointer;
  }
}

.itinerary_roadmap_substep {
  display: flex;
  padding: 3px 0;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  &_bullet {
    background: white;
    border-radius: 50%;
    border: 3px solid;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: -36px;
  }

  .itinerary_roadmap_icon {
    margin: 0 6px 0 0;
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}

.itinerary_roadmap_instruction {
  padding: 14px 0;
  border-bottom: 1px solid #e0e1e6;
  flex-grow: 1;
  line-height: 1.5em;
}

.itinerary_roadmap_line {
  position: absolute;
  width: 7px;
  left: 34px;
  height: calc(100% - 28px);
  top: 38px;
  border-radius: 3px;

  &--walk {
    background: url(../images/direction_icons/walking_bullet_roadmap.png) repeat space;
    background-size: 7px 10px;
  }

  &--transportLine {
    height: calc(100% - 36px);
    top: 42px;
  }
}

@supports (-moz-appearance:none) {
  .itinerary_roadmap_line--walk {
    background-repeat: repeat-y;
  }
}

.itinerary_roadmap_distance {
  flex-basis: 60px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: -6px;
  padding-right: 9px;
  text-align: right;
}

.itinerary_field_return {
  display: none;
}

/* ../images/direction_icons */

.itinerary_roadmap_icon_arrive {
  background-image: url('../images/direction_icons/pin.png');
  background-size: contain;
}

.itinerary_roadmap_icon_slight-left {
  background-image: url(../images/direction_icons/arrow-up-left.svg);
}

.itinerary_roadmap_icon_slight-right {
  background-image: url(../images/direction_icons/arrow-up-right.svg);
}

.itinerary_roadmap_icon_straight {
  background-image: url(../images/direction_icons/arrow-up.svg);
}

.itinerary_roadmap_icon_depart {
  background-image: url(../images/direction_icons/arrow-up.svg);
}

.itinerary_roadmap_icon_roundabout {
  background-image: url(../images/direction_icons/roundabout.svg);
}

.itinerary_roadmap_icon_error {
  background-image:url(../images/direction_icons/alert-triangle.svg);
}

.itinerary_roadmap_icon_reverse {
  background-image:url(../images/direction_icons/reverse.svg);
}

.itinerary_roadmap_icon_sharp-left {
  background-image:url(../images/direction_icons/sharp-left.svg);
}

.itinerary_roadmap_icon_sharp-right {
  background-image:url(../images/direction_icons/sharp-right.svg);
}

.itinerary_roadmap_icon_left {
  background-image:url(../images/direction_icons/corner-up-left.svg);
}

.itinerary_roadmap_icon_right {
  background-image:url(../images/direction_icons/corner-up-right.svg);
}

.itinerary_roadmap_icon_uturn {
  background-image:url(../images/direction_icons/u-turn.svg);
}

.itinerary_roadmap_icon_waypoint {
  background-image: url('../images/direction_icons/pin.png');
}

.itinerary_roadmap_icon_bus {
  background-image:url(../images/direction_icons/bus.svg);
  background-size: 20px;
}

.itinerary_roadmap_icon_metro {
  background-image:url(../images/direction_icons/metro.svg);
  background-size: 20px;
}

.itinerary_roadmap_icon_train {
  background-image:url(../images/direction_icons/train.svg);
  background-size: 20px;
}

.itinerary_roadmap_icon_tram {
  background-image:url(../images/direction_icons/tram.svg);
  background-size: 20px;
}

.itinerary_roadmap_icon_walk {
  background-image:url(../images/direction_icons/walk.svg);
  background-size: 20px;
}

.itinerary_roadmap_icon_stop {
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $primary_text;
  }
}

.itinerary_close_mobile {
  display: none;
}

button.direction_shortcut {
  display: none;
  cursor: pointer;
  background: #353c52;
  color: #fff;
}

.itinerary_panel__item__share {
  font-size: 16px;
  color: #5c6f84;
}

#itinerary_autocomplete_suggestions .autocomplete_suggestions {
  position: relative;
  display: block;
  margin: 0;
  border-radius: 0px;
  box-shadow: none;
}

/* Mobile */

@media (max-width: 640px){
  .direction_panel_mobile {
    @include card_shadow();
    top: 0;
    left: 0;
    width: 100%;
    background: url("../images/backgrounds/top_mobile.svg") #f4f6fa no-repeat center top;
    background-size: 640px auto;
    position: fixed;
    z-index: 3;
    min-height: 42px;

    .itinerary_title {
      color: $background;
      line-height: 36px;
    }
  }

  .itinerary_close_mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $background;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    padding-left: 6px;

    .icon-chevron-left {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -6px 6px 0 0;
      font-size: 22px;
    }
  }

  .itinerary_form {
    margin-bottom: 0;
    flex-direction: column;
  }

  .itinerary_fields {
    @include card_shadow();
  }

  .itinerary_input {
    font-size: 14px;

    &:focus {
      position: fixed;
      z-index: 1;
      top: 5px;
      left: 0;
      width: 100%;
      background: $background;
      padding-right: 60px;
      padding-left: 50px;
      height: 56px;
      line-height: 56px;
      box-shadow: 0 14px 0 10px #fff;
    }
  }

  .itinerary__field__clear {
    position: fixed;
    z-index: 2;
    right: 12px;
    top: 15px;
  }

  .direction_suggestions {
    position: fixed;
  }

  .itinerary_vehicles {
    padding: 9px 0 6px;
  }

  .itinerary_result {
    max-height: none;
  }

  .itinerary_no-result {
    background-color: transparent;
  }

  .panel.directionResult_panel {
    height: auto;

    &:not(.panel--holding) {
      max-height: 50%;
    }

    .panel-header {
      min-height: auto;
    }

    &.maximized {
      height: calc(100% - 160px);
      max-height: none;

      .panel-header {
        padding-top: 9px;
        height: auto;
      }
    }
  }


  .itinerary_result .itemList-item {
    overflow: hidden;
  }

  .itinerary_leg_summary {
    display: grid;
    grid-template-areas: "info" "via" "actions";
    padding: 15px 18px;
  }

  .itinerary_leg_icon,
  .itinerary_leg_via_details,
  .itinerary_panel__item__share {
    display: none;
  }

  .itinerary_leg_info {
    text-align: left;
    grid-area: info;
  }

  .itinerary_leg_via {
    grid-area: via;
  }

  .itinerary_leg_duration,
  .itinerary_leg_distance {
    display: inline-block;
    margin-right: 6px;
  }

  .itinerary_leg_mobileActions {
    display: flex;
    grid-area: actions;
    margin-top: 9px;

    button {
      margin-right: 6px;
    }
  }

  .itinerary_mobile_step {
    position: fixed;
    top: 36px;
    background: $background;
    margin: 0 15px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    width: calc(100% - 30px);
    user-select: none;
    z-index: 3;

    .itinerary_roadmap_item {
      border-left: 0;
      padding: 12px;
      display: grid;
      grid-template-areas: "icon distance" "icon instruction";
      grid-template-columns: 48px;
      grid-column-gap: 12px;
    }

    .itinerary_roadmap_icon {
      grid-area: icon;
      width: 48px;
      height: 48px;
      background-size: contain;
      margin: 0;
    }

    .itinerary_roadmap_instruction {
      grid-area: instruction;
      padding: 0;
      border: none;
    }

    .itinerary_roadmap_distance {
      grid-area: distance;
      text-align: left;
      font-size: 16px;
      margin: 0 0 5px;
    }
  }

  .itinerary_mobile_step_buttons {
    width: 96px;
    height: 48px;
    background: $background;
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  .itinerary_mobile_step_button {
    width: 48px;
    height: 48px;
    float: left;
    border-right: 1px solid #f4f6fa;
    font-size: 24px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      color: $primary_clear;
    }
  }

  button.direction_shortcut {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.2) 0 2px 12px 0;
    position: fixed;
    bottom: 66px;
    right: 9px;
    font-size: 25px;
    opacity: 1;
    transition: opacity .2s;

    /* Attempt to fix rare layout bug on iOS */
    transform: translate3d(0,0,0);

    .directions-open & {
      display: none;
    }

    &.hidden {
      opacity: 0;
    }
  }

  .itinerary_source {
    display: none;
  }

  @keyframes fullscreenLegDetails {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .itinerary_legDetails {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 3;
    animation: fullscreenLegDetails 0.3s forwards;

    &_header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      padding: 12px 18px;
      background-color: $background_active;
      z-index: 1;
      transition: all .2s ease-out;
      font-size: 16px;

      .icon-arrow-left {
        font-size: 24px;
        padding-right: 18px;
      }

      .routeVia {
        flex-grow: 1;
      }

      .itinerary_leg_duration {
        margin: 0 0 0 12px;
      }

      .itinerary_legDetails__scrolled & {
        @include card_shadow();
        background-color: $primary_text;
        color: white;
        transition: all .2s ease-in;

        .itinerary_leg_duration,
        .itinerary_legDetails_back {
          color: white;
          transition: all .2s ease-in;
        }
      }
    }

    &_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 18px;
      font-size: 14px;
      text-transform: uppercase;

      & .button {
        border: none;
        padding: 0;
      }
    }

    .itinerary_roadmap {
      padding-bottom: 48px;
    }

    .itinerary_roadmap_item {
      border-left: 0;
      padding-left: 6px;
    }

    .itinerary_roadmap_line {
      left: 27px;
    }

    &_source {
      padding: 9px 18px 18px;
      font-size: 12px;

      a {
        display: flex;
        align-items: center;
        color: $primary_text;
        text-transform: uppercase;
        justify-content: flex-end;
      }

      img {
        height: 18px;
        margin-right: 9px;
      }
    }
  }

  input:focus ~ .itinerary_field_return,
  input:focus ~ .itinerary_field_icon {
    display: block;
    position: fixed;
    z-index: 2;
  }

  input:focus ~ .itinerary_field_return {
    left: 10px;
    top: 20px;
    font-size: 25px;
    color: #353C52;
  }

  input:focus ~ .itinerary_field_icon {
    right: 42px;
    top: 11px;

    & .itinerary_icon_destination {
      top: 3px;
    }
  }

  input:valid:focus ~ .itinerary__field__clear {
    right: 30px;
  }
}
