@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z78a26');
  src:  url('../fonts/icomoon.eot?z78a26#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?z78a26') format('truetype'),
  url('../fonts/icomoon.woff?z78a26') format('woff'),
  url('../fonts/icomoon.svg?z78a26#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), url(../fonts/Asap-Regular.ttf) format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e913";
}
.icon-chevron-right:before {
  content: "\e914";
}
.icon-chevrons-right:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-x:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e947";
}
.icon-icon_chevron-down:before {
  content: "\e900";
}
.icon-icon_chevron-up:before {
  content: "\e901";
}
.icon-icon_globe:before {
  content: "\e902";
}
.icon-icon_list:before {
  content: "\e903";
}
.icon-icon_star:before {
  content: "\e904";
}
.icon-icon_star-filled:before {
  content: "\e905";
}
.icon-icon_at-sign:before {
  content: "\e906";
}
.icon-icon_award:before {
  content: "\e907";
}
.icon-icon_camera:before {
  content: "\e908";
}
.icon-icon_clock:before {
  content: "\e909";
}
.icon-icon_compass:before {
  content: "\e90a";
}
.icon-icon_edit-2:before {
  content: "\e90b";
}
.icon-icon_info:before {
  content: "\e90c";
}
.icon-icon_minus:before {
  content: "\e90d";
}
.icon-icon_phone:before {
  content: "\e90e";
}
.icon-icon_plus:before {
  content: "\e90f";
}