@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?mctlf6');
  src:  url('/fonts/icomoon.eot?mctlf6#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?mctlf6') format('truetype'),
  url('/fonts/icomoon.woff?mctlf6') format('woff'),
  url('/fonts/icomoon.svg?mctlf6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-cog:before {
  content: "\e994";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-wikipedia:before {
  content: "\eac8";
}
