@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?7iiu1n') format('truetype'),
    url('../fonts/icomoon.woff?7iiu1n') format('woff'),
    url('../fonts/icomoon.svg?7iiu1n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "./asap";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin_geoloc:before {
  content: "\e90d";
  color: #5c6f84;
}
.icon-at-sign:before {
  content: "\e91e";
}
.icon-check:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e913";
}
.icon-chevron-right:before {
  content: "\e914";
}
.icon-chevrons-right:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e91b";
}
.icon-corner-up-left:before {
  content: "\e930";
}
.icon-corner-up-right:before {
  content: "\e90f";
}
.icon-crosshair:before {
  content: "\e931";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-hash:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e91d";
}
.icon-map:before {
  content: "\e920";
}
.icon-map-pin:before {
  content: "\e926";
}
.icon-minus:before {
  content: "\e919";
}
.icon-more-horizontal:before {
  content: "\e916";
}
.icon-navigation:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-share-2:before {
  content: "\e917";
}
.icon-shuffle:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e928";
}
.icon-trash:before {
  content: "\e918";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e921";
}
.icon-x:before {
  content: "\e910";
}
.icon-zap:before {
  content: "\e929";
}
.icon-bike:before {
  content: "\e923";
}
.icon-drive:before {
  content: "\e924";
}
.icon-foot:before {
  content: "\e925";
}
.icon-icon_chevron-down:before {
  content: "\e900";
}
.icon-icon_chevron-up:before {
  content: "\e901";
}
.icon-icon_globe:before {
  content: "\e902";
}
.icon-icon_list:before {
  content: "\e903";
}
.icon-icon_star:before {
  content: "\e904";
}
.icon-icon_star-filled:before {
  content: "\e905";
}
.icon-icon_at-sign:before {
  content: "\e906";
}
.icon-icon_award:before {
  content: "\e907";
}
.icon-icon_camera:before {
  content: "\e908";
}
.icon-icon_clock:before {
  content: "\e909";
}
.icon-icon_compass:before {
  content: "\e90a";
}
.icon-icon_edit-2:before {
  content: "\e90b";
}
.icon-icon_info:before {
  content: "\e90c";
}
.icon-icon_phone:before {
  content: "\e90e";
}
