@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?eb0a0c18c4c83b05aaafe934e45663bb?#iefix") format("embedded-opentype"),
  url("../fonts/iconfont.woff2?eb0a0c18c4c83b05aaafe934e45663bb") format("woff2"),
  url("../fonts/iconfont.woff?eb0a0c18c4c83b05aaafe934e45663bb") format("woff");
}

.icon {
  line-height: 1;
}

.icon:before {
  font-family: iconfont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.icon-aerialway:before {
  content: "\f101";
}
.icon-airfield:before {
  content: "\f102";
}
.icon-airport:before {
  content: "\f103";
}
.icon-alcohol-shop:before {
  content: "\f104";
}
.icon-america-football:before {
  content: "\f105";
}
.icon-amusement-park:before {
  content: "\f106";
}
.icon-aquarium:before {
  content: "\f107";
}
.icon-art-gallery:before {
  content: "\f108";
}
.icon-attraction:before {
  content: "\f109";
}
.icon-bakery:before {
  content: "\f10a";
}
.icon-bank:before {
  content: "\f10b";
}
.icon-bar:before {
  content: "\f10c";
}
.icon-barrier:before {
  content: "\f10d";
}
.icon-baseball:before {
  content: "\f10e";
}
.icon-basketball:before {
  content: "\f10f";
}
.icon-bbq:before {
  content: "\f110";
}
.icon-beer:before {
  content: "\f111";
}
.icon-bicycle:before {
  content: "\f112";
}
.icon-bicycle-share:before {
  content: "\f113";
}
.icon-blood-bank:before {
  content: "\f114";
}
.icon-buddhism:before {
  content: "\f115";
}
.icon-building:before {
  content: "\f116";
}
.icon-building-alt1:before {
  content: "\f117";
}
.icon-bus:before {
  content: "\f118";
}
.icon-cafe:before {
  content: "\f119";
}
.icon-campsite:before {
  content: "\f11a";
}
.icon-car:before {
  content: "\f11b";
}
.icon-castle:before {
  content: "\f11c";
}
.icon-cemetery:before {
  content: "\f11d";
}
.icon-cinema:before {
  content: "\f11e";
}
.icon-circle:before {
  content: "\f11f";
}
.icon-circle-stroked:before {
  content: "\f120";
}
.icon-city:before {
  content: "\f121";
}
.icon-clothing-store:before {
  content: "\f122";
}
.icon-college:before {
  content: "\f123";
}
.icon-commercial:before {
  content: "\f124";
}
.icon-cricket:before {
  content: "\f125";
}
.icon-cross:before {
  content: "\f126";
}
.icon-dam:before {
  content: "\f127";
}
.icon-danger:before {
  content: "\f128";
}
.icon-defibrillator:before {
  content: "\f129";
}
.icon-dentist:before {
  content: "\f12a";
}
.icon-doctor:before {
  content: "\f12b";
}
.icon-dog-park:before {
  content: "\f12c";
}
.icon-drinking-water:before {
  content: "\f12d";
}
.icon-embassy:before {
  content: "\f12e";
}
.icon-emergency-phone:before {
  content: "\f12f";
}
.icon-entrance:before {
  content: "\f130";
}
.icon-entrance-alt1:before {
  content: "\f131";
}
.icon-farm:before {
  content: "\f132";
}
.icon-fast-food:before {
  content: "\f133";
}
.icon-fence:before {
  content: "\f134";
}
.icon-ferry:before {
  content: "\f135";
}
.icon-fire-station:before {
  content: "\f136";
}
.icon-florist:before {
  content: "\f137";
}
.icon-fuel:before {
  content: "\f138";
}
.icon-gaming:before {
  content: "\f139";
}
.icon-garden:before {
  content: "\f13a";
}
.icon-garden-center:before {
  content: "\f13b";
}
.icon-gift:before {
  content: "\f13c";
}
.icon-golf:before {
  content: "\f13d";
}
.icon-grocery:before {
  content: "\f13e";
}
.icon-hairdresser:before {
  content: "\f13f";
}
.icon-harbor:before {
  content: "\f140";
}
.icon-heart:before {
  content: "\f141";
}
.icon-heliport:before {
  content: "\f142";
}
.icon-home:before {
  content: "\f143";
}
.icon-horse-riding:before {
  content: "\f144";
}
.icon-hospital:before {
  content: "\f145";
}
.icon-ice-cream:before {
  content: "\f146";
}
.icon-industry:before {
  content: "\f147";
}
.icon-information:before {
  content: "\f148";
}
.icon-karaoke:before {
  content: "\f149";
}
.icon-landmark:before {
  content: "\f14a";
}
.icon-landuse:before {
  content: "\f14b";
}
.icon-laundry:before {
  content: "\f14c";
}
.icon-library:before {
  content: "\f14d";
}
.icon-lighthouse:before {
  content: "\f14e";
}
.icon-lodging:before {
  content: "\f14f";
}
.icon-logging:before {
  content: "\f150";
}
.icon-marker:before {
  content: "\f151";
}
.icon-marker-stroked:before {
  content: "\f152";
}
.icon-mobile-phone:before {
  content: "\f153";
}
.icon-monument:before {
  content: "\f154";
}
.icon-mountain:before {
  content: "\f155";
}
.icon-museum:before {
  content: "\f156";
}
.icon-music:before {
  content: "\f157";
}
.icon-natural:before {
  content: "\f158";
}
.icon-park:before {
  content: "\f159";
}
.icon-park-alt1:before {
  content: "\f15a";
}
.icon-parking:before {
  content: "\f15b";
}
.icon-parking-garage:before {
  content: "\f15c";
}
.icon-pharmacy:before {
  content: "\f15d";
}
.icon-picnic-site:before {
  content: "\f15e";
}
.icon-pitch:before {
  content: "\f15f";
}
.icon-place-of-worship:before {
  content: "\f160";
}
.icon-playground:before {
  content: "\f161";
}
.icon-police:before {
  content: "\f162";
}
.icon-post:before {
  content: "\f163";
}
.icon-prison:before {
  content: "\f164";
}
.icon-rail:before {
  content: "\f165";
}
.icon-rail-light:before {
  content: "\f166";
}
.icon-rail-metro:before {
  content: "\f167";
}
.icon-ranger-station:before {
  content: "\f168";
}
.icon-recycling:before {
  content: "\f169";
}
.icon-religious-christian:before {
  content: "\f16a";
}
.icon-religious-jewish:before {
  content: "\f16b";
}
.icon-religious-muslim:before {
  content: "\f16c";
}
.icon-residential-community:before {
  content: "\f16d";
}
.icon-restaurant:before {
  content: "\f16e";
}
.icon-roadblock:before {
  content: "\f16f";
}
.icon-rocket:before {
  content: "\f170";
}
.icon-school:before {
  content: "\f171";
}
.icon-scooter:before {
  content: "\f172";
}
.icon-shelter:before {
  content: "\f173";
}
.icon-shop:before {
  content: "\f174";
}
.icon-skiing:before {
  content: "\f175";
}
.icon-slaughterhouse:before {
  content: "\f176";
}
.icon-snowmobile:before {
  content: "\f177";
}
.icon-soccer:before {
  content: "\f178";
}
.icon-square:before {
  content: "\f179";
}
.icon-square-stroked:before {
  content: "\f17a";
}
.icon-stadium:before {
  content: "\f17b";
}
.icon-star:before {
  content: "\f17c";
}
.icon-star-stroked:before {
  content: "\f17d";
}
.icon-suitcase:before {
  content: "\f17e";
}
.icon-sushi:before {
  content: "\f17f";
}
.icon-swimming:before {
  content: "\f180";
}
.icon-teahouse:before {
  content: "\f181";
}
.icon-telephone:before {
  content: "\f182";
}
.icon-tennis:before {
  content: "\f183";
}
.icon-theatre:before {
  content: "\f184";
}
.icon-toilet:before {
  content: "\f185";
}
.icon-town:before {
  content: "\f186";
}
.icon-town-hall:before {
  content: "\f187";
}
.icon-triangle:before {
  content: "\f188";
}
.icon-triangle-stroked:before {
  content: "\f189";
}
.icon-veterinary:before {
  content: "\f18a";
}
.icon-village:before {
  content: "\f18b";
}
.icon-volcano:before {
  content: "\f18c";
}
.icon-warehouse:before {
  content: "\f18d";
}
.icon-waste-basket:before {
  content: "\f18e";
}
.icon-water:before {
  content: "\f18f";
}
.icon-wetland:before {
  content: "\f190";
}
.icon-wheelchair:before {
  content: "\f191";
}
.icon-zoo:before {
  content: "\f192";
}
