.map_control_group {
  margin: 0 10px 10px 0;
  float: right;
  clear: both;
  pointer-events: auto;
  overflow: hidden;
  background: #fff;
  @include card_shadow();
  @include card_radius();
}

.map_control_group__button {
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  color: $primary_text;
  font-size: 20px;
}

.map_control_group__button:hover {
  background-color: rgb(243, 243, 243);
}

.map_control_group__button + .map_control_group__button {
  border-top: 1px solid #ddd;
}

.map_control__compass__icon {
  display: block;
}

.map_control__compass__icon:after {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  background: url("../images/map/compass.svg") no-repeat center;
}

.map_control__compass__icon--mobile:after {
  background: url("../images/map/compass_red.svg") no-repeat center;
}

.map_control_group__button__compass--mobile {
  display: none;
}

.map_control_group__button__compass {
  display: block;
}

.mapboxgl-ctrl-top-right {
  top: 176px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  @extend [class^="icon-"];
  @extend .icon-pin_geoloc;
  background-image: none !important;
  color: $primary_text;
  font-size: 20px;
}

@media(max-width: 640px) {
  .map_control_group {
    background: none;
    box-shadow: none;
    overflow: visible;
    button {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      text-align: center;
      font-size: 24px;
      background: #fff;
      @include long_shadow();
    }
  }

  .mapboxgl-ctrl-group {
    .map_control_group__button__zoom {
      display: none;
    }
  }

  .map_control_group__button__compass {
    display: none;
  }

  .map_control_group__button__compass--mobile {
    display: block;
  }

  .map_control__compass__icon--mobile:after {
    width: 48px;
    height: 48px;
    background-size: 12px;
  }

  .mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
    font-size: 24px;
  }
}

.compass-origin {
  display: none;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate:disabled {
  color: #aaa;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active {
  color: #33b5e5;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active-error {
  color: #e58978;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background {
  color: #33b5e5;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background-error {
  color: #e54e33;
}
