.icon-masq {
  background-image: url('../images/masq/masq.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-masq_dark {
  background-image: url('../images/masq/masq_dark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
