.menu__overlay {
  display: none;
  height: 100%;
  width: 100vw;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(to bottom, rgba(108,118,148,0.98),rgba(53,60,82,0.98));
}

.menu__overlay--active {
  display: block;
  opacity: 0;
  transition: opacity .6s;

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.menu__overlay--fade_active {
  opacity: 1;
}

.menu__panel {
  position: absolute;
  width: 460px;
  height: 100%;
  right: -460px;
  transition: right .3s;
  background: #fff;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.menu__panel__items_container {
  overflow-y: auto;
}

.menu__panel__top {
  width: 100%;
  background: $primary_text;
}

.menu__panel__top__title {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 20px 23px 20px 3px;
  width: 100%;
  color: #ffffff;
  font-size: 22px;
}

.menu__panel__top__icon {
  color: #5c6f84;
  margin-left: 30px;
  margin-right: 20px;
}

.menu__panel__top__title .icon-map {
  color: #4fba4f;
}

.menu__panel__top__close {
  cursor: pointer;
  position: absolute;
  right: 34px;
  top: 18px;
  padding: 5px;
  color: $primary_clear;
}

.menu__panel--active {
  visibility: visible;
  right: 0;
}

.menu__panel__section__icon {
  margin:0 23px 0 30px;
}

.menu__panel__section_title {
  font-size: 22px;
  margin: 10px 0 0 3px;
  font-weight: bold;
  color: $primary_text;
}

.menu__panel__section_title__link {
  color: $primary_text;
}

.menu__panel__section {
  border-left: 1px solid $secondary_text;
  margin: 10px 0 30px 42px;
  padding: 5px 0;
}

.menu__panel__section-internal {
  border-left: none;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e1e6;
  margin-left: 0;
  padding-left: 34px;
}

.menu__panel__link, .menu__panel__action {
  display: block;
  font-size: 16px;
  color: $secondary_text;
  margin: 8px 0 8px 40px;
}

.menu__panel__action:hover {
  text-decoration: none;

  span {
    text-decoration: underline;
  }
}

.menu__panel__action {
  cursor: pointer;
}

.menu__panel__section-internal {
  .menu__panel__action {
    margin: 12px 0 24px 0;
  }

  .menu__panel__action__icon {
    margin: -5px 20px 0 0;
    font-size: 22px;
    vertical-align: middle;
  }
}

.menu__button {
  position: absolute;
  right: 16px;
  top: 18px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: $background;
  @include long_shadow();
  cursor: pointer;
}

.menu__button_not_logged {
  padding: 26px 0 0 24px;
}

.menu__button__line {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #4d4d4c;
  margin-bottom: 4px;
}

.menu__button_profile_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu__button_default_profile_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 55px;
  color: white;
}


@media (max-width: 640px) {
  .menu__button {
    width: 48px;
    height: 48px;
    right: 8px;
    top: 16px;
  }

  .menu__button_not_logged {
    padding: 16px 0 0 14px;
  }

  .menu__panel--active {
    width: 100%;
  }

  .menu__button_default_profile_image {
    font-size: 35px;
  }
}

