
#react_menu__container {
  width: 42px;
  height: $spacing-xxl-4;
  flex-shrink: 0;
}

.no-burger #react_menu__container {
  display: none;
}

$menuPanelWidth: 300px;
$productDrawerWidth: 744px;

@keyframes appearMenu {
  0% { transform: translateX($menuPanelWidth); }
  100% { transform: translateX(0); }
}

@keyframes appearOverlay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.menu__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background: rgba(70, 70, 76, 0.48);
  animation: appearOverlay 0.3s forwards;
}

.menu__panel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  animation: appearMenu 0.3s forwards;
  box-shadow: 0 8px 64px 0 rgba(12, 12, 14, 0.2), 0 16px 32px 0 rgba(12, 12, 14, 0.12);
}

.menu-top {
  height: $top_bar_height;
  padding: 0 $spacing-l;
  justify-content: flex-end;
  flex-shrink: 0;
}

.menu-item {
  display: block;
  padding: $spacing-m $spacing-l;
  color: $grey-black;
  
  // Needed to ensure icons are visually aligned with the first line of text
  svg {
    height: 16px;
    flex-shrink: 0;
  }

  &:hover, &:active {
    text-decoration: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $grey-bright;
    }
  }
}

.menu__button {
  background: $background;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $grey-semi-darkness;
}

.productsDrawer .menu__panel {
  .menu-content {
    overflow-y: auto;
    padding: 0 $spacing-s $spacing-xl-2;
  }

  .card {
    display: block;
    padding: $spacing-l;
    border-radius: 12px;
    box-shadow: $shadow;
    transition: box-shadow 0.3s;
    text-decoration: none;

    &:hover {
      .card-link {
         text-decoration: underline;
      }
    }
  }
    
  .productCard {
    text-align: center;
    margin-bottom: $spacing-s;
  }

  @media (min-width: 641px) {
    width: auto;
    max-width: $productDrawerWidth;

    .menu-content {
      padding: 0 $spacing-xl-2 $spacing-xl-2;
    }

    .products {
      display: grid;
      grid-gap: $spacing-s;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: $spacing-xl-2;
    }

    .productCard {
      margin-bottom: 0;
    }
  }
}


@media (min-width: 641px) {
  #react_menu__container {
    display: none;
  }

  .menu__button-container {
    position: fixed;
    right: $spacing-s;
    top: $spacing-xl;
    flex-direction: row-reverse;
  }

  .menu__button {
    padding: $spacing-s;
    border-radius: 8px;
    box-shadow: $shadow;

    &:hover {
      color: $grey-black;
      background-color: $grey-lighter;
    }

    &--active {
      box-shadow: none;
      color: $grey-black;
      background-color: $grey-lighter;
    }

    &--noShadow {
      box-shadow: none;
    }
  }

  .menu-top {
    height: 88px;
    justify-content: unset;
  }

  .menu__panel {
    width: $menuPanelWidth;
  }
}

