
#react_menu__container {
  width: $spacing-xxl-4;
  height: $spacing-xxl-4;
  flex-shrink: 0;
}

.no-burger #react_menu__container {
  display: none;
}

@keyframes appearMenu {
  0% { transform: translateX(460px); }
  100% { transform: translateX(0); }
}

@keyframes appearOverlay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.menu__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background: linear-gradient(to bottom, rgba(108,118,148,0.98),rgba(53,60,82,0.98));
  animation: appearOverlay 0.3s forwards;
}

.menu__panel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  animation: appearMenu 0.3s forwards;
}

.menu__panel__items_container {
  overflow-y: auto;
}

.menu__panel__top {
  background: $primary_text;
}

.menu__panel__top__title {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 20px 23px 20px 3px;
  width: 100%;
  color: #ffffff;
  font-size: 22px;
}

.menu__panel__top__icon {
  color: #4fba4f;
  margin-left: 18px;
  margin-right: 18px;
}

.menu__panel__top__close {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 5px;
  color: $primary_clear;
}

.menu__panel__section__icon {
  margin:0 23px 0 30px;
}

.menu__panel__section_title {
  font-size: 22px;
  margin: 10px 0 0 3px;
  font-weight: bold;
  color: $primary_text;
}

.menu__panel__section_title__link {
  color: $primary_text;
}

.menu__panel__section {
  border-left: 1px solid $secondary_text;
  margin: 10px 0 30px 42px;
  padding: 5px 0;
}

.menu__panel__section-internal {
  border-left: none;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e1e6;
  margin-left: 0;
  padding-left: 34px;
}

.menu__panel__link, .menu__panel__action {
  display: block;
  font-size: 16px;
  color: $secondary_text;
  margin: 8px 0 8px 40px;
}

.menu__panel__action:hover {
  text-decoration: none;

  span {
    text-decoration: underline;
  }
}

.menu__panel__action {
  cursor: pointer;
}

.menu__panel__section-internal {
  .menu__panel__action {
    margin: 12px 0 24px 0;
  }

  .menu__panel__action__icon {
    margin: -4px 20px 0 0;
    padding: 4px 0;
    font-size: 22px;
    vertical-align: middle;
  }
}

.menu__button {
  background: $background;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__line {
    width: 18px;
    height: 2px;
    background: $grey-black;
    margin: 2px auto;
  }
}

@media (min-width: 641px) {
  #react_menu__container {
    display: none;
  }

  .menu__button {
    position: fixed;
    right: $ui_margin;
    top: $ui_margin;
    width: $top_bar_height;
    height: $top_bar_height;
    border-radius: 50%;
    @include long_shadow();

    &__line {
      margin: 2px auto;
    }
  }

  .menu__panel {
    width: 460px;
  }
}

