@mixin lineClamp($lineCount) {
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

@mixin memphisDropshadow() {
  box-shadow: 6px 6px 0 0 var(--yellow-400);
}