.osm_contribute {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 1px $separator_color;
  border-radius: 8px;
  margin: 12px 0;
  background-color: $grey-bright;
}

.osm_contribute__logo {
  display: block;
  flex: none;
  margin: 7px;
  width: 45px;
  height: 45px;
  background: url("../images/openstreetmap.svg");
  background-size: 45px;
}

.osm_contribute__text_container {
  margin-right: 7px;
}

.osm_contribute__link {
  display: inline-block;
  color: $action-blue-base !important;
  margin-right: 24px;
}
