.osm_contribute {
  width: calc(100% - 50px);
  height: 55px;
  margin-left: 25px;
  border: solid 1px $separator_color;
  @include card_radius();
}

.osm_contribute__logo {
  display: block;
  float: left;
  margin: 7px;
  width: 45px;
  height: 45px;
  background: url("../images/openstreetmap.svg");
  background-size: 45px;
}

.osm_contribute__text_container {
  float: left;
  margin: 10px 15px 0 0;
}

.osm_contribute__title {
  font-size: 12px;
  color: $secondary_text;
}

.osm_contribute__link {
  display: block;
  font-size: 14px;
  color: $secondary_text;
  .icon-chevrons-right {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .osm_contribute__logo {
    display: none;
  }
  .osm_contribute__text_container {
    margin-left: 8px;
  }
}