.osm_contribute {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 1px $separator_color;
  @include card_radius();
  margin-bottom: 12px;
}

.osm_contribute__logo {
  display: block;
  flex: none;
  margin: 7px;
  width: 45px;
  height: 45px;
  background: url("../images/openstreetmap.svg");
  background-size: 45px;
}

.osm_contribute__text_container {
  margin-right: 7px;
}

.osm_contribute__link {
  display: inline-block;
  .icon-chevrons-right {
    font-size: 18px;
  }

  .osm_contribute__icon.edit {
    margin-left: 10px;
  }
}

.osm_contribute__link:hover {
  text-decoration: none;
}

.osm_contribute__icon {
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
}

.osm_contribute__about {
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  color: $action-blue-base;
  margin-right: 24px;
}
