.placeIcon {
  font-size: 32px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &--geoloc {
    color: var(--action-blue-dark);
    background-color: var(--action-blue-lighter);
  }

  &--favorite {
    color: var(--pink-dark);
    background-color: var(--pink-lighter);
  }

  &--history {
    color: var(--purple-dark);
    background-color: var(--purple-lighter);
  }

  &--search {
    background-color: var(--grey-lighter);
  }
}
