.placeIcon {
  display: block;
  font-size: 32px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  // indicates it's using the icomoon font
  &:not(.icon) {
    font-size: 20px;
  }
}
