.poiTitleImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 8px;
  flex-shrink: 0;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .icon {
    font-size: 45px;
    position: relative;

    .ecoResponsible-icon {
      position: absolute;
      width: 20px;
      fill: var(--green-400);
      margin-top: -20px;
      margin-left: -5px;
    }
  }
}
