.poiTitleImage {
  &--image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    background-color: white;
    border-radius: 3px;
  }

  .icon {
    font-size: 45px;
  }
}
