.poi_popup__container {
  position: absolute;

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
  .mapboxgl-popup-tip {
    display: none;
  }
}

.poi_popup {
  width: 300px;
  border-radius: 12px;
  background: $background;
  box-shadow: $shadow-hover;
  padding: $spacing-s;
  position: relative;

  .poiItem {
    align-items: flex-start;
    font-size: 12px;
    line-height: 1.33;
  }

  .poiItem-subclassAndHours {
    display: flex;
    flex-wrap: wrap;
  }

  .poiTitle-main {
    font-size: 14px;
    line-height: 1.29;
  }

  // Directions button
  .button--primary {
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    max-width: 132px;
  }

  // Call / Book / Like / Share buttons
  .button--secondary {
    padding: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    .button-icon {
      font-size: 13px;
    }
  }
}
