.poi_popup__container {
  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
  .mapboxgl-popup-tip {
    display: none;
  }
}

.poi_popup {
  min-width: 300px;
  border-radius: 4px;
  background: $background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-left: 4px solid;
  padding: 20px;
}

.poi_popup__title {
  margin-bottom: -4px;
  font-size: 16px;
}

.poi_popup__category {
  font-weight: normal;
  font-size: 12px;
  color: $secondary_text;
}

.poi_popup__category:first-letter {
  text-transform: uppercase;
}

.poi_popup__address {
  font-size: 14px;
}

.poi_popup__opening {
  font-size: 14px;
}

.poi_popup__title__hour__circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin: 3px 1px;
  border-radius: 50%;
}