.poi_popup__container {

  position: absolute;

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
  .mapboxgl-popup-tip {
    display: none;
  }
}

.poi_popup {
  min-width: 300px;
  border-radius: 4px;
  background: $background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
