* {
  margin: 0;
  padding: 0;
  border:none;
  background: none;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $font_system;
  font-size: 14px;
  line-height: 18px;
  color: $primary_text;
  overflow: hidden;
}

input, button {
  font-family: $font_system;
  font-size: 14px;
}

UL {
  list-style: none;
}

A {
  color: $secondary_variant_text;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

TABLE {
  border-collapse: collapse;
}