* {
  margin: 0;
  padding: 0;
  border:none;
  background: none;
  box-sizing: border-box;
  outline: none;
}

BODY {
  font-family: 'Asap', 'Open Sans', sans-serif;
  overflow: hidden;
}

UL {
  list-style: none;
}

A {
  color: $secondary_variant_text;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

TABLE {
  border-collapse: collapse;
}