.reviewScore {
  font-size: 14px;
  display: inline-block;
  color: #5c6f84;
  margin: 2px 10px 0 0;

  &-stars {
    display: inline-block;

    span {
      padding-right: 3px;
    }
  }

  .icon-icon_star-filled {
    color: #f3b100;
  }

  &-count {
    margin-left: 3px;
  }
}
