.reviewScore {
  color: $secondary_text;
  display: inline-flex;
  align-items: center;

  &-stars {
    display: inline-flex;

    span {
      padding-right: 3px;
    }
  }

  .icon-icon_star-filled {
    color: #f3b100;
  }

  &-count {
    margin-left: 3px;
  }
}
