.routePtLine {
  padding: 2px var(--spacing-xxs);
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  color: var(--grey-900) !important;

  &--dark {
    color: var(--grey-000) !important;
  }

  &__transport-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: var(--spacing-xxxs);
  }
}

.routeVia {
  font-size: 16px;
  line-height: 24px;

  &-step {
    display: inline-block;

    &:not(:last-child):after {
      display: inline-block;
      content: '';
      background-image: url('../../images/regular_icons/icons-regular-icon-chevron-foward.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 16px;
    }

    & > svg {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }

  .routePtLine__transport-icon {
    margin-right: 2px;
  }
}
