.search_form {
  position: relative;
  display: flex;
  margin: 18px 0 0 18px;
  background: #fff;
  @include long_shadow();
  border-radius: 34px;
  width: 400px;
}

.search_form__input {
  width: 330px;
  height: 68px;
  padding: 8px 50px 10px 40px;
  margin-left: 30px;
  margin-right: 40px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  color: $primary_text;
  box-shadow: none;
}

/* Disable Chrome custom 'cancel' button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search_form__logo {
  display: block;
  position: absolute;
  left: 10px;
  top: 8px;
  width: 68px;
  height: 68px;
  font-size: 14px;
  background: url(../images/qwant-logo.svg) no-repeat;
  color: #888;
}

.search_form__action {
  position: absolute;
  width: 30px;
  height: 44px;
  right: 30px;
  top: 12px;
  background: $background url(../images/not-active.svg) center no-repeat;
  background-size: 20px 20px;
  font-size: 14px;
  color: $primary_text;
  cursor: pointer;
}

.search_form__clear {
  display: block;
  height: 60px;
  width: 50px;
  right: 50px;
  top: 4px;
  color: $secondary_text;
  position: absolute;
  cursor: pointer;
}

.search_form__input:valid ~ .search_form__clear {
  display: block;
}

.search_form__input:invalid ~ .search_form__clear {
  display: none;
}

.autocomplete_suggestions {
  text-align: left;
  border-top: 0;
  background: $background;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  margin-top: 8px;
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  cursor: default;
  @include long_shadow();
}

.autocomplete_address {
  padding-left: 6px;
  color : $secondary_text;
}

.autocomplete_suggestion.selected {
  border-left: #f95d00 solid 3px;
  padding-left: 17px;
  background-color: $background_active;
}

.autocomplete_suggestion {
  position: relative;
  max-height: 100vh;
  padding: 7px 0 7px 20px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: $secondary_text;
  background-color: $background;
  transition: background-color .2s;
}

.autocomplete-icon {
  display: inline-block;
  width: 20px;
}

.autocomplete-icon.icon:before {
  font-size: 28px;
  line-height: 18px;
  margin-left: -8px;
}

.autocomplete_suggestion--history {
  color : $secondary_text;
}

.autocomplete_suggestion--history .autocomplete_prefix {
  color : $primary_text;
}

.autocomplete_prefix {
  color : $primary_text;
}

@media (max-width: 640px) {

  .search_form__clear {
    height: 50px;
    width: 28px;
    top:0;
    font-size: 14px;
    color: #5c6f84;
  }

  .search_form {
    height: 48px;
    width: calc(100vw - 16px);
    left: 8px;
    top:16px;
    margin: 0;
  }

  .search_form__input {
    position: absolute;
    width: 100%;
    height: 48px;
    padding: 0 80px 0 12px;
    border-radius: 24px;
  }

  .top_bar--search_focus {
    .search_form {
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 0;
    }

    .search_form__input {
      padding: 0 44px;
      margin: 0;
    }

    .search_form__clear {
      height: 50px;
      right: 40px;
      top: 0;
    }
  }

  .search_form__logo {
    width: 30px;
    height: 30px;
    top: 9px;
    left: 8px;
    background-size: 30px 30px;
  }

  .search_form__action {
    height: 30px;
    right: 12px;
    top: 10px;
  }
}
