.search_form {
  width: calc(100% - 36px);
  max-width: 690px;
  position: relative;
  display: flex;
  margin: 18px 0 0 18px;
  background: #fff;
  border-radius: 34px;
  pointer-events: auto;
  @include long_shadow();
}

.search_form:before {
  font-weight: 600;
  content: 'ALPHA';
  background: $secondary_text;
  color: $surface;
  display: inline;
  position: absolute;
  right: 30px;
  top: -10px;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.search_form__input {
  -webkit-appearance: none;
  width: 100%;
  max-width: 690px;
  height: 68px;
  padding: 10px 38px 10px 50px;
  margin-left: 28px;
  margin-right: 40px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  color: #353c52;
  box-shadow: none;
}

.search_form__input::placeholder {
  color: $secondary_text;
  opacity: .7;
}

.search_form__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search_form__input::placeholder {
  color: $secondary_text;
}

/* Disable Chrome custom 'cancel' button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search_form__logo {
  display: block;
  position: absolute;
  left: 10px;
  top: 8px;
  width: 68px;
  height: 68px;
  font-size: 14px;
  background: url(../images/qwant-logo.svg) no-repeat;
  color: #888;
}

.search_form__action {
  position: absolute;
  width: 30px;
  height: 60px;
  right: 25px;
  top: 4px;
  background: url(../images/magnifier.svg) center no-repeat;
  font-size: 14px;
  color: $primary_text;
  cursor: pointer;
}

.search_form__clear {
  display: block;
  height: 60px;
  width: 30px;
  right: 52px;
  top: 4px;
  color: $secondary_text;
  position: absolute;
  cursor: pointer;
}

.search_form__input:valid ~ .search_form__clear {
  display: block;
}

.search_form__input:invalid ~ .search_form__clear {
  display: none;
}

.autocomplete_suggestions {
  text-align: left;
  border-top: 0;
  background: $background;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  margin-top: 8px;
  /* core styles should not be changed */
  position: absolute;
  display: none;
  overflow: hidden;
  overflow-y: auto;
  cursor: default;
  @include long_shadow();
  @include card_radius();
}

.autocomplete_address {
  padding-left: 6px;
  color : $secondary_text;
}

.autocomplete_suggestion.selected {
  border-left: #FF3B4A solid 3px;
  padding-left: 17px;
  background-color: $background_active;
}

.autocomplete_suggestion {
  position: relative;
  max-height: 100vh;
  padding: 7px 0 7px 20px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: $secondary_text;
  background-color: $background;
  transition: background-color .2s;
  cursor: pointer;
}

.autocomplete_suggestion__first_line {
  display: inline-block;
}

.autocomplete_suggestion__second_line {
  font-size: 14px;
  margin-left: 24px;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.autocomplete-icon {
  display: inline-block;
  width: 20px;
}

.autocomplete-icon.icon:before {
  font-size: 28px;
  line-height: 18px;
  margin-left: -8px;
}

.autocomplete_suggestion--history {
  color : $secondary_text;
}

.autocomplete_suggestion--history .autocomplete_prefix {
  color : $primary_text;
}

.autocomplete_prefix {
  color : $primary_text;
}

@media (max-width: 640px) {

  .search_form:before {
    right: 5px;
  }

  .search_form {
    height: 48px;
    width: calc(100vw - 72px);
    left: 8px;
    top:16px;
    margin: 0;
  }

  .search_form__input {
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 48px;
    padding: 0 68px 0 50px;
    border-radius: 24px;
    margin-left: 0;
  }

  .search_form__action {
    height: 48px;
    right: 12px;
    top: 0;
  }

  .search_form__clear {
    right: 45px;
    height: 48px;
    top: 0;
    font-size: 14px;
  }

  .search_form__input:invalid {
    padding-right: 8px;
  }

  .autocomplete_suggestions {
    margin-top: -1px;
  }

  .search_form__logo {
    width: 34px;
    height: 34px;
    top: 7px;
    left: 8px;
    background-size: 34px 34px;
  }

  .top_bar--search_focus {

    .search_form:before {
      display: none;
    }

    background: url("../images/panel_top.svg");
    .search_form {
      width: 100%;
      top: 4px;
      left: 0;
      border-radius: 0;
      height: 60px;
    }

    .search_form__input {
      height: 60px;
      padding: 3px 60px 0 58px;
      margin: 0;
    }

    .search_form__input:invalid {
      padding-right: 8px;
    }

    .search_form__action {
      height: 60px;
      top: 0;
    }

    .search_form__clear {
      height: 60px;
      right: 40px;
      top: 0;
    }

    .search_form__logo {
      width: 26px;
      height: 26px;
      background-size: 26px;
      top: 15px;
      left: 16px;
    }
  }
}

@media (max-width: 370px) {
  .search_form__input {
    padding-left: 45px;
    letter-spacing: -.5px;
  }
}
