$input-height: 48px;

@mixin memphisDropshadow() {
  box-shadow: 6px 6px 0 0 var(--yellow-400);
}

// Form
.search_form {
  width: 100%;
  height: $top_bar_height;
  position: relative;
  pointer-events: auto;
  display: flex;
  align-items: center;
  background: var(--green-400) !important;
}

// Wrapper around the field and some icons, gets a colored border when the field is focused
.search_form__wrapper {
  height: $input-height;
  padding: 0 $spacing-m;
  background-color: var(--grey-000);
  border-radius: 24px;
  width: 100%;
  position: relative;
  border: var(--memphis-border-width) solid var(--grey-900);
  transition: box-shadow 0.3s ease-in-out;
}

// Input
.search_form__input {
  min-width: 0;
  width: calc(100% - 25px);
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--grey-600);
    transition: color 0.3s ease-in-out;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

// Hover
.search_form__wrapper:hover {
  @include memphisDropshadow();
}

input[type='search'] {
  /* Disable default Safari style */
  -webkit-appearance: none;

  /* Disable Chrome custom 'cancel' button */
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  /* Disable IE11 clear button */
  &::-ms-clear {
    display: none;
  }
}

// Logo
.search_form__logo__button {
  cursor: pointer;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  background: url(../../images/qwant-logo.svg) no-repeat;
  background-size: cover;
  margin: 0 var(--spacing-s) 0 var(--spacing-xs);
}

// Return arrows
.search_form__return {
  display: none;
}

// Magnifying glass
.search_form__action {
  width: 24px;
  height: calc($input-height - calc(2 * var(--memphis-border-width)));
  background: url(../../images//regular_icons/icons-regular-icon-search.svg) center no-repeat;
  background-size: 32px 32px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: $spacing-s;
}

// Clear X icon
.search_form__clear {
  height: 60px;
  width: 30px;
  color: var(--grey-900);
  cursor: pointer;
  line-height: initial;
  display: none;
}

// Directions icon
.search_form__direction_shortcut {
  width: $spacing-xxl-4;
  height: $spacing-xxl-4;
  flex-shrink: 0;
  cursor: pointer;
}

// When the search field is focused (empty or not)
.top_bar--search_focus {
  .search_form__wrapper {
    @include memphisDropshadow();

    input::placeholder {
      color: var(--grey-300);
    }
  }
}

// When the search field is filled (focused or not)
.top_bar--search_filled {
  // Hide directions icon
  button.search_form__direction_shortcut {
    display: none;
  }

  // Show desktop clear X icon
  #clear_button_desktop {
    width: $spacing-xxl-4;
    height: $spacing-xxl-4;
    flex-shrink: 0;
    display: block;
    &:hover::before {
      color: $grey-black;
    }
  }
}

.search_form__result {
  max-height: calc(100vh - #{$top_bar_height});
}

// Mobile
@media (max-width: 640px) {
  .search_form__input {
    margin-left: $spacing-xxs;

    &::placeholder {
      font-size: 16px;
    }
  }

  .search_form__return {
    display: none;
    text-align: center;
    color: $grey-black;
    margin-right: $spacing-xs;
    cursor: pointer;
    position: absolute;
    transition: opacity 0.2s;
    top: 0;
    left: 10px;
    width: 30px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    &:hover {
      color: $primary_text;
    }
  }

  button.search_form__direction_shortcut {
    display: none;
  }

  .search_form__result {
    max-height: none;
    top: $top_bar_height;
    width: 100vw;
    background-color: $background;
    overflow-y: auto;
  }

  $formWidthTransitionDuration: 0.3s;

  // Prepare transition of search field
  .search_form__wrapper {
    transition: margin $formWidthTransitionDuration;
  }

  .search_form__logo__button,
  #react_menu__container {
    opacity: 1;
    transition: opacity $formWidthTransitionDuration;
  }

  .menu__button-container {
    height: 100%;
  }

  .menu__button {
    background-color: transparent;
  }

  // When the search field is filled
  .top_bar--search_filled {
    .search_form__wrapper {
      padding-left: $spacing-s;
    }

    // Show mobile clear X button
    #clear_button_mobile {
      display: block;
      position: absolute;
      right: 10px;
      top: 0;
      height: $input-height;
    }
  }

  // When the search field is focused (empty or not)
  .top_bar--search_focus,
  // or we are on a POI panel coming from a list (category or favs)
  .top_bar--back_action {
    // Show the return arrow
    .search_form__return {
      display: flex;
    }

    // ... and make room for it
    .search_form__wrapper {
      padding-left: 46px;
    }
  }

  // When the field is filled and/or focused
  .top_bar--search_filled,
  .top_bar--search_focus {
    .search_form__wrapper {
      margin-left: -52px;
      margin-right: -33px;
    }

    // Hide desktop clear X icon
    #clear_button_desktop {
      display: none;
    }

    #react_menu__container,
    .search_form__logo__button {
      opacity: 0;
      pointer-events: none;
    }

    // Hide magnifying glass
    .search_form__action {
      display: none;
    }
  }
}
