.search_form {
  @include long_shadow();
  @include panel_radius();
  width: 100%;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  pointer-events: auto;
  padding: 8px 14px;

  &[data-flag-text]:before {
    font-weight: bold;
    content: attr(data-flag-text);
    background: $secondary_text;
    color: #d9d9e0;
    position: absolute;
    left: 28px;
    top: 10px;
    font-size: 10px;
    line-height: 14px;
    padding: 1px 3px;
    border-radius: 6px;
    border: 2px solid white;
  }
}

.search_form__wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  height: 48px;
  padding: 12px 16px;
  border: none;
  background-color: $surface;
  border-radius: 24px;
  margin: 1px;
  display: flex;
  align-items: center;
  position: relative;
}

.top_bar--search_focus {
  .search_form__wrapper {
    background-color: white;

    // Trick to display a gradient border
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: linear-gradient(to right, #216fff, #af27cc);
    }
  }
}

.search_form__input {
  min-width: 0;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #353c52;
  box-shadow: none;

  &::placeholder {
    color: $secondary_text;
    opacity: .7;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.search_form__wrapper:hover {
  .search_form__input:not(:focus)::placeholder {
    opacity: 1;
  }
}

input[type="search"] {
  /* Disable default Safari style */
  -webkit-appearance: none;

  /* Disable Chrome custom 'cancel' button */
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  /* Disable IE11 clear button */
  &::-ms-clear {
    display: none;
  }
}

.search_form__logo {
  flex-shrink: 0;
  display: block;
  width: 36px;
  height: 36px;
  background: url(../images/qwant-logo.svg) no-repeat;
  background-size: cover;
  margin-right: 12px;
}

.search_form__action {
  width: 24px;
  height: 32px;
  background: url(../images/magnifier.svg) center no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
}

.search_form__clear {
  height: 60px;
  width: 30px;
  color: $secondary_text;
  cursor: pointer;
  font-size: 16px;
}

.search_form__input:valid ~ .search_form__clear {
  display: block;
}

.search_form__input:invalid ~ .search_form__clear {
  display: none;
}

.autocomplete_suggestions {
  position: fixed;
  display: block;
  max-height: calc(100vh - 100px);
  text-align: left;
  border-top: 0;
  background: $background;
  margin-top: 8px;
  font-size: 16px;
  /* core styles should not be changed */
  cursor: default;
  @include long_shadow();
  @include card_radius();
  overflow-y: auto;
}

.autocomplete_suggestion {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-left: 0;
  color: $secondary_text;
  background-color: $background;
  transition: background-color .2s;
  cursor: pointer;
  line-height: 1.2;
  border-left: transparent solid 4px;

  &--no-result {
    padding: 15px 10px;
  }

  .selected & {
    border-left-color: #FF3B4A;
    background-color: $background_active;
  }
}

.autocomplete-icon {
  font-size: 28px;
  width: 48px;
  flex-shrink: 0;
  text-align: center;
}

.autocomplete_suggestion--geoloc {
  border-bottom: 1px solid #e0e1e6;
  padding-top: 12px;
  padding-bottom: 12px;

  .autocomplete-icon {
    color: $primary_text;
    font-size: 18px;
  }
}

.autocomplete_suggestion--category {
  .autocomplete-icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
    margin: 0 13px;
    border-radius: 50%;
  }
}

.autocomplete_suggestion--intention {
  .autocomplete-icon {
    width: 48px;
    height: 30px;
    background: url(../images/magnifier.svg) center no-repeat;
    color: #353c52;
  }
}

.autocomplete_suggestion__labels {
  overflow: hidden;
  flex-grow: 1;

  > div {
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.autocomplete_suggestion__first_line {
      color: $primary_text;
    }

    &.autocomplete_suggestion__second_line {
      color: $secondary_text;
      font-size: 14px;
    }

    .autocomplete_suggestion--intention &:first-letter,
    .autocomplete_suggestion--category &:first-letter {
      text-transform: uppercase;
    }
  }
}

.autocomplete_separator_label {
  font-size: 14px;
  color : $primary_clear;
  cursor: default;
  padding: 9px 18px;
}

@media (max-width: 640px) {
  .search_form {
    left: 0;
    top: 0;
  }

  .search_form__input:invalid {
    padding-right: 8px;
  }

  .autocomplete_suggestions {
    position: fixed;
    top: 0;
    bottom: 0;
    max-height: none;
    margin-top: -1px;
    overflow: auto;
  }

  .search_form__logo {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 380px) {
  .search_form__input {
    letter-spacing: -.5px;
  }

  &::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  .search_form__input {
    &::placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color:transparent;
    }
    &::-moz-placeholder {
      color:transparent;
    }
    &:-ms-input-placeholder {
      color:transparent;
    }
  }
}
