$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 20px;
$spacing-xl: 24px;
$spacing-xl-2: 32px;
$spacing-xxl-3: 40px;
$spacing-xxl-4: 48px;
$spacing-xxl-5: 56px;
$spacing-xxl-6: 64px;
$spacing-xxl-7: 80px;
$spacing-xxl-8: 96px;
