.autocomplete_suggestions {
  font-size: 16px;
  /* core styles should not be changed */
  cursor: default;
  padding-bottom: 12px;


  &--empty {
    padding-bottom: 0;

    &:not(:first-child) {
      border-top: none;
    }
  }

  &--history {
    &:not(:first-child) {
      border-top: none;
    }
  }
}

.autocomplete_suggestion {
  display: flex;
  align-items: center;
  background-color: $background;
  transition: background-color 0.2s;
  cursor: pointer;
  line-height: 1.2;
  padding: $spacing-s;

  .selected & {
    background-color: var(--grey-050);
  }

  &--history {
    color: var(--grey-900);

    .autocomplete_suggestion_icon {
      color: var(--grey-400);
    }
  }

  @media (hover: hover) {
    li:hover & {
      background-color: var(--grey-050);
    }
  }
}

.autocomplete_suggestion__labels {
  overflow: hidden;
  flex-grow: 1;

  > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.autocomplete_suggestion__second_line {
      color: $secondary_text;
      font-size: 14px;
    }

    .autocomplete_suggestion--intention &:first-letter,
    .autocomplete_suggestion--category &:first-letter {
      text-transform: uppercase;
    }
  }
}

.autocomplete_error {
  padding: 15px 10px 5px;
  color: $primary_text;
  cursor: default;
}

.autocomplete_suggestion_icon {
  margin-right: $spacing-s;

  @media (min-width: 641px) {
    margin-right: 30px;
  }
}

.manage_history {
  padding: $spacing-l 14px $spacing-xxs 14px;
  
 
  & button {
    text-decoration: underline;
  }
}

.suggestHistoryFooter {
  padding: 0 $spacing-s $spacing-s $spacing-s;
  font-size: 12px;

  a {
    color: $action-blue-base;
  }
}

.historyIcon {
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid var(--purple-500);
  border-radius: 50%;
  margin-bottom: 4px;
}

.historyDisabledIcon {
  width: 36px;
  height: 36px;
  padding: 8px;
  background: $grey-lighter;
  border-radius: 50%;
  margin-bottom: 4px;
}

.historyText {
  font-weight: bold;
}

.historyButtons {
  text-align: right;
}

.historyParagraph {
  display: inline;
  vertical-align: text-top;
}

@media (min-width: 641px) {
  .top_bar {
    .historyPromptWrapper {
      padding: 20px 14px;
      margin: 16px 0 0;
    }
  }

  .top_bar--history-suggest {
    .top_bar {
      box-shadow: none;
      overflow: visible;
      background: none;

      .search_form {
        border-radius: 12px;
        box-shadow: 0 2px 16px 0 rgb(12 12 14 / 20%), 0 4px 8px 0 rgb(12 12 14 / 12%);
        background: #fff;
      }

      .historyPromptWrapper {
        border-radius: 12px;
        box-shadow: 0 2px 16px 0 rgb(12 12 14 / 20%), 0 4px 8px 0 rgb(12 12 14 / 12%);
        background: #fff;

        div svg {
          vertical-align: text-top;
        }

        a {
          color: $action-blue-base;
        }
      }
    }
  }
}
