.autocomplete_suggestions {
  font-size: 16px;
  /* core styles should not be changed */
  cursor: default;
  padding-bottom: 12px;

  .top_bar & {
    border-top: 1px solid $grey-light;
  }
}

.autocomplete_suggestion {
  display: flex;
  align-items: center;
  padding: $spacing-xs 0;
  color: $secondary_text;
  background-color: $background;
  transition: background-color .2s;
  cursor: pointer;
  line-height: 1.2;
  border-left: transparent solid 4px;

  .selected & {
    border-left-color: #FF3B4A;
    background-color: $background_active;
  }

  @media (hover: hover) {
    li:hover & {
      border-left-color: #FF3B4A;
      background-color: $background_active;
    }
  }
}

.autocomplete_suggestion--intention {
  .autocomplete_suggestion_icon_background {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $grey-lighter;
      height: 36px;
      width: 36px;
      border-radius: 50%;
  }
}

.autocomplete_suggestion__labels {
  overflow: hidden;
  flex-grow: 1;

  > div {
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.autocomplete_suggestion__first_line {
      color: $primary_text;
    }

    &.autocomplete_suggestion__second_line {
      color: $secondary_text;
      font-size: 14px;
    }

    .autocomplete_suggestion--intention &:first-letter,
    .autocomplete_suggestion--category &:first-letter {
      text-transform: uppercase;
    }
  }
}

.autocomplete_error {
  padding: 15px 10px 5px;
  color: $primary_text;
  cursor: default;
}

.autocomplete_suggestion_icon {
  margin: 0 28px 0 14px;
}

@media (max-width: 640px) {
  .autocomplete_suggestion_icon {
    margin: 0 $spacing-s;
  }
}
