.survey aside {
  top: 80px;
  right: 10px;
  bottom: auto;
}

@media (max-width: 640px) {
  .survey aside {
    top: 80px;
    max-width: none;
    height: auto;
    left: 10px;
    right: 10px;
    bottom: auto !important;
  }
}