.top_bar {
  width: 100%;
  position: absolute;
  background: url('../images/backgrounds/top_desktop.svg') no-repeat;
  pointer-events: none;
}

@media (max-width: 640px) {
  .top_bar {
    top: 0;
    left: 0;
    width: 100%;
    background: url('../images/backgrounds/top_mobile.svg') no-repeat;
    background-size: 100%;
  }
}
