.top_bar {
  @include long_shadow();
  @include panel_radius();
  background: #fff;
  width: $panel_width;
  left: $ui_margin;
  top: $ui_margin;
  position: relative;
}

.directions-open .top_bar {
  display: none;

  #react_menu__container {
    visibility: visible;
  }
}

@media (max-width: 640px) {
  .top_bar {
    top: var(--spacing-xxxs);
    left: var(--spacing-xxxs);
    width: calc(100% - calc(var(--spacing-xxxs) * 2));
    border-radius: 8px;
    box-shadow: 
      0 2px 16px 0 rgba(12, 12, 14, 0.2),
      0 4px 8px 0 rgba(12, 12, 14, 0.12);
  }
}
