.top_bar {
  position: absolute;
  width: calc(100vw - #{$side_bar_width});
  height: 95px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  top: 0;
  right: 0;
}

.osm_contribute {
  position: absolute;
  right: 30px;
  top: 16px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.35);
}

.osm_contribute__logo {
  display: block;
  float: left;
  margin: 15px 5px 15px 15px;
  width: 32px;
  height: 32px;
}

.osm_contribute__text_container {
  float: left;
  margin: 14px 15px 0 0;
}

.osm_contribute__title {
  font-size: 14px;
  color: #303234;
}

.osm_contribute__link {
  display: block;
  font-size: 14px;
  color: #777;
}

@media (max-width: 640px) {
  .top_bar {
    position: inherit;
  }
}

@media (max-width: 960px) {
  .osm_contribute {
    display: none;
  }
}