.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-center {
  text-align: center;
}

.u-firstCap::first-letter {
  text-transform: uppercase;
}

.u-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.u-as-center {
  align-self: center;
}

/* Temporary typo classes, until we use real components */

.u-text--heading3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.8px;
}

.u-text--heading5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.4px;
}

.u-text--heading6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.u-text--caption {
  font-size: 12px;
  line-height: 16px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--title {
  font-size: 24px;
  line-height: 28px;
  color: $primary_text;
  font-weight: bold;
}

.u-text--subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--smallTitle {
  font-size: 16px;
  line-height: 20px;
  color: $primary_text;
  font-weight: bold;
}

.u-text--body1 {
  font-size: 16px;
  line-height: 20px;
}

.u-color--primary {
  color: $primary_text;
}

.u-color--secondary {
  color: $grey-semi-darkness;
}

.u-ml-auto {
  margin-left: auto;
}

@each $spacingName, $spacingValue in $spacings {
  .u-mt-#{$spacingName} {
    margin-top: $spacingValue;
  }
  .u-mb-#{$spacingName} {
    margin-bottom: $spacingValue;
  }
  .u-mr-#{$spacingName} {
    margin-right: $spacingValue;
  }
  .u-ml-#{$spacingName} {
    margin-left: $spacingValue;
  }
}

.u-flex-shrink-0 {
  flex-shrink: 0;
}
