.u-bold {
  font-weight: bold;
}

.u-placeholder {
  user-select: none;
  color: transparent;
  background-color: #e0e1e6;
  border-radius: 3px;

  &--text {
    margin: 0 0 7px;
    height: 13px;
    display: inline-block;
  }
}
