.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-center {
  text-align: center;
}

.u-firstCap::first-letter {
  text-transform: uppercase;
}

.u-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes placeholderPulse {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

.u-placeholder {
  user-select: none;
  color: transparent;
  background-color: #e0e1e6;
  border: none;
  border-radius: 3px;
  animation: placeholderPulse 0.8s ease-in-out alternate infinite;

  &--text {
    margin: 4px 0 3px;
    height: 13px;
    display: inline-block;
  }

  &--round {
    border-radius: 50px;
  }
}

/* Temporary typo classes, until we use real components */

.u-text--heading6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.u-text--caption {
  font-size: 12px;
  line-height: 16px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--title {
  font-size: 24px;
  line-height: 28px;
  color: $primary_text;
  font-weight: bold;
}


.u-text--subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--smallTitle {
  font-size: 16px;
  line-height: 20px;
  color: $primary_text;
  font-weight: bold;
}

.u-ml-auto {
  margin-left: auto;
}

@each $spacingName, $spacingValue in $spacings {
  .u-mb-#{$spacingName} {
    margin-bottom: $spacingValue;
  }
  .u-mr-#{$spacingName} {
    margin-right: $spacingValue;
  }
}

.u-mb-2 {
  margin-bottom: 2px;
}

.u-flex-shrink-0 {
  flex-shrink: 0;
}
