.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-center {
  text-align: center;
}

.u-firstCap::first-letter {
  text-transform: uppercase;
}

@keyframes placeholderPulse {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

.u-placeholder {
  user-select: none;
  color: transparent;
  background-color: #e0e1e6;
  border: none;
  border-radius: 3px;
  animation: placeholderPulse 0.8s ease-in-out alternate infinite;

  &--text {
    margin: 4px 0 3px;
    height: 13px;
    display: inline-block;
  }

  &--round {
    border-radius: 50px;
  }
}

/* Temporary typo classes, until we use real components */

.u-text--heading6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.u-text--caption {
  font-size: 12px;
  line-height: 16px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--title {
  font-size: 24px;
  line-height: 28px;
  color: $primary_text;
  font-weight: bold;
}


.u-text--subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--smallTitle {
  font-size: 16px;
  line-height: 20px;
  color: $primary_text;
  font-weight: bold;
}

.u-ml-4 {
  margin-left: 4px;
}

.u-mr-4 {
  margin-right: 4px;
}

.u-mr-8 {
  margin-right: 8px;
}

.u-mb-2 {
  margin-bottom: 2px;
}

.u-mb-4 {
  margin-bottom: 4px;
}

.u-mb-8 {
  margin-bottom: 8px;
}

.u-mb-12 {
  margin-bottom: 12px;
}

.u-mb-20 {
  margin-bottom: 20px;
}
