.u-bold {
  font-weight: bold;
}

.u-center {
  text-align: center;
}

.u-firstCap::first-letter {
  text-transform: uppercase;
}

@keyframes placeholderPulse {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

.u-placeholder {
  user-select: none;
  color: transparent;
  background-color: #e0e1e6;
  border-radius: 3px;
  animation: placeholderPulse 0.8s ease-in-out alternate infinite;

  &--text {
    margin: 4px 0 3px;
    height: 13px;
    display: inline-block;
  }
}

/* Temporary typo classes, until we use real components */

.u-text--caption {
  font-size: 12px;
  line-height: 16px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $secondary_text;
  font-weight: normal;
}

.u-text--smallTitle {
  font-size: 16px;
  line-height: 20px;
  color: $primary_text;
  font-weight: bold;
}

.u-mr-4 {
  margin-right: 4px;
}

.u-mb-8 {
  margin-bottom: 8px;
}
