.vehicleSelector {
  display: flex;
  justify-content: center;
  margin: 0px 32px;
  padding: 0px 32px 16px;
}

.vehicleSelector-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 28px;
  border-radius: 14px;
  color: $secondary_text;
  cursor: pointer;
  font-size: 18px;
  margin: 0 18px;
  border: 1px solid transparent;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    border-color: $secondary_text;
  }

  &.icon-public-transport {
    padding: 0 6px 0 9px;
  }

  &--active {
    background: $secondary_text;
    color: $background;
  }

  .testLabel {
    font-family: $font_system;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 1px 6px;
    margin-left: 6px;
    text-transform: uppercase;
  }
}

.vehicleSelector--withPublicTransport {
  margin: 0 18px;
  justify-content: space-between;

  .itinerary_vehicle_button {
    margin: 0;
  }
}

@media (max-width: 640px){
  .vehicleSelector {
    padding: 9px 0 6px;
  }
}