.vehicleSelector {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-m);

  @media (min-width: 641px) {
    justify-content: flex-start;
  }
}

.vehicleSelector-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: var(--spacing-s);
  cursor: pointer;
  color: var(--grey-900);
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  
  & svg { width: 20px; height: 20px; }

  &:hover {
    background-color: var(--grey-000-alpha24);
    transition: background-color 0.2s ease-in-out;
  }
  
  &:focus, &--active {
    background-color: var(--grey-000);
    transition: background-color 0.2s ease-in-out;
  }
}