.error_panel {
  z-index: 2;
}

.search_form {
  z-index: 3;
}

.modal_overlay {
  z-index: 12;
}

.modal {
  z-index: 5;
}

.favorite_panel__item__more {
  z-index: 1;
}

.side_panel__container {
  z-index: 10;
}

.poi_panel, .favorites_panel {
  z-index: 2;
}

.poi_panel__header {
  z-index: 2;
}

.map_control_group {
  z-index: 2;
}

.autocomplete_suggestions {
  z-index: 11;
}

.top_bar {
  z-index: 2;
}

.top_bar--search_focus {
  z-index: 3;
}

.menu__overlay {
  z-index: 5;
}

.menu__button {
  z-index: 3;
}

.menu__panel {
  z-index: 5;
}
