.error_panel {
  z-index: 2;
}

.search_form {
  z-index: 3;
}

.modal_overlay {
  z-index: 6;
}

.modal {
  z-index: 5;
}

.panel_container {
  z-index: 2;
}

.poi_panel, .favorites_panel {
  z-index: 2;
}

.map_control_group {
  z-index: 2;
}

.autocomplete_suggestions {
  z-index: 4;
}

.top_bar {
  z-index: 2;
}

@media (max-width: 640px) {
  .top_bar--search_focus {
    z-index: 4;
  }
}

.menu__overlay {
  z-index: 5;
}

.menu__button {
  z-index: 4;
}

.menu__panel {
  z-index: 5;
}

.poi_popup__container {
  z-index: 6;
}
