.error_panel {
  z-index: 2;
}

.search_form {
  z-index: 1;
}

.share_overlay {
  z-index: 2;
}

.share {
  z-index: 3;
}

.favorite_panel__item__more {
  z-index: 1;
}

.side_panel__container {
  z-index: 2;
}

.poi_panel {
  z-index: 2;
}