PORT: 3000

# Server
server:
  maxBodySize: '5KB' # max request body size on POST
  acceptPostedLogs: true
  acceptPostedEvents: true
  enablePrometheus: true
  services:
    idunn:
      url: # client url will be used by default
      timeout: 2000 # ms

# Services
services:
  geocoder:
    url: override_by_environment
    useLang: true
  idunn:
    url: override_by_environment

# System
system:
  baseUrl: /
  timeout: 3
  evalFiles: true

# Store
masq:
  enabled: false
  title: Qwant Maps
  desc: Maps application developed by Qwant
  icon: /statics/images/masq/maps-app.png
  signalhubUrl: override_by_environment
  baseMasqAppUrl: override_by_environment
  stun:
  turn:

# Map style
mapStyle:
  baseMapUrl: override_by_environment
  poiMapUrl: override_by_environment
  spritesUrl: /mapstyle/
  fontsUrl: /mapstyle/font/
  maxAge: '15m' # string accepted by the ms module, or milliseconds

mapPlugins:
  maxAge: '60s' # string accepted by the ms module, or milliseconds

statics:
  maxAge: 0  # string accepted by the ms module, or milliseconds

performance:
  enabled: false

telemetry:
  enabled: true

direction:
  enabled: false
  timeout: 10 #s
  service:
    api: 'mapbox' # 'mapbox' or 'qwant'
    apiBaseUrl: https://api.mapbox.com/directions/v5/mapbox/
    token: '' # for 'mapbox' only

category:
  enabled: true
