PORT: 3000

# Services
services:
  geocoder:
    url: override_by_environment
  idunn:
    url: override_by_environment

# System
system:
  baseUrl: /
  timeout: 3
  evalFiles: false

# Store
store:
  name: masq # local_store | none | masq | ..
  endpoint: https://sync-beta.qwantresearch.com/
  masq:
    title: Qwant Maps PoC
    desc: A generic app that uses Masq for storage
    icon: https://camo.githubusercontent.com/8b35d12bd9682a31446b08c1483145653aa5006f/68747470733a2f2f692e696d6775722e636f6d2f715a33647130512e706e67

# Map style
mapStyle:
  baseMapUrl: override_by_environment
  poiMapUrl: override_by_environment
  spritesUrl: /mapstyle/
  fontsUrl: /mapstyle/font/
