.modal__maps_feedback{
  width: 640px;
  padding: 30px 24px;
  background: url('../images/popup_top.svg') white repeat-x;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.15);

  .autocomplete_feedback_suggestions {
    .autocomplete_suggestion {
      margin: 6px auto;
      padding: 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        background: #f6f7f8;
      }

      .autocomplete_suggestion__first_line,
      .autocomplete_suggestion__second_line {
        font-size: 14px;
      }
    }
  }

  p {
    color: $secondary_text;
    margin-top: 15px;
  }

  hr {
    border-top: 1px solid #DDD;
    margin: 10px auto;
  }

  .modal__input_control {
    color: $secondary_text;
    margin: 10px auto;

    label {
      font-size: 14px;
    }

    input {
      cursor: pointer;
    }

    textarea {
      border: 1px solid $secondary_text;
      margin: 10px auto;
      height: 80px;
      width: 100%;
    }
  }

  .modal__button {
    max-width: 100px;
  }  
}
