@import "./masq_onboarding.scss";
@import "./masq_activating.scss";

.modal_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #6c7694, #353c52);
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 3px;
  overflow: auto;
}

.modal__maps {
  width: 320px;
  padding: 30px 24px;
  background: url('../images/popup_top.svg') white no-repeat;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
}

.modal--active {
  display: flex;
}

.modal__close {
  position: absolute;
  padding: 16px 10px;
  right: 0;
  top: 0;
  color: $secondary_text;
  font-size: 18px;
  cursor: pointer;
}

.modal__title {
  font-size: 18px;
  color: $primary_text;
  font-weight: normal;
  margin-bottom: 8px;
}

.modal__subtitle {
  display: block;
  font-size: 13px;
  color: $secondary_text;
  margin-bottom: 16px;
}

.modal__hr {
  width: 100%;
  height: 1px;
  border-top: solid 1px $separator_color;
  margin: 16px 0;
}

.modal__button {
  width: 271px;
  height: 35px;
  border-radius: 50px;
  background-color: $primary_text;
  text-transform: uppercase;
  color: $surface;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
