
.modal_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($grey-black, 0.4);
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 12px;
  overflow: auto;
  background: $background;
  box-shadow: 0 8px 64px 0 rgba(12, 12, 14, .12);
  text-align: center;
  width: 305px;
  padding: 0;
}

.modal__maps__pending {
  padding: 272px 0 20px;
  background: url('../images/direction_icons/popup.svg') no-repeat center 12px;
}

.modal__maps__denied, .modal__maps__not-activated {
  padding: 20px 0;
}

.modal__maps__content {
  padding: 0 12px;
}

.modal--active {
  display: flex;
}

.modal__maps .closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.modal__title {
  margin-bottom: 8px;
}

.modal__subtitle {
  margin-bottom: 16px;
}

.modal__hr {
  width: 100%;
  height: 1px;
  border-top: solid 1px $separator_color;
  margin: 16px 0;
}

.modal__button {
  width: 100%;
}

@media (max-height: 450px) {
  .modal__maps {
    padding: 32px 0 20px;
    background: none;
  }
}
