.modal__masq_error {
  background-color: white;
  max-width: 450px;
  border-radius: 3px;
  position: relative;
}

.modal__masq_error__header {
  background-color: #252a39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.modal__masq_error__close {
  position: absolute;
  padding: 16px 10px;
  right: 0;
  top: 0;
  color: #c8cbd3;
  font-size: 22px;
  cursor: pointer;
}

.modal__masq_error__logo {
  height: 66px;
}

.modal__masq_error__body {
  padding: 40px 40px;
  color: #5c6f84;
}

.modal__masq_error__buttons {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.modal__masq_error__button {
  height: 35px;
  width: 100%;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  color: #5c6f84;
  border: solid 1px #c8cbd3;
  margin-right: 20px;
}

.modal__masq_error__title {
  font-size: 22px;
  color: $primary_text;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.modal__masq_error__subtitle {
  display: block;
  font-size: 16px;
  color: $secondary_text;
  margin-bottom: 16px;
}


@media (max-width: 370px) {
  .modal__masq_error {
    width: 100vw;
    height: 100vh;
  }

  .modal__masq_error__buttons {
    flex-direction: column;
    margin-bottom: 55px;
  }

  .modal__masq_error__button {
  }

  .modal__masq_error__title {
    margin-bottom: 10px;
  }

  .modal__masq_error__subtitle {
    display: block;
    font-size: 16px;
    color: $secondary_text;
    margin-bottom: 16px;
  }
}
