.modal__masq_onboarding {
  background-color: #252A39;
  max-width: 450px;
  border-radius: 3px;
  position: relative;
}

.modal__masq_onboarding--hidden {
  display: none
}

.modal__masq_onboarding__header {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.modal__masq_onboarding__close {
  position: absolute;
  padding: 16px 10px;
  right: 0;
  top: 0;
  color: #c8cbd3;
  font-size: 22px;
  cursor: pointer;
}

.modal__masq_onboarding__logo {
  height: 66px;
  width: 124px;
}

.modal__masq_onboarding__body {
  padding: 0 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__masq_onboarding__title {
  color: #d8d8d8;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.modal__masq_onboarding__image {
  background-image: url('../images/masq/gifs/OnBoarding01_732x420.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 366px 210px;
  width: 140px;
  height: 210px;
  margin: 25px auto;
}

.modal__masq_onboarding__buttons {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%
}

.modal__masq_onboarding__button {
  height: 35px;
  width: 100%;
  max-width: 200px;
  border-radius: 50px;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #353c52;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.modal__masq_onboarding__buttons .modal__masq_onboarding__secondary_button {
  background-color: unset;
  color: #f4f6fa;
  border: solid 1px #f4f6fa;
  margin-right: 20px;
}

.modal__masq_onboarding__steps_middle {
  display: flex;
  align-items: center;
  width: 100%
}

.modal__masq_onboarding__steps_header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 10px;
  font-size: 28px;
  color: #ffffff;
}

.modal__masq_onboarding__steps_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 366px 210px;
  width: 140px;
  height: 210px;
  margin: 25px auto;
}

.modal__masq_onboarding__steps_image_1 {
  background-image: url('../images/masq/gifs/OnBoarding02_450x258.gif');
}

.modal__masq_onboarding__steps_image_2 {
  background-image: url('../images/masq/gifs/OnBoarding03_450x258.gif');
}

.modal__masq_onboarding__steps_image_3 {
  background-image: url('../images/masq/gifs/OnBoarding04_450x258.gif');
}

.modal__masq_onboarding__steps_chevron {
  border-radius: 50%;
  border: solid 1px #f4f6fa;
  height: 35px;
  width: 35px;
  color: #c8cbd3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.modal__masq_onboarding__steps_text {
  color: #c8cbd3;
  min-height: 60px;
  text-align: center;
}

.modal__masq_onboarding__steps_slider {
  display: flex;
  justify-content: space-between;
  height: 5px;
  width: 30px;
  margin: 25px 0;
}

.modal__masq_onboarding__steps_dot {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: #5c6f84;
}

.modal__masq_onboarding__steps_dot--active {
  background-color: #e0e1e6;
}

@media (max-width: 370px) {
  .modal__masq_onboarding {
    width: 100vw;
    height: 100vh;
  }

  .modal__masq_onboarding__header {
    padding: 20px 10px;
  }

  .modal__masq_onboarding__body {
    padding: 0 10px 10px 10px;
  }

  .modal__masq_onboarding__steps_header {
    padding: 36px 10px 20px 10px;
  }

  .modal__masq_onboarding__buttons {
    flex-direction: column;
    margin-bottom: 55px;
    align-items: center;
  }

  .modal__masq_onboarding__button {
    max-width: 100vw;
  }

  .modal__masq_onboarding__buttons .modal__masq_onboarding__secondary_button {
    margin-bottom: 10px;
    margin-right: unset;
  }

  .modal__title {
    text-align: center;
  }
}
