#share_url_data {
  @include card_radius();
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 20px 12px;
  background-color: $background;
  border: solid 1px $separator_color;
  font-size: 14px;
  font-style: italic;
  color: $primary_text;
}

.share__link {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: $secondary_text;
  height: 22px;
  vertical-align: middle;
}

.share__icons {
  display: inline-block;
  font-size: 22px;
  padding-right: 6px;
}

.share_copy__link {
  font-size: 12px;
  font-weight: bold;
  color: $secondary_text_clear;
  cursor: pointer;
}

.share_copy__input__container:hover .share_copy__link {
  color : $primary_text
}

.share_copy__status {
  margin-left: 15px;
  font-size: 13px;
  color: $secondary_variant_text;
  transition: color .2s;
}

.share_copy__status__icon {
  font-size: 14px;
}

.share_copy__input__container {
  position: relative;
}

.share_copy__container { /* show link */
  position: absolute;
  top: 2px;
  right: 4px;
}

